{% extends "main::container.html" %}
{% block title %}Formulae - Litterae - Chartae: {{ _('Erklärung zur Barrierefreiheit') }}{% endblock %}

{%block article%}
<div class="container" lang="de">
    <header>
        <h1 class="text-center">ERKLÄRUNG ZUR BARRIEREFREIHEIT</h1>
    </header>
    <section id="impressum-text">
		<p>Diese Erklärung zur Barrierefreiheit gilt für die unter <a class="internal-link" href="https://werkstatt.formulae.uni-hamburg.de">https://werkstatt.formulae.uni-hamburg.de</a> veröffentlichte Website des Formulae – Litterae – Chartae Langzeitvorhabens.</p>
		<p>Als öffentliche Stelle im Sinne der Richtlinie (EU) 2016/2102 sind wir bemüht, unsere Websites und mobilen Anwendungen im Einklang mit den Bestimmungen des Hamburgischen Behindertengleichstellungsgesetzes (nachfolgend bezeichnet als HmbBGG) sowie der Hamburgischen Barrierefreien Informationstechnik-Verordnung (nachfolgend bezeichnet als HmbBITVO) zur Umsetzung der Richtlinie (EU) 2016/2102 barrierefrei zugänglich zu machen. </p>
		<h2>Stand der Vereinbarkeit mit den Anforderungen</h2>
		<p>Die Anforderungen der Barrierefreiheit ergeben sich aus Paragraph 1 HmbBITVO in Verbindung mit den Paragraphen 3 Absätze 1 bis 4 und Paragraph 4 der BITV des Bundes, die auf der Grundlage von Paragraph 11 HmbBGG erlassen wurde.</p>
		<p>Die Überprüfung der Einhaltung der Anforderungen beruht auf einer am im Zeitraum von 10. bis 21. September 2020 durchgeführten Selbstbewertung</p>
		<p>Aufgrund der Überprüfung ist die Website mit den zuvor genannten Anforderungen wegen der folgenden Unvereinbarkeiten teilweise vereinbar.</p>
		<h2>Nicht barrierefreie Inhalte</h2>
		<p>Die nachstehend aufgeführten Inhalte sind aus folgenden Gründen nicht barrierefrei:</p>
        <ol>
			<li class="item">In Mozilla Firefox zeigen die gewählten Optionen in den Auswahlformularen der Seite der erweiterten Suche nicht genügend Kontrast zwischen dem Hintergrund und dem Text im Sinne der Anforderung 9.1.4.3 nach EU Richtlinie EN301 549 V2.1.2 (2018-08). Um dieses Problem zu lösen, empfehlen wir, entweder ein Theme mit hohem Kontrast auf dem Rechner zu benutzen (<a class="outside-link" href="https://support.mozilla.org/de/kb/Eingabehilfen#w_ein-theme-mit-hohem-kontrast-benutzen">https://support.mozilla.org/de/kb/Eingabehilfen#w_ein-theme-mit-hohem-kontrast-benutzen</a>) oder einen anderen Browser (z.B. Chromium) zu benutzen.</li>
			<li class="item">Teile des Mirador Viewers, den wir zur Darstellung von Manuskriptbildern benutzen, sind nicht mit der Tastatur erreichbar und nicht mit der Tastatur bedienbar im Sinne der Anforderung 9.2.1.1 nach EU Richtlinie EN301 549 V2.1.2 (2018-08). Weil diese Teile im Mirador Viewer sind, können wir diese Problem nicht beheben.</li>
			<li class="item">Manche Teile der Bilder im Mirador Viewer haben kein Label im Sinne der Anforderung 9.1.1.1 ncah EU Richtlinie EN301 549 V2.1.2 (2018-08). Wir sind dabei, dieses Problem zu erforschen, und werden voraussichtlich bis Ende 2020 prüfen, ob Labels eingefügt werden können.</li>
			<li class="item">Die Griffe ("handles") auf der Leseseite, um die Größe der linken und rechten Spalten zu ändern, sind nicht mit der Tastatur erreichbar und nicht mit der Tastatur bedienbar im Sinne der Anforderung 9.2.1.1 nach EU Richtlinie EN301 549 V2.1.2 (2018-08). Dieses Problem werden wir voraussichtlich bis Ende 2020 beheben.</li>
			<li class="item">Die Griffe ("handles") auf der Leseseite, um die Größe der Textkästen im Reihenleseformat zu ändern, sind nicht mit der Tastatur erreichbar und nicht mit der Tastatur bedienbar im Sinne der Anforderung 9.2.1.1 nach EU Richtlinie EN301 549 V2.1.2 (2018-08). Dieses Problem werden wir voraussichtlich bis 30. November 2020 beheben.</li>
			<li class="item">Teile der Leseseite sind mit 400% Vergrößerung nicht gut lesbar im Sinne der Anforderung 9.1.4.10 nach EU Richtlinie EN301 549 V2.1.2 (2018-08). Dieses Problem werden wir voraussichtlich bis 30. November 2020 beheben.</li>
			<li class="item">Tooltips verschwinden nur, wenn die Maus bewegt wird. Das entspricht nicht der Anforderung 9.1.4.13 nach EU Richtlinie EN301 549 V2.1.2 (2018-08). Dieses Problem werden wir voraussichtlich bis 31. Oktober 2020 beheben.</li>
			<li class="item">Tooltips verschwinden sofort, wenn die Maus bewegt wird. Das bedeutet, wenn der Mauszeiger den Inhalt vom Tooltip teilweise oder vollständig bedeckt, ist es nicht möglich, den Zeiger aus dem Weg zu bewegen. Das entspricht nicht der Anforderung 9.1.4.13 nach EU Richtlinie EN301 549 V2.1.2 (2018-08). Dieses Problem werden wir voraussichtlich bis 31. Oktober 2020 beheben.</li>
			<li class="item">Wenn der Benutzer die Leseseit mit der Tastatur navigiert, bekommen die Fußnoten den Fokus vor dem zugehörigen Text. Durch diese Reihenfolge geht der Zusammenhang zwischen Text und Fußnoten verloren, was der Anforderung 9.2.4.3 nach EU Richtlinie EN301 549 V2.1.2 (2018-08) nicht entpricht. Dieses Problem werden wir voraussichtlich bis 30. November 2020 beheben.</li>
			<li class="item">Die Übergänge zwischen Sprachen auf einer Seite (zum Beispiel von Deutsch auf Latein in Fußnoten) sind nicht immer klar markiert. Das entspricht nicht der Anforderung 9.3.1.2 nach EU Richtlinie EN301 549 V2.1.2 (2018-08). Dieses Problem werden wir voraussichtlich bis Ende 2020 beheben.</li>
        </ol>
		<h2>Datum der Erstellung bzw. der letzten Aktualisierung der Erklärung zur Barrierefreiheit </h2>
		<p>Diese Erklärung wurde am 21. September, 2020 erstellt und zuletzt am 23. September, 2020 überprüft. </p>
		<h2>Barrieren melden: Kontakt zu den Feedback Ansprechpartnern</h2>
		<p>Sie möchten uns bestehende Barrieren mitteilen oder Informationen zur Umsetzung der Barrierefreiheit erfragen? Für Ihr Feedback sowie alle weiteren Informationen sprechen Sie unsere verantwortlichen Kontaktpersonen unter <a class="internal-link" href="{{url_for('InstanceNemo.r_contact')}}">{{url_for('InstanceNemo.r_contact', _external=True)}}</a> an.</p>
		<h2>Schlichtungsverfahren </h2>
		<p>Wenn auch nach Ihrem Feedback an den oben genannten Kontakt keine zufriedenstellende Lösung gefunden wurde, können Sie sich an die Schlichtungsstelle nach Paragraph 13 a HmbBGG wenden. Die Schlichtungsstelle hat die Aufgabe, bei Konflikten zum Thema Barrierefreiheit zwischen Menschen mit Behinderungen und öffentlichen Stellen eine außergerichtliche Streitbeilegung zu unterstützen. Das Schlichtungsverfahren ist kostenlos. Es muss kein Rechtsbeistand eingeschaltet werden.</p>
		<p>Zur Zeit übernimmt die Ombudsstelle der Senatskanzlei die Tätigkeiten der noch einzurichtenden Schlichtungsstelle.</p>
		<p>Kontaktmöglichkeiten:</p>
		<p>E-Mail: <a class="outside-link" href="mailto:ombudsstelle.barrierefreie-it@sk.hamburg.de">ombudsstelle.barrierefreie-it@sk.hamburg.de</a></p>
		<p>Telefonische Sprechzeiten</p>
		<p>Tel: (040) 428 23 2057</p>
		<p>Mo.: 10.00 – 11.00 Uhr</p>
    </section>
</div>
{% endblock %}
