<!-- LINKS TO SEARCH RESULTS -->
<div class="card border-light">
    
        <!-- Card header controlling the "collapse" instruction text. -->
    <div class="card-header"
        id="instrNoteHead"
        data-toggle="collapse"
        data-target="#instructionsNotes"
        aria-expanded="true"
        aria-controls="instructionsNotes">
        {{ _('Ergebnisse der letzten Suche') }}
    </div>
    <div class="card-body p-2 search-hit-menu">
        
        <!-- Notes in individual boxes, triggered by a click on their labels inside the text. -->
        {% for hit in session['previous_search'] %}
            {% if hit['_id'] not in request.url %}
            <div class="card search-hit">
            <a href="{{url_for('InstanceNemo.r_multipassage', objectIds=[prev_texts, hit['_id']]|join_list_values('+'), subreferences=[prev_reffs, 'all']|join_list_values('+'))}}"><span>{{ hit['_source']['title'] }}</span></a>
            </div>
            {% endif %}
        {% endfor %}
        </div>
        
    </div>
