<!-- MANUSCRIPT MENU -->
<div class="dropdown">
    <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ _('Vergleichen mit einen anderen Text von:') }}
    </button>
    <div class="dropdown-menu">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a href="{{url_for('InstanceNemo.r_add_text_collection', objectId='formulae_collection', objectIds=prev_texts, reffs=prev_reffs)}}">{{ _('Formeln') }}</a>
            </li>
            <li class="list-group-item">
                <a href="{{url_for('InstanceNemo.r_add_text_collection', objectId='lexicon_entries', objectIds=prev_texts, reffs=prev_reffs)}}">{{ _('Lexikon') }}</a>
            </li>
            <li class="list-group-item">
                <a href="{{url_for('InstanceNemo.r_add_text_collection', objectId='other_collection', objectIds=prev_texts, reffs=prev_reffs)}}">{{ _('Andere Texte') }}</a>
            </li>    
        </ul>
    </div>
</div>
