
                    <div class="card">
                        <h3 class="card-header" id="part-Arenga">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#part-collapse-Arenga" aria-expanded="true" aria-controls="part-collaps
e-Arenga">
                            <h4>Arengen</h4>
                            </button>
                        </h3>
                        <div id="part-collapse-Arenga" class="collapse" aria-labelledby="part-category-Arenga" data-parent="#partAccordion">
                            <div class="card-body">
                                <table id="ArengaPartsTable" class="table table-sm table-hover table-bordered" aria-label="Arengen {{ _('Tabelle') }}">
                                    <thead>
                                        <tr>
                                            <th id="Arenga-title-charter-column" scope="col">{{ _('Urkunde') }}</th>
                                            <th id="Arenga-all-charter-date-column" scope="col">{{ _("Datum") }}</th>
                                            <th id="Arenga-type-charter-column" scope="col">{{ _('Urkundenart') }}</th>
                                            <th id="Arenga-charter-column" scope="col">Arenga</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <h3 class="card-header" id="part-Poenformel-Vordersatz-">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#part-collapse-Poenformel-Vordersatz-" aria-expanded="true" aria-controls="part-collaps
e-Poenformel-Vordersatz-">
                            <h4>Poenformel (Vordersatz)</h4>
                            </button>
                        </h3>
                        <div id="part-collapse-Poenformel-Vordersatz-" class="collapse" aria-labelledby="part-category-Poenformel-Vordersatz-" data-parent="#partAccordion">
                            <div class="card-body">
                                <table id="Poenformel-Vordersatz-PartsTable" class="table table-sm table-hover table-bordered" aria-label="Poenformel (Vordersatz) {{ _('Tabelle') }}">
                                    <thead>
                                        <tr>
                                            <th id="Poenformel-Vordersatz--title-charter-column" scope="col">{{ _('Urkunde') }}</th>
                                            <th id="Poenformel-Vordersatz--all-charter-date-column" scope="col">{{ _("Datum") }}</th>
                                            <th id="Poenformel-Vordersatz--type-charter-column" scope="col">{{ _('Urkundenart') }}</th>
                                            <th id="Poenformel-Vordersatz--charter-column" scope="col">Poenformel (Vordersatz)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <h3 class="card-header" id="part-Poenformel-Strafklausel-">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#part-collapse-Poenformel-Strafklausel-" aria-expanded="true" aria-controls="part-collaps
e-Poenformel-Strafklausel-">
                            <h4>Poenformel (Strafklausel)</h4>
                            </button>
                        </h3>
                        <div id="part-collapse-Poenformel-Strafklausel-" class="collapse" aria-labelledby="part-category-Poenformel-Strafklausel-" data-parent="#partAccordion">
                            <div class="card-body">
                                <table id="Poenformel-Strafklausel-PartsTable" class="table table-sm table-hover table-bordered" aria-label="Poenformel (Strafklausel) {{ _('Tabelle') }}">
                                    <thead>
                                        <tr>
                                            <th id="Poenformel-Strafklausel--title-charter-column" scope="col">{{ _('Urkunde') }}</th>
                                            <th id="Poenformel-Strafklausel--all-charter-date-column" scope="col">{{ _("Datum") }}</th>
                                            <th id="Poenformel-Strafklausel--type-charter-column" scope="col">{{ _('Urkundenart') }}</th>
                                            <th id="Poenformel-Strafklausel--charter-column" scope="col">Poenformel (Strafklausel)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <h3 class="card-header" id="part-Stipulationsformel">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#part-collapse-Stipulationsformel" aria-expanded="true" aria-controls="part-collaps
e-Stipulationsformel">
                            <h4>Stipulationsformel</h4>
                            </button>
                        </h3>
                        <div id="part-collapse-Stipulationsformel" class="collapse" aria-labelledby="part-category-Stipulationsformel" data-parent="#partAccordion">
                            <div class="card-body">
                                <table id="StipulationsformelPartsTable" class="table table-sm table-hover table-bordered" aria-label="Stipulationsformel {{ _('Tabelle') }}">
                                    <thead>
                                        <tr>
                                            <th id="Stipulationsformel-title-charter-column" scope="col">{{ _('Urkunde') }}</th>
                                            <th id="Stipulationsformel-all-charter-date-column" scope="col">{{ _("Datum") }}</th>
                                            <th id="Stipulationsformel-type-charter-column" scope="col">{{ _('Urkundenart') }}</th>
                                            <th id="Stipulationsformel-charter-column" scope="col">Stipulationsformel</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <h3 class="card-header" id="part-Überleitungsformel">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#part-collapse-Überleitungsformel" aria-expanded="true" aria-controls="part-collaps
e-Überleitungsformel">
                            <h4>Überleitungsformel</h4>
                            </button>
                        </h3>
                        <div id="part-collapse-Überleitungsformel" class="collapse" aria-labelledby="part-category-Überleitungsformel" data-parent="#partAccordion">
                            <div class="card-body">
                                <table id="ÜberleitungsformelPartsTable" class="table table-sm table-hover table-bordered" aria-label="Überleitungsformel {{ _('Tabelle') }}">
                                    <thead>
                                        <tr>
                                            <th id="Überleitungsformel-title-charter-column" scope="col">{{ _('Urkunde') }}</th>
                                            <th id="Überleitungsformel-all-charter-date-column" scope="col">{{ _("Datum") }}</th>
                                            <th id="Überleitungsformel-type-charter-column" scope="col">{{ _('Urkundenart') }}</th>
                                            <th id="Überleitungsformel-charter-column" scope="col">Überleitungsformel</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>