<!-- Extra information for Bourges -->

    
    <div class="row">
        <div class="col-6">
            <h5>{{ _('Zur Sammlung') }}:</h5>
            <p class="mb-0">Formelmaterial aus Bourges ist in vier Handschriften überliefert:</p>
            <ul class="mb-0">
            <li>Paris, BnF, Lat. 10756, fol. 62<span class="verso-recto">r</span>-71<span class="verso-recto">v</span> (<b>P<span class="manuscript-number">16</span><span class="verso-recto">c</span></b>)</li>
            <li>Bern Burgerbibliothek 611, fol. 42<span class="verso-recto">r</span>-93<span class="verso-recto">v</span> (<b>Be<span class="manuscript-number">4</span></b>)</li>
            <li>Paris, BnF, Lat. 4629 (<b>P<span class="manuscript-number">13</span></b>)</li>
            <li>Leiden, UB, BPL, 114 (<b>Le<span class="manuscript-number">1</span></b>)</li>
            </ul>
            <p>Die Handschriften <b>P<span class="manuscript-number">16</span><span class="verso-recto">c</span></b> und <b>Be<span class="manuscript-number">4</span></b> sind Reste desselben Codex aus Bourges. Jede Handschrift überliefert Formelmaterial mit einem Bezug zu Bourges, das in den anderen Codices jeweils nicht enthalten ist. <b>Le<span class="manuscript-number">1</span></b> überliefert eine große Formelsammlung, die in Bourges aus Marculf-Material und eigenem Formelgut zusammengestellt wurde.</p>
            <p>Anhand der Überlieferung lassen sich drei abgrenzbare Sammlungen von Formelmaterial aus Bourges identifizieren:</p>
            <table class="table table-borderless table-sm">
                <tbody>
                    <tr><th class="py-0" scope="row">Bourges A</th>
                    <td class="py-0">Formeln aus <b>P<span class="manuscript-number">16</span><span class="verso-recto">c</span></b> + <b>Be<span class="manuscript-number">4</span></b></td></tr>
                    <tr><th class="py-0" scope="row">Bourges B</th>
                    <td class="py-0">Formeln aus <b>P<span class="subscript smaller-text">13</span></b></td></tr>
                    <tr><th class="py-0" scope="row">Bourges C</th>
                    <td class="py-0">eigenständiges Material aus <b>Le<span class="subscript smaller-text">1</span></b></td></tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h5>{{ _('Zur Kondordanz') }}:</h5>
            <p>
            Karl Zeumer war die Zusammengehörigkeit von Bern Burgerbibliothek 611, fol. 42<span class="verso-recto">r</span>-93<span class="verso-recto">v</span> (<b>Be<span class="manuscript-number">4</span></b>) mit Paris, BnF, Lat. 10756, fol. 62<span class="verso-recto">r</span>-71<span class="verso-recto">v</span> (<b>P<span class="manuscript-number">16</span><span class="verso-recto">c</span></b>) unbekannt. Die Formeln aus <b>Be<span class="manuscript-number">4</span></b> sind in den <i>Formulae Bituricenses</i> nicht ediert. Anderes Formelgut wurde aus der Edition ausgegliedert oder ganz ausgesondert. Die Ausgabe Zeumer ist über alle drei historisch nachweisbaren Sammlungen hinweg durchgehend nummeriert.
            </p>
            <p class="mb-0">
            Die <a class="outside-link" href="{{url_for('InstanceNemo.static', filename='pdf_folder/bourges_konkordanz.pdf')}}" target="_blank" id="bourges_concordance_link" data-toggle="tooltip" data-container="#bourges_concordance_link" title="{{ _('Konkordanz im neuen Tab öffnen') }}">Konkordanz</a> ermöglicht die Zuordnung der Edition zur Ausgabe Zeumer.
            <p>
        </div>
    </div>
