{% extends "main::container.html" %}
{% block title %}Formulae - Litterae - Chartae: {{ _('Formelhafte Bestandteile in Urkunden') }}{% endblock %}

{%block article%}
<div class="container">
    <header>
        <h3 class="text-center">{{ _('Formelhafte Bestandteile in Urkunden') }}</h3>
    </header>
    <div class="row">
        <div class="col">
            <h5 class="text-center"><a class="internal-link"
                  href="{{ url_for('InstanceNemo.r_parts') }}">{{ _('Zu den Urkundenteilen') }}</a></h5>
        </div>
        <div class="col">
            <h5 class="text-center"><a class="internal-link"
                  href="{{ url_for('InstanceNemo.r_groups') }}">{{ _('Zu den Urkundengruppen') }}</a></h5>
        </div>
        <div class="col">
            <h5 class="text-center"><a class="internal-link"
                  href="{{ url_for('InstanceNemo.r_part_groups') }}">{{ _('Zu den Gruppen ähnlicher Urkundenteile') }}</a></h5>
        </div>
        <div class="col">
            <h5 class="text-center"><a class="internal-link"
                  href="{{ url_for('InstanceNemo.r_formulae_formulae') }}">{{ _('Zu den Entsprechungen zwischen verschiedenen ') }}<i>formulae</i></a></h5>
        </div>
        <div class="col">
            <h5 class="text-center"><a class="internal-link"
                  href="{{ url_for('InstanceNemo.r_formulae_charter') }}">{{ _('Zu den Entsprechungen zwischen Urkunden und ') }}<i>formulae</i></a></h5>
        </div>
    </div>
    <section id="landing-text">
        <h4>Wie formulierte man Privaturkunden im frühmittelalterlichen Alemannien und Bayern?</h4>
        <p>In der Forschung herrschte lange Zeit die Vorstellung vor, dass frühmittelalterliche Schreiber für die Formulierung von Urkunden, die Güterübertragungen von Laien an kirchliche Institutionen dokumentieren, auf die Verwendung von Textvorlagen geradezu angewiesen gewesen seien – scheinbar starre und stereotype Formulierungen von Urkundentexten seien so über viele Jahrhunderte hinweg von den Schreibern von Generation zu Generation ohne jede Form von Varianz weitergegeben worden. Einen vermeintlichen Beleg für diese Theorie erblickte man in der Existenz einer ganz bestimmten Quellengattung: Hierbei handelt es sich um die frühmittelalterlichen Formelsammlungen. Da diese Sammlungen anonymisierte Mustertexte für verschiedenste Arten von Rechtsgeschäften bereitstellen, erschien es nur allzu naheliegend, dass diese mit Platzhaltern ausgestatteten formulae der Erleichterung der Formulierung von Urkunden ähnlichen rechtlichen Inhalts dienen sollten.</p>
        <p>Aber dienten die Formelsammlungen wirklich diesem Zweck? Orientierten sich die Schreiber bei der Formulierung von Urkundentexten wirklich in einem größeren Umfang an derartigen Vorlagen? Und existierten in den verschiedenen Zentren der Urkundenproduktion überhaupt feste Vorstellungen darüber, wie Urkundentexte idealiter formuliert werden sollten?</p>
        <p class="d-none">Um sich der Beantwortung der Frage zu nähern, welche Techniken die Schreiber bei der Formulierung von Privaturkunden tatsächlich anwandten, <i>[Fortsetzung folgt: Im Rahmen der Dissertation für den alemannischen und bayerischen Raum wurde das untersucht, die im Textvergleich ermittelten Ergebnisse können auf den folgenden Seiten auf diese und jene Art und Weise nachvollzogen werden – Umfang: max. 1 Seite]</i></p>
    </section>
    <footer>

    </footer>
</div>
{%endblock%}
