
                    <div class="card">
                        <h3 class="card-header" id="part-Urkundengruppen">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#part-collapse-Urkundengruppen" aria-expanded="true" aria-controls="part-collaps
e-Urkundengruppen">
                            <h4>Gruppen von gesamten Urkunden</h4>
                            </button>
                        </h3>
                        <div id="part-collapse-Urkundengruppen" class="collapse" aria-labelledby="part-category-Urkundengruppen" data-parent="#charterGroupAccordion">
                            <div class="card-body">
                                <table id="allCharterGroupTable" class="table table-sm table-hover table-bordered" aria-label="{{ _('Urkundengruppentabelle') }}">
                                    <thead>
                                        <tr>
                                            <th id="all-charter-checkbox-column" scope="col"></th>
                                            <th id="all-charter-type-column" scope="col">{{ _('Urkundengruppe') }}</th>
                                            <th id="all-charter-title-column" scope="col">{{ _("Urkunde") }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:passau.heuwieser0007.lat001-checkbox" type="checkbox" value="urn:cts:formulae:passau.heuwieser0007.lat001"></td>
                                            <td>Passauer Form I</td>
                                            <td>Die Traditionen des Hochstifts Passau (Ed. Heuwieser) Nr. 7</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:passau.heuwieser0023.lat001-checkbox" type="checkbox" value="urn:cts:formulae:passau.heuwieser0023.lat001"></td>
                                            <td>Passauer Form I</td>
                                            <td>Die Traditionen des Hochstifts Passau (Ed. Heuwieser) Nr. 23</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:passau.heuwieser0025.lat001-checkbox" type="checkbox" value="urn:cts:formulae:passau.heuwieser0025.lat001"></td>
                                            <td>Passauer Form I</td>
                                            <td>Die Traditionen des Hochstifts Passau (Ed. Heuwieser) Nr. 25</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:passau.heuwieser0026.lat001-checkbox" type="checkbox" value="urn:cts:formulae:passau.heuwieser0026.lat001"></td>
                                            <td>Passauer Form I</td>
                                            <td>Die Traditionen des Hochstifts Passau (Ed. Heuwieser) Nr. 26</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:passau.heuwieser0027.lat001-checkbox" type="checkbox" value="urn:cts:formulae:passau.heuwieser0027.lat001"></td>
                                            <td>Passauer Form I</td>
                                            <td>Die Traditionen des Hochstifts Passau (Ed. Heuwieser) Nr. 27</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:passau.heuwieser0029.lat001-checkbox" type="checkbox" value="urn:cts:formulae:passau.heuwieser0029.lat001"></td>
                                            <td>Passauer Form I</td>
                                            <td>Die Traditionen des Hochstifts Passau (Ed. Heuwieser) Nr. 29</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:passau.heuwieser0044.lat001-checkbox" type="checkbox" value="urn:cts:formulae:passau.heuwieser0044.lat001"></td>
                                            <td>Passauer Form I</td>
                                            <td>Die Traditionen des Hochstifts Passau (Ed. Heuwieser) Nr. 44a</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:passau.heuwieser0049.lat001-checkbox" type="checkbox" value="urn:cts:formulae:passau.heuwieser0049.lat001"></td>
                                            <td>Passauer Form I</td>
                                            <td>Die Traditionen des Hochstifts Passau (Ed. Heuwieser) Nr. 49</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0009.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0009.lat001"></td>
                                            <td>Mondseer Form I</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 9</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0025.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0025.lat001"></td>
                                            <td>Mondseer Form I</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 25</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0026.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0026.lat001"></td>
                                            <td>Mondseer Form I</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 26</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0029.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0029.lat001"></td>
                                            <td>Mondseer Form I</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 29</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0031.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0031.lat001"></td>
                                            <td>Mondseer Form I</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 31</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0064.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0064.lat001"></td>
                                            <td>Mondseer Form I</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 64</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0114.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0114.lat001"></td>
                                            <td>Mondseer Form I</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 114</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0123.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0123.lat001"></td>
                                            <td>Mondseer Form I</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 123</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0013.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0013.lat001"></td>
                                            <td>Mondseer Form II</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 13</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0033.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0033.lat001"></td>
                                            <td>Mondseer Form II</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 33</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0070.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0070.lat001"></td>
                                            <td>Mondseer Form II</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 70</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0085.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0085.lat001"></td>
                                            <td>Mondseer Form II</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 85</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0087.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0087.lat001"></td>
                                            <td>Mondseer Form II</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 87</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0096.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0096.lat001"></td>
                                            <td>Mondseer Form II</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 96</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0116.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0116.lat001"></td>
                                            <td>Mondseer Form II</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 116</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0118.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0118.lat001"></td>
                                            <td>Mondseer Form II</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 118</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0002.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0002.lat001"></td>
                                            <td>Mondseer Form IIIa</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 2</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0028.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0028.lat001"></td>
                                            <td>Mondseer Form IIIa</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 28</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0032.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0032.lat001"></td>
                                            <td>Mondseer Form IIIa</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 32</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0059.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0059.lat001"></td>
                                            <td>Mondseer Form IIIa</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 59</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0012.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0012.lat001"></td>
                                            <td>Mondseer Form IIIb</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 12</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0041.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0041.lat001"></td>
                                            <td>Mondseer Form IIIb</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 41</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0043.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0043.lat001"></td>
                                            <td>Mondseer Form IIIb</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 43</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0082.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0082.lat001"></td>
                                            <td>Mondseer Form IIIc</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 82</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0083.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0083.lat001"></td>
                                            <td>Mondseer Form IIIc</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 83</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0084.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0084.lat001"></td>
                                            <td>Mondseer Form IIIc</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 84</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0011.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0011.lat001"></td>
                                            <td>Mondseer Form IV</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 11</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0014.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0014.lat001"></td>
                                            <td>Mondseer Form IV</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 14</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0021.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0021.lat001"></td>
                                            <td>Mondseer Form IV</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 21</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0030.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0030.lat001"></td>
                                            <td>Mondseer Form IV</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 30</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0047.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0047.lat001"></td>
                                            <td>Mondseer Form IV</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 47</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0071.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0071.lat001"></td>
                                            <td>Mondseer Form IV</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 71</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0072.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0072.lat001"></td>
                                            <td>Mondseer Form IV</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 72</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0073.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0073.lat001"></td>
                                            <td>Mondseer Form IV</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 73</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0077.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0077.lat001"></td>
                                            <td>Mondseer Form IV</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 77</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0091.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0091.lat001"></td>
                                            <td>Mondseer Form IV</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 91</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0098.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0098.lat001"></td>
                                            <td>Mondseer Form IV</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 98</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0112.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0112.lat001"></td>
                                            <td>Mondseer Form IV</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 112</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0126.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0126.lat001"></td>
                                            <td>Mondseer Form IV</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 126</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0133.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0133.lat001"></td>
                                            <td>Mondseer Form IV</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 133</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0135.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0135.lat001"></td>
                                            <td>Mondseer Form IV</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 135</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0019.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0019.lat001"></td>
                                            <td>Mondseer Form Va</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 19</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0064.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0064.lat001"></td>
                                            <td>Mondseer Form Va</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 64</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0066.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0066.lat001"></td>
                                            <td>Mondseer Form Va</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 66</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0068.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0068.lat001"></td>
                                            <td>Mondseer Form Va</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 68</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0104.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0104.lat001"></td>
                                            <td>Mondseer Form Va</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 104</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0105.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0105.lat001"></td>
                                            <td>Mondseer Form Va</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 105</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0106.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0106.lat001"></td>
                                            <td>Mondseer Form Va</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 106</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0109.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0109.lat001"></td>
                                            <td>Mondseer Form Va</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 109</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0115.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0115.lat001"></td>
                                            <td>Mondseer Form Va</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 115</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0120.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0120.lat001"></td>
                                            <td>Mondseer Form Va</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 120</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0121.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0121.lat001"></td>
                                            <td>Mondseer Form Va</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 121</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0129.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0129.lat001"></td>
                                            <td>Mondseer Form Va</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 129</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0008.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0008.lat001"></td>
                                            <td>Mondseer Form Vb</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 8</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0017.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0017.lat001"></td>
                                            <td>Mondseer Form Vb</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 17</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0045.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0045.lat001"></td>
                                            <td>Mondseer Form Vb</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 45</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0046.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0046.lat001"></td>
                                            <td>Mondseer Form Vb</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 46</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0062.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0062.lat001"></td>
                                            <td>Mondseer Form Vb</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 62</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0125.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0125.lat001"></td>
                                            <td>Mondseer Form Vb</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 125</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0128.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0128.lat001"></td>
                                            <td>Mondseer Form VI</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 128</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0134.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0134.lat001"></td>
                                            <td>Mondseer Form VI</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 134</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0048.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0048.lat001"></td>
                                            <td>Mondseer Form VII</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 48</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0052b.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0052b.lat001"></td>
                                            <td>Mondseer Form VII</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 52/2</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0057.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0057.lat001"></td>
                                            <td>Mondseer Form VII</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 57</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0061.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0061.lat001"></td>
                                            <td>Mondseer Form VII</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 61</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0086.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0086.lat001"></td>
                                            <td>Mondseer Form VII</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 86</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0089.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0089.lat001"></td>
                                            <td>Mondseer Form VII</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 89</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0090.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0090.lat001"></td>
                                            <td>Mondseer Form VII</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 90</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0042.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0042.lat001"></td>
                                            <td>Mondseer Form VIII</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 42</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:mondsee.rath0095.lat001-checkbox" type="checkbox" value="urn:cts:formulae:mondsee.rath0095.lat001"></td>
                                            <td>Mondseer Form VIII</td>
                                            <td>Das älteste Traditionsbuch des Klosters Mondsee (Edition) (Ed. Rath/Reiter) Nr. 95</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:passau.heuwieser0015.lat001-checkbox" type="checkbox" value="urn:cts:formulae:passau.heuwieser0015.lat001"></td>
                                            <td>Passauer Form II</td>
                                            <td>Die Traditionen des Hochstifts Passau (Ed. Heuwieser) Nr. 15</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:passau.heuwieser0016.lat001-checkbox" type="checkbox" value="urn:cts:formulae:passau.heuwieser0016.lat001"></td>
                                            <td>Passauer Form II</td>
                                            <td>Die Traditionen des Hochstifts Passau (Ed. Heuwieser) Nr. 16</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:passau.heuwieser0017.lat001-checkbox" type="checkbox" value="urn:cts:formulae:passau.heuwieser0017.lat001"></td>
                                            <td>Passauer Form II</td>
                                            <td>Die Traditionen des Hochstifts Passau (Ed. Heuwieser) Nr. 17</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:passau.heuwieser0057.lat001-checkbox" type="checkbox" value="urn:cts:formulae:passau.heuwieser0057.lat001"></td>
                                            <td>Passauer Form II</td>
                                            <td>Die Traditionen des Hochstifts Passau (Ed. Heuwieser) Nr. 57</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:passau.heuwieser0018.lat001-checkbox" type="checkbox" value="urn:cts:formulae:passau.heuwieser0018.lat001"></td>
                                            <td>Passauer Form III</td>
                                            <td>Die Traditionen des Hochstifts Passau (Ed. Heuwieser) Nr. 18</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:passau.heuwieser0019.lat001-checkbox" type="checkbox" value="urn:cts:formulae:passau.heuwieser0019.lat001"></td>
                                            <td>Passauer Form III</td>
                                            <td>Die Traditionen des Hochstifts Passau (Ed. Heuwieser) Nr. 19</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:passau.heuwieser0020.lat001-checkbox" type="checkbox" value="urn:cts:formulae:passau.heuwieser0020.lat001"></td>
                                            <td>Passauer Form III</td>
                                            <td>Die Traditionen des Hochstifts Passau (Ed. Heuwieser) Nr. 20</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:passau.heuwieser0030.lat001-checkbox" type="checkbox" value="urn:cts:formulae:passau.heuwieser0030.lat001"></td>
                                            <td>Passauer Form III</td>
                                            <td>Die Traditionen des Hochstifts Passau (Ed. Heuwieser) Nr. 30</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:passau.heuwieser0032.lat001-checkbox" type="checkbox" value="urn:cts:formulae:passau.heuwieser0032.lat001"></td>
                                            <td>Passauer Form III</td>
                                            <td>Die Traditionen des Hochstifts Passau (Ed. Heuwieser) Nr. 32</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:passau.heuwieser0021.lat001-checkbox" type="checkbox" value="urn:cts:formulae:passau.heuwieser0021.lat001"></td>
                                            <td>Passauer Form IV</td>
                                            <td>Die Traditionen des Hochstifts Passau (Ed. Heuwieser) Nr. 21</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:passau.heuwieser0037.lat001-checkbox" type="checkbox" value="urn:cts:formulae:passau.heuwieser0037.lat001"></td>
                                            <td>Passauer Form IV</td>
                                            <td>Die Traditionen des Hochstifts Passau (Ed. Heuwieser) Nr. 37</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:passau.heuwieser0038.lat001-checkbox" type="checkbox" value="urn:cts:formulae:passau.heuwieser0038.lat001"></td>
                                            <td>Passauer Form IV</td>
                                            <td>Die Traditionen des Hochstifts Passau (Ed. Heuwieser) Nr. 38</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:passau.heuwieser0040.lat001-checkbox" type="checkbox" value="urn:cts:formulae:passau.heuwieser0040.lat001"></td>
                                            <td>Passauer Form IV</td>
                                            <td>Die Traditionen des Hochstifts Passau (Ed. Heuwieser) Nr. 40</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:passau.heuwieser0022.lat001-checkbox" type="checkbox" value="urn:cts:formulae:passau.heuwieser0022.lat001"></td>
                                            <td>Passauer Form Va</td>
                                            <td>Die Traditionen des Hochstifts Passau (Ed. Heuwieser) Nr. 22</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:passau.heuwieser0024.lat001-checkbox" type="checkbox" value="urn:cts:formulae:passau.heuwieser0024.lat001"></td>
                                            <td>Passauer Form Va</td>
                                            <td>Die Traditionen des Hochstifts Passau (Ed. Heuwieser) Nr. 24</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:passau.heuwieser0047.lat001-checkbox" type="checkbox" value="urn:cts:formulae:passau.heuwieser0047.lat001"></td>
                                            <td>Passauer Form Va</td>
                                            <td>Die Traditionen des Hochstifts Passau (Ed. Heuwieser) Nr. 47</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:passau.heuwieser0048.lat001-checkbox" type="checkbox" value="urn:cts:formulae:passau.heuwieser0048.lat001"></td>
                                            <td>Passauer Form Va</td>
                                            <td>Die Traditionen des Hochstifts Passau (Ed. Heuwieser) Nr. 48</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:passau.heuwieser0051.lat001-checkbox" type="checkbox" value="urn:cts:formulae:passau.heuwieser0051.lat001"></td>
                                            <td>Passauer Form Va</td>
                                            <td>Die Traditionen des Hochstifts Passau (Ed. Heuwieser) Nr. 51</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:passau.heuwieser0052.lat001-checkbox" type="checkbox" value="urn:cts:formulae:passau.heuwieser0052.lat001"></td>
                                            <td>Passauer Form Va</td>
                                            <td>Die Traditionen des Hochstifts Passau (Ed. Heuwieser) Nr. 52</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:passau.heuwieser0034.lat001-checkbox" type="checkbox" value="urn:cts:formulae:passau.heuwieser0034.lat001"></td>
                                            <td>Passauer Form Vb</td>
                                            <td>Die Traditionen des Hochstifts Passau (Ed. Heuwieser) Nr. 34</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:passau.heuwieser0035.lat001-checkbox" type="checkbox" value="urn:cts:formulae:passau.heuwieser0035.lat001"></td>
                                            <td>Passauer Form Vb</td>
                                            <td>Die Traditionen des Hochstifts Passau (Ed. Heuwieser) Nr. 35</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:passau.heuwieser0036.lat001-checkbox" type="checkbox" value="urn:cts:formulae:passau.heuwieser0036.lat001"></td>
                                            <td>Passauer Form Vb</td>
                                            <td>Die Traditionen des Hochstifts Passau (Ed. Heuwieser) Nr. 36</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:passau.heuwieser0057.lat001-checkbox" type="checkbox" value="urn:cts:formulae:passau.heuwieser0057.lat001"></td>
                                            <td>Passauer Form Vb</td>
                                            <td>Die Traditionen des Hochstifts Passau (Ed. Heuwieser) Nr. 57</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:passau.heuwieser0064.lat001-checkbox" type="checkbox" value="urn:cts:formulae:passau.heuwieser0064.lat001"></td>
                                            <td>Passauer Form VI</td>
                                            <td>Die Traditionen des Hochstifts Passau (Ed. Heuwieser) Nr. 64</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:passau.heuwieser0065.lat001-checkbox" type="checkbox" value="urn:cts:formulae:passau.heuwieser0065.lat001"></td>
                                            <td>Passauer Form VI</td>
                                            <td>Die Traditionen des Hochstifts Passau (Ed. Heuwieser) Nr. 65</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:passau.heuwieser0067.lat001-checkbox" type="checkbox" value="urn:cts:formulae:passau.heuwieser0067.lat001"></td>
                                            <td>Passauer Form VII</td>
                                            <td>Die Traditionen des Hochstifts Passau (Ed. Heuwieser) Nr. 67</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:passau.heuwieser0077.lat001-checkbox" type="checkbox" value="urn:cts:formulae:passau.heuwieser0077.lat001"></td>
                                            <td>Passauer Form VII</td>
                                            <td>Die Traditionen des Hochstifts Passau (Ed. Heuwieser) Nr. 77</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:passau.heuwieser0071.lat001-checkbox" type="checkbox" value="urn:cts:formulae:passau.heuwieser0071.lat001"></td>
                                            <td>Passauer Form VIII</td>
                                            <td>Die Traditionen des Hochstifts Passau (Ed. Heuwieser) Nr. 71</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:passau.heuwieser0072.lat001-checkbox" type="checkbox" value="urn:cts:formulae:passau.heuwieser0072.lat001"></td>
                                            <td>Passauer Form VIII</td>
                                            <td>Die Traditionen des Hochstifts Passau (Ed. Heuwieser) Nr. 72</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:schaeftlarn.weissthanner0003.lat001-checkbox" type="checkbox" value="urn:cts:formulae:schaeftlarn.weissthanner0003.lat001"></td>
                                            <td>Schäftlarner Form 1</td>
                                            <td>Die Traditionen des Klosters Schäftlarn (Ed. Weissthanner) Nr. 3</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:schaeftlarn.weissthanner0005.lat001-checkbox" type="checkbox" value="urn:cts:formulae:schaeftlarn.weissthanner0005.lat001"></td>
                                            <td>Schäftlarner Form 2</td>
                                            <td>Die Traditionen des Klosters Schäftlarn (Ed. Weissthanner) Nr. 5</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:schaeftlarn.weissthanner0006.lat001-checkbox" type="checkbox" value="urn:cts:formulae:schaeftlarn.weissthanner0006.lat001"></td>
                                            <td>Schäftlarner Form 3</td>
                                            <td>Die Traditionen des Klosters Schäftlarn (Ed. Weissthanner) Nr. 6</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:schaeftlarn.weissthanner0011.lat001-checkbox" type="checkbox" value="urn:cts:formulae:schaeftlarn.weissthanner0011.lat001"></td>
                                            <td>Schäftlarner Form 4</td>
                                            <td>Die Traditionen des Klosters Schäftlarn (Ed. Weissthanner) Nr. 11a</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:schaeftlarn.weissthanner0011.lat002-checkbox" type="checkbox" value="urn:cts:formulae:schaeftlarn.weissthanner0011.lat002"></td>
                                            <td>Schäftlarner Form 5</td>
                                            <td>Die Traditionen des Klosters Schäftlarn (Ed. Weissthanner) Nr. 11b</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:schaeftlarn.weissthanner0014.lat001-checkbox" type="checkbox" value="urn:cts:formulae:schaeftlarn.weissthanner0014.lat001"></td>
                                            <td>Schäftlarner Form 6</td>
                                            <td>Die Traditionen des Klosters Schäftlarn (Ed. Weissthanner) Nr. 14</td>
                                        </tr>
                                        <tr>
                                            <td><input class="charter-part-checkbox" name="urn:cts:formulae:schaeftlarn.weissthanner0015.lat001-checkbox" type="checkbox" value="urn:cts:formulae:schaeftlarn.weissthanner0015.lat001"></td>
                                            <td>Schäftlarner Form 7</td>
                                            <td>Die Traditionen des Klosters Schäftlarn (Ed. Weissthanner) Nr. 15</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>