{% extends "main::container.html" %}
{% block title %}Formulae - Litterae - Chartae: {{ _('Urkundengruppen') }}{% endblock %}

{%block article%}
<div class="container-fluid">
    <header>
        <h1 class="text-center">{{ _('Urkundengruppen') }}</h3>
    </header>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8">
                <div class="accordion" id="charterGroupAccordion">
                {% include "main::charter_group_table.html" %}
                {% include "main::st_gallen_group_table.html" %}
                </div>
            </div>
        </div>
    
</div>
{%endblock%}
