<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#collectionsModal">
  Add another text
</button>

<!-- Modal -->
<div class="modal fade" id="collectionsModal" tabindex="-1" role="dialog" aria-labelledby="collectionsModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="collectionsModalTitle">{{ _('Bitte wählen Sie eine Sammlung aus, um die enthaltenen Texte zu sehen') }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="accordion" id="collectionMemberAccordion">
            {% for c in main_collections %}
            <div class="card">
                <div class="card-header" id="heading{{ loop.index }}">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
                        {{c.label}}
                    </button>
                </h5>
                </div>

                <div id="collapse{{ loop.index }}" class="collapse show" aria-labelledby="heading{{ loop.index }}" data-parent="#accordion">
                <div class="card-body">
                    {% for memb in c|make_members %}
                    {{ memb.label }}
                    {% endfor %}
                </div>
                </div>
            </div>
        <a class="dropdown-item" href="{{url_for('InstanceNemo.r_collection_semantic', objectId=c.id, semantic=c.label|slugify)}}">- {{c.label}}</a>
        {% endfor %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('Schließen') }}</button>
        <button type="button" class="btn btn-primary">{{ _('Änderungen speichern') }}</button>
      </div>
    </div>
  </div>
</div>
