{% extends "main::container.html" %}
{% block title %}Formulae - Litterae - Chartae: {{ _('Kontakt') }}{% endblock %}

{%block article%}
<div class="container">
    <header>
        <h1 class="text-center">{{ _('Kontakt') }}</h3>
    </header>
    <section id="contact-text">
        <p>Formulae - Litterae - Chartae<br>Universität Hamburg<br>Überseering 35#5<br>22297 Hamburg<br>Deutschland<br><br>Tel.: +49 40 42838-4837<br>Fax: +49 40 42838-3955<br>E-Mail: formulae.geschichte@uni-hamburg.de</p>
        <h4>{{ _('Anmerkungen/Verbesserungsvorschläge') }}</h4>
        <p>{{ _('Wenn Sie Anmerkungen bzw. Verbesserungsvorschläge zur Formulae - Litterae - Chartae Werkstatt haben, schicken Sie einfach eine <a class="outside-link" href="mailto:formulae.geschichte@uni-hamburg.de">Email</a> an uns. Wenn es um eine bestimmte Seite in der Werkstatt handelt, nennen Sie bitte die volle URL in den Text Ihre Email. Wenn es um einen bestimmten Text handelt, nennen Sie bitte ebenso die volle URL mit dem vollen Titel des Textes und eine genaue Beschreibung des Problems und des Vorschlags, das Problem zu beheben.') }}</p>
    </section>
</div>
{%endblock%}
