{% import 'bootstrap/wtf.html' as wtf %}

<!DOCTYPE html>
<html lang="{{ get_locale() }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Medieval Latin Formulae and their German translations in the Capitains Format">
    <meta name="keywords" content="XML,TEI,Capitains,latin,medieval,formulae">
    <meta name="author" content="Matthew Munson">
    <title>{% block title %}Formulae - Litterae - Chartae{% endblock %}</title>
    {% block metadata %}
      {% include "main::metadata.html" %}
    {% endblock %}

    <!-- Bootstrap --><!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('InstanceNemo.static', filename='css/theme.min.css')}}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.css"/>
    <script type='text/javascript' src="{{url_for('InstanceNemo.static', filename='js/mirador.min.js')}}"></script>
    {% for filename, directory in assets["css"].items() %}
      {% if directory %}<link rel="stylesheet" href="{{url_for('InstanceNemo.secondary_assets', filetype='css', asset=filename)}}">
      {% else %}<link rel="stylesheet" href="{{ filename }}">
      {% endif %}
    {% endfor %}
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Matomo -->
    <script type="text/javascript">
    var _paq = _paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="//www.piwik.uni-hamburg.de/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '174']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
    </script>
<!-- End Matomo Code -->
  </head>
  <body>
    {% include "main::header.html" %}
    {% include "main::navbar.html" %}
    <main class="container-fluid" id="main-container">
        <div class="modal" id="savePageModal" tabindex="-1" aria-labelledby="savePageModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="savePageModalLabel">{{ g.save_page_form.title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('auth.r_save_page', _external=True, _scheme=config['PREFERRED_URL_SCHEME']) }}" method="post" class="form" role="form">
                {{ g.save_page_form.hidden_tag() }}
                {{ wtf.form_errors(g.save_page_form, hiddens="only") }}

                {{ wtf.form_field(g.save_page_form.name) }}
                {% if session['previous_search'] %}
                {{ wtf.form_field(g.save_page_form.save_search_results) }}
                {% endif %}
                {{ wtf.form_field(g.save_page_form.submit, button_map={'submit': 'secondary'}) }}
                </form>
            </div>
            </div>
        </div>
        </div>
        <div class="modal video-modal" id="simpleSearchVideoModal" tabindex="-1" aria-labelledby="simpleSearchVideoModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="simpleSearchVideoModalLabel">{{ _('Die Einfache Suche') }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video controls src="{{ url_for('InstanceNemo.static', filename='videos/einfache_suche.mp4') }}" >
                            <track label="Deutsch" kind="subtitles" srclang="de" src="{{ url_for('InstanceNemo.static', filename='videos/einfache_suche_de.vtt') }}">
                            {{ _('Ihr Browser kann keine eingebetteten Videos zeigen.') }}
                        </video>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
                </div>
            </div>
        </div>
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    <div class="row pb-0">
        <ul class="list-unstyled mb-0">
            {% for category, message in messages %}
            <div class="alert {% if category=='warning' %}alert-danger{% else %}alert-info{% endif %} alert-dismissable fade show mb-0" role="alert">{{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="padding-left: 5em;">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endwith %}
    <div class="row" id="sub-container">
        <!-- Modal for long-running searches -->
        <div class="modal fade" id="searchProgressModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="searchProgressModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="searchProgressModalLabel">{{ _('Suche Läuft') }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar" id="searchProgressBar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="cancelSearchButton" type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('Suche unterbrechen') }}</button>
                </div>
                </div>
            </div>
        </div>
    <!-- LEFT-HAND COLUMN -->
        
            {% block article %}
            {% endblock %}
        
    </div>
    </main>
    <nav class="navbar" id="footerNavbar">
        <div class="container justify-content-end" id="footerContainer">
            <a class="nav-link" href="{{ url_for('InstanceNemo.r_impressum') }}">{{ _('Impressum') }}</a>
            <a class="nav-link" href="{{ url_for('InstanceNemo.r_contact') }}">{{ _('Kontakt') }}</a>
            <div class="nav-item dropup">
                <a class="nav-link dropdown-toggle active" role="button" id="accessibilityDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">{{ _('Barrierefreiheit') }}</a>
                <div class="dropdown-menu" aria-labelledby="accessibilityDropdown">
                    <a class="dropdown-item" href="{{url_for('InstanceNemo.r_accessibility_statement')}}">{{ _("Erklärung zur Barrierefreiheit") }}</a>
                    <a class="dropdown-item" href="{{url_for('InstanceNemo.r_contact')}}">{{ _("Barrieren melden") }}</a>
                </div>
            </div>
        </div>
    </nav>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="{{url_for('InstanceNemo.static', filename='js/jquery-ui.js')}}"></script>
    {% for filename, directory in assets["js"].items() %}
      {% if directory %}<script src="{{url_for('InstanceNemo.secondary_assets', filetype='js', asset=filename)}}"></script>
      {% else %}<script src="{{ filename }}"></script>
      {% endif %}
    {% endfor %}
  <script>
    var simpleSearchQMessage="{{ _('Ein Suchterminus ist erforderlich.') }}"; 
  </script>
<script>
     var expMess="{{ _('Mehr zeigen') }}";
     var conMess="{{ _('Weniger zeigen') }}";
     var appHeading="{{ _('Apparatus') }}";
     var comHeading="{{ _('Kommentar') }}";
     var appCloseButton="{{ _('Alle Apparatusanmerkungen für diesen Text ausblenden') }}";
     var appOpenButton="{{ _('Alle Apparatusanmerkungen für diesen Text einblenden') }}";
     var comCloseButton="{{ _('Alle Kommentaranmerkungen für diesen Text ausblenden') }}";
     var comOpenButton="{{ _('Alle Kommentaranmerkungen für diesen Text einblenden') }}";
     var toScrollingTexts="{{ _('Texte unabhängig von einander scrollen.') }}";
     var scrollIndependentSrc="{{url_for('InstanceNemo.static', filename='images/scroll_independently.png')}}"
     var fromScrollingTexts="{{ _('Texte zusammen scrollen.') }}";
     var scrollTogetherSrc="{{url_for('InstanceNemo.static', filename='images/scroll_together.png')}}";
     var lexElementTitle=["{{ _('Eintrag zu ') }}", "{{ _(' im Elexikon lesen') }}"];
     var searchBoxString="{{ _('Suche') }}";
     var allResultsString="{{ _('Alle') }}";
     if ( "{{ get_locale() }}" == "de" ) {
        var dataTableLangFile = "{{url_for('InstanceNemo.static', filename='js/dataTablesGerman.json')}}";
     } else if ( "{{ get_locale() }}" == "fr" ) {
        var dataTableLangFile = "{{url_for('InstanceNemo.static', filename='js/dataTablesFrench.json')}}";
     } else {
        var dataTableLangFile = "";
     };
</script>

  {% block additionalscript %}
  {% endblock %}
  {% block footer %}
  {% endblock %}
    
  </body>
</html>
