{% extends "main::container.html" %}
{% block title %}Formulae - Litterae - Chartae: {{ _('Kontakt') }}{% endblock %}

{%block article%}
<div class="container">
    <header>
        <h1 class="text-center">{{ _('Kontakt') }}</h3>
    </header>
    <section id="contact-text">
        <p>Formulae - Litterae - Chartae<br>Universität Hamburg<br>Überseering 35#5<br>22297 Hamburg<br>Deutschland<br><br>Tel.: +49 40 42838-4837<br>Fax: +49 40 42838-3955<br>E-Mail: formulae.geschichte@uni-hamburg.de</p>
    </section>
</div>
{%endblock%}
