{% extends "main::container.html" %}
{% block title %}Formulae - Litterae - Chartae: {{ _('E-Lexikon Inhalt') }}{% endblock %}

{% block article %}
{% set old_first_letter = namespace(letter='') %}
{% if not prev_texts %}
{% set prev_texts = '' %}
{% set prev_reffs = '' %}
{% set coll_route = 'InstanceNemo.r_collection' %}
{% else %}
{% set coll_route = 'InstanceNemo.r_add_text_collection' %}
{% endif %}
        <div class="col-lg-3 col">
        <header>
            <h1>
            {{ _('Lexikon') }}
            </h1>
        </header>
        <p class="mb-0">{{ _('Das e-Lexikon erläutert zentrale Begriffe aus Rechts-, Sozial- und Geistesgeschichte und macht ihre Bedeutungsentwicklung von der Spätantike bis zum Ende des frühen Mittelalters nachvollziehbar. Aufgenommen werden ausschließlich Begriffe, die in den im Langzeitvorhaben edierten Formeln verwendet werden.') }}</p>
        </div>
    </div>
    <div class="row">
        <div class="mb-2 col-lg-3 col">
            <label class="sr-only" for="elexicon-search-box">{{ _('Lexikon durchsuchen') }}</label>
            <form class="form-inline">
                <input class="form-control" type="text" placeholder="{{ _('Lexikon durchsuchen') }}" id="elexicon-search-box" list="elexicon-search-datalist" default="{{ _('Lexikon durchsuchen') }}" autocomplete="off"> <a id="elexSearchButton" type="submit" class="btn btn-primary disabled" role="button" href="{{ url_for('search.r_results', corpus='elexicon', source='simple') }}">{{ _('Suche Durchführen') }}</a>
                <datalist id="elexicon-search-datalist">
                </datalist>
            </form>
        </div>
    </div>
    <h4>{{ _('Gehe zu Buchstabe:') }}</h4>
    <div class="row" id="elex-letters">
        <div class="col">
            {% for letter in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ' %}
            <a type="button" class="elex-letter btn btn-sm px-1 mx-0 {% if letter not in collections.first_letters %}btn-outline-secondary disabled{% else %}btn-outline-primary{% endif %}" href="#L-{{letter}}" >{{letter}}</a>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 col">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                {% for coll, values in collections.readable|dictsort %}
                {% set first_letter = coll|first %}
                {% if old_first_letter.letter != first_letter %}
                {% set old_first_letter.letter = first_letter %}
                    <h6 class="card-title" id="L-{{ first_letter|capitalize }}">{{ first_letter|capitalize }}</h6>
                {% endif %}
                    <ul class="list-group list-group-flush">
                            {% for urn, title, lang, source in values['versions']['editions']|sort %}<li class="list-group-item flex-column"><a class="card-link" href="{{url_for('InstanceNemo.r_multipassage', objectIds=[prev_texts, urn]|join_list_values('+'), subreferences=[prev_reffs, 'all']|join_list_values('+'))}}">{{ title|replace('_', ' ')|title }} {% if values['translated_title']  %}({{ values['translated_title'] }}){% endif %}</a></li>{% endfor %}
                        </li>
                    </ul>
                {% endfor %}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}


{% block additionalscript %}
<script>
$(window).scroll(function(){
    var navbarHeight = $('#fullNavbar').height();
    var letterPos = $('#elex-letters').offset();
    var bodyHeight = $('body').height();
    $('#elex-letters').css('top', Math.min(Math.max(bodyHeight + navbarHeight - letterPos.top, 0), navbarHeight + 20));
});
</script>
{% endblock %}  
