<!-- Extra information for Flavigny -->

    
    <div class="row">
        <div class="col-6">
            <h5>{{ _('Zur Sammlung') }}:</h5>
            <p>
            Formelmaterial aus Flavigny wird in zwei Handschriften überliefert (Paris, BnF, Lat. 2123 (<b>P<span class="subscript smaller-text">3</span></b>) und Kopenhagen, Kongelige Bibliotek, Fabr. 84 (<b>Ko<span class="subscript smaller-text">2</span></b>)). Beide Handschriften enthalten miteinander verwandte, aber eigenständige Formelsammlungen. Neben Material aus den Sammlungen des Marculf und aus Tours enthalten sie auch eigene Formeln mit einem Bezug zum Kloster Flavigny, die zum Teil in beiden, zum Teil nur in einer der Handschriften enthalten sind. Für die Edition des Materials aus Flavigny ergeben sich damit drei Gruppen: 
            </p>
            <table class="table table-borderless table-sm">
                <tbody>
                    <tr><th class="py-0" scope="row">Flavigny Pa+Ko</th>
                    <td class="py-0">Formeln aus <b>P<span class="subscript smaller-text">3</span></b> und <b>Ko<span class="subscript smaller-text">2</span></b></td></tr>
                    <tr><th class="py-0" scope="row">Flavigny Pa</th>
                    <td class="py-0">eigenständige Formeln aus <b>P<span class="subscript smaller-text">3</span></b></td></tr>
                    <tr><th class="py-0" scope="row">Flavigny Ko</th>
                    <td class="py-0">eigenständiges Material aus <b>Ko<span class="subscript smaller-text">2</span></b></td></tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h5>{{ _('Zur Kondordanz') }}:</h5>
            <p class="mb-0">
                Karl Zeumer war nur die Handschrift Paris, BnF, Lat. 2123 (<b>P<span class="subscript smaller-text">3</span></b>) bekannt. Die <i>Collectio Flaviniacensis</i> (K. Zeumer, Formulae, S. 471-492) bietet das Material dieser Handschrift entsprechend seiner historischen Reihenfolge. Die <a class="outside-link" href="{{url_for('InstanceNemo.static', filename='pdf_folder/flavigny_konkordanz.pdf')}}" target="_blank" id="flavigny_concordance_link" data-toggle="tooltip" data-container="#flavigny_concordance_link" title="{{ _('Konkordanz im neuen Tab öffnen') }}">Konkordanz</a> ermöglicht die Zuordnung der Edition zur Ausgabe Zeumer.
            </p>
            <br>
        </div>
    </div>
