{% extends "main::container.html" %}
{% block title %}Formulae - Litterae - Chartae: Fulda, Hessische Landesbibliothek, D1 - {{ _('Inhalt') }}{% endblock %}
            
{%block article%}
<div class="container">
       <h3 class="mb-3">Fulda, Hessische Landesbibliothek, D1 – Inhalt</h3>
<table width="605" cellpadding="0" cellspacing="0">
	<col width="142">
	<col width="463">
	<tr valign="top">
		<td width="142" style="border: none; padding: 0in">
			<p><span lang="en-US">fol. 1</span><sup><span lang="en-US">v</span></sup><span lang="en-US">
			– 133</span><sup><span lang="en-US">r</span></sup></p>
		</td>
		<td width="463" style="border: none; padding: 0in">
			<p><span lang="en-US"><i>Lex Romana Visigothorum</i></span></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="142" style="border: none; padding: 0in">
			<p><span lang="en-US">fol. 133</span><sup><span lang="en-US">r</span></sup><span lang="en-US">
			– 134</span><sup><span lang="en-US">v</span></sup></p>
		</td>
		<td width="463" style="border: none; padding: 0in">
			<p><span lang="en-US">Isidor von Sevilla (</span><span lang="en-US">†</span><span lang="en-US">
			636), </span><span lang="en-US"><i>Synonyma</i></span><span lang="en-US">,
			II, 32-37</span></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="142" style="border: none; padding: 0in">
			<p>fol. 134<sup>v</sup> – 135<sup>v</sup>
			</p>
		</td>
		<td width="463" style="border: none; padding: 0in">
			<p>Kurze Predigt (<i>Iterum aud iterum …</i>)</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="142" style="border: none; padding: 0in">
			<p>fol. 136<sup>r</sup> – 180<sup>r</sup></p>
		</td>
		<td width="463" style="border: none; padding: 0in">
			<p>Formelsammlung von Angers: Angers 1 – Angers 57</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="142" style="border: none; padding: 0in">
			<p>fol. 180<sup>v</sup> – 182<sup>r</sup>
			</p>
		</td>
		<td width="463" style="border: none; padding: 0in">
			<p>Eingeschobener Überblick der Weltzeitalter (<i>SEX ETATIS SUNT
			MUNDI</i>) und <i>Computus</i> (<i>QUALITER INTELLEGERE</i> …)</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="142" style="border: none; padding: 0in">
			<p>fol.182<sup>r</sup> – 184<sup>r</sup></p>
		</td>
		<td width="463" style="border: none; padding: 0in">
			<p>Formelsammlung von Angers: Angers 58 – Angers 60</p>
		</td>
	</tr>
</table>
<p style="margin-bottom: 0.11in; line-height: 108%"><a name="_GoBack"></a>
</p>
<p lang="la-VA" class="western" style="line-height: 108%; margin-bottom: 0.11in">
<font face=""><span lang="de-DE">Lit.:</span></font></p>
<p style="margin-bottom: 0.11in; line-height: 108%"><br/><span lang="en-US">
D. </span><span style="font-variant: small-caps"><span lang="en-US">Liebs</span></span><span lang="en-US">,
</span><span lang="en-US">Scintilla de libro legum</span><span lang="en-US">: Römisches Vulgarrecht unter den Merowingern: die Fuldaer Epitome der Lex Romana Visigothorum, Berlin 2022</span></p>
<p style="margin-bottom: 0.11in; line-height: 108%"><br/><span lang="en-US">
A. </span><span style="font-variant: small-caps"><span lang="en-US">Rio</span></span><span lang="en-US">,
</span><span lang="en-US">Legal Practice and the Written Word in
the Early Middle Ages</span><span lang="en-US">. Frankish
Formulae, c. 500-1000, Cambridge u.a. 2009, S. 244</span></p>
</div>
{% endblock %}
