<!-- FUNCTION OF SPEECH MENU -->
<div class="btn-group">
    <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Choose a function of speech
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#empfanger">Empfänger</a>
        <a class="dropdown-item" href="#aussteller">Aussteller</a>
        <a class="dropdown-item" href="#motivformel">Motivformel</a>
        <a class="dropdown-item" href="#konsensformel">Konsensformel</a>
        <a class="dropdown-item" href="#dispositio">Dispositio</a>
        <a class="dropdown-item" href="#poenformel">Poenformel</a>
        <a class="dropdown-item" href="#datierungselemente">Datierungselemente</a>
        <a class="dropdown-item" href="#signumzeile">Signumzeile</a>
        <a class="dropdown-item" href="#schreiberformel">Schreiberformel</a>
        <a class="dropdown-item" href="#">None</a>
    </div>
</div>
