<div class="row bg-white py-1 mr-0">
  <div class="col"><img id="uhh-logo-header" src="{{url_for('.static', filename='images/uhh-logo-web.gif')}}" alt="Logo: Universität Hamburg"></div>
  <div class="col text-center"><a href="{{url_for('.r_index') }}"><img id="formulae-logo-header" src="{{url_for('.static', filename='images/logo.png')}}" alt="Logo: Formulae, Litterae, Chartae"></a></div>
  <div class="col"><img id="adw-logo-header" src="{{url_for('.static', filename='images/adwhh640x361.jpg')}}" height="113" alt="Logo: Akademie der Wissenschaften in Hamburg" class="float-right"></div>
  </div>
