{% extends "main::container.html" %}
{% block title %}Formulae - Litterae - Chartae: {{ _('Impressum') }}{% endblock %}

{%block article%}
<div class="container" lang="de">
    <header>
        <h1 class="text-center">{{ _('Impressum') }}</h1>
    </header>
    <section id="impressum-text">
        <p>Formulae - Litterae - Chartae<br>Universität Hamburg<br>Von-Melle-Park 6#5<br>20146 Hamburg<br>Deutschland<br><br>Tel.: +49 40 42838-4837<br>Fax: +49 40 42838-3955</p>
        <h4>{{ _('Inhaltliche Verantwortlichkeit i. S. v. § 5 TMG und § 55 Abs. 2 RStV') }}</h4>
        <p>
            Für die Richtigkeit und Aktualität der Inhalte sind die jeweiligen Erstellerinnen und Ersteller der einzelnen Seiten verantwortlich.<br><br>
            Prof. Dr. Philippe Depreux<br>
            Fakultät für Geisteswissenschaften, Fachbereich Geschichte<br>
            Von-Melle-Park 6#5<br>20146 Hamburg<br>
            Tel.: +49 40 42838-4837<br>
            E-Mail: philippe.depreux@uni-hamburg.de
        </p>
        <h4>Technische Verantwortlichkeit</h4>
        <p>Webmaster:<br><br>Thorben Schomacker<br>Tel.: +49 40 42838-1942<br>E-Mail: formulae.geschichte@uni-hamburg.de</p>
        <h4>Zentrale Addresse der Universität Hamburg</h4>
        <p>Universität Hamburg<br>Mittelweg 177<br>20148 Hamburg<br>Tel.: +49 40 42838-0<br>Fax: +49 40 42838-9586</p>
        <h4>Rechtsform und gesetzliche Vertretung</h4>
        <p>Die Universität Hamburg ist eine Körperschaft des Öffentlichen Rechts.Sie wird gesetzlich vertreten durch Prof. Dr. Dieter Lenzen, Präsident der Universität Hamburg, Mittelweg 177, 20148 Hamburg, Deutschland.</p>
        <h4>Zuständige Aufsichtsbehörde</h4>
        <p>Behörde für Wissenschaft, Forschung und Gleichstellung der Freien und Hansestadt Hamburg, Hamburger Straße 37, 22083 Hamburg</p>
        <h4>Umsatzsteueridentifikationsnummer</h4>
        <p>DE 245 584 140</p>
        <h4>Haftungsausschluss</h4>
        <p>Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Richtigkeit, Vollständigkeit und Aktualität unserer Webseiten sowie für die Inhalte externer Links. Von den Inhalten der verlinkten Seiten – auf deren Inhalt wir keinen Einfluss haben – distanzieren wir uns ausdrücklich. Diese Erklärung gilt für alle auf den Webseiten angebrachten Links und für alle Inhalte der Seiten, zu denen Links oder Banner führen.</p>
    </section>
</div>
{%endblock%}
