{% extends "main::container.html" %}
{% block title %}Formulae - Litterae - Chartae: Fulda, Hessische Landesbibliothek, D1{% endblock %}

{%block article%}
<div class="container">
       <h3 class="mb-3">Karlsruhe BLB Aug. perg. 112</h3>
<table width="604" cellpadding="7" cellspacing="0">
	<col width="108"/>

	<col width="468"/>

	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western" align="left" style="orphans: 2; widows: 2">
			<font ><font face=""><span lang="de-DE">fol.
			1</span></font><sup><font face=""><span lang="de-DE">r</span></font></sup></font></p>
		</td>
		<td width="468" style="border: none; padding: 0in"><p lang="la-VA" class="western" align="left" style="orphans: 2; widows: 2">
			<font ><font face=""><span lang="de-DE">Exzerpt
			von Isidor von Sevilla </span></font><font face=""><span lang="de-DE"><i>Etymologiae
			</i></span></font><font face=""><span lang="de-DE">I,
			4-5, </span></font><font face=""><span lang="de-DE"><i>De
			grammatica</i></span></font><font face=""><span lang="de-DE">
			(Vgl. </span></font><span style="font-variant: small-caps"><font face=""><span lang="de-DE">Lindsay</span></font></span><font face=""><span lang="de-DE">,
			Wallace Martin (Hg.): Etymologiarum sive originum. Libri XX /
			Isidori Hispalensis Episcopi (Scriptorum classicorum bibliotheca
			Oxoniensis), Oxford 1911).</span></font></font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western" align="left" style="orphans: 2; widows: 2">
			<font ><font face=""><span lang="de-DE">fol.
			1</span></font><sup><font face=""><span lang="de-DE">r</span></font></sup><font face=""><span lang="de-DE">-6</span></font><sup><font face=""><span lang="de-DE">r</span></font></sup></font></p>
		</td>
		<td width="468" style="border: none; padding: 0in"><p lang="la-VA" class="western" align="left" style="orphans: 2; widows: 2">
			<font ><font face=""><span lang="de-DE">Exzerpt
			von Sergius: </span></font><font face=""><span lang="de-DE"><i>Explanationum
			in artem Donati, Libri I</i></span></font><font face=""><span lang="de-DE">
			(Vgl. </span></font><span style="font-variant: small-caps"><font face=""><span lang="de-DE">Keil</span></font></span><font face=""><span lang="de-DE">,
			Heinrich (Hg.): Grammatici Latini 4. Probi Donati Servii qui
			feruntur de arte grammatica libri (Grammatici Latini 4), Leipzig
			1864.</span></font><font face=""><span lang="fr-FR">),
			Leipzig 1864, S. 519-522).</span></font></font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western" align="left" style="orphans: 2; widows: 2">
			<font ><font face=""><span lang="de-DE">fol.
			6</span></font><sup><font face=""><span lang="de-DE">r</span></font></sup><font face=""><span lang="de-DE">-13</span></font><sup><font face=""><span lang="de-DE">r</span></font></sup></font></p>
		</td>
		<td width="468" style="border: none; padding: 0in"><p lang="la-VA" class="western" align="left" style="orphans: 2; widows: 2">
			<font ><font face=""><span lang="de-DE">Bruchstücke
			von Hymnen und grammatische Texte (Vgl. zu den Hymnen </span></font><span style="font-variant: small-caps"><font face=""><span lang="de-DE">Mone</span></font></span><font face=""><span lang="de-DE">,
			Franz Joseph: Lateinische Hymnen des Mittelalters. Aus
			Handschriften herausgegeben und erklärt, Freiburg i. Br 1853,
			Band I, S. 218, Band II, S. 450, Band I, S. 97, Band III, S. 430,
			Band I, S. 111, Band I, S. 183, Band II, S. 450).</span></font></font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western" align="left" style="orphans: 2; widows: 2">
			<font ><font face=""><span lang="de-DE">fol.
			13</span></font><sup><font face=""><span lang="de-DE">v</span></font></sup><font face=""><span lang="de-DE">-31</span></font><sup><font face=""><span lang="de-DE">r</span></font></sup></font></p>
		</td>
		<td width="468" style="border: none; padding: 0in"><p lang="la-VA" class="western" align="left" style="orphans: 2; widows: 2">
			<font ><font face=""><span lang="de-DE">Juvencus,
			III, I-IV, 387. (Siehe dazu </span></font><span style="font-variant: small-caps"><font face=""><span lang="de-DE">Heinsdorff</span></font></span><font face=""><span lang="de-DE">,
			Cornel: Der interpolierte Juvencus des Codex Augiensis 112 und
			Severus von Malaga, in: Vigiliae christianae 60 (2006), S.
			148–170).</span></font></font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western" align="left" style="orphans: 2; widows: 2">
			<font ><font face=""><span lang="de-DE">fol.
			31</span></font><sup><font face=""><span lang="de-DE">v</span></font></sup></font></p>
		</td>
		<td width="468" style="border: none; padding: 0in"><p lang="la-VA" class="western" align="left" style="orphans: 2; widows: 2">
			<font ><font face=""><span lang="de-DE">Fragment
			der </span></font><font face=""><span lang="de-DE"><i>Lex
			Alamannorum</i></span></font><font face=""><span lang="de-DE">,
			Klasse B, Titel 33a (Vgl. MGH LL nat. Germ., 5,1, S. 90-91).</span></font></font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western" align="left" style="orphans: 2; widows: 2">
			<font ><font face=""><span lang="de-DE">fol.
			32</span></font><sup><font face=""><span lang="de-DE">r</span></font></sup><font face=""><span lang="de-DE">-32</span></font><sup><font face=""><span lang="de-DE">v</span></font></sup></font></p>
		</td>
		<td width="468" style="border: none; padding: 0in"><p lang="la-VA" class="western" align="left" style="orphans: 2; widows: 2">
			<font ><font face=""><span lang="de-DE">Beginn
			der Geschichte von Lazarus, Luc. 16,19-21.</span></font></font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western" align="left" style="orphans: 2; widows: 2">
			<font ><font face=""><span lang="de-DE">fol.
			33</span></font><sup><font face=""><span lang="de-DE">r</span></font></sup><font face=""><span lang="de-DE">-45</span></font><sup><font face=""><span lang="de-DE">v</span></font></sup><font face=""><span lang="de-DE">
			</span></font></font>
			</p>
		</td>
		<td width="468" style="border: none; padding: 0in"><p lang="la-VA" class="western" align="left" style="orphans: 2; widows: 2">
			<font ><font face=""><span lang="de-DE">Isidor
			von Sevilla, </span></font><font face=""><span lang="de-DE"><i>De
			fide catholica contra Iudaeos</i></span></font><font face=""><span lang="de-DE">,
			I,1-XVII,4 (PL 83, Sp. 449B-476B); die letzte Seite ist nicht
			lesbar, vermutlich wird der Text hier noch weitergeführt.</span></font></font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western" align="left" style="orphans: 2; widows: 2">
			<font ><font face=""><span lang="de-DE">fol.
			46</span></font><sup><font face=""><span lang="de-DE">r</span></font></sup><font face=""><span lang="de-DE">-47</span></font><sup><font face=""><span lang="de-DE">r</span></font></sup></font></p>
		</td>
		<td width="468" style="border: none; padding: 0in"><p lang="la-VA" class="western" align="left" style="orphans: 2; widows: 2">
			<font ><font face=""><span lang="de-DE">Isidor
			von Sevilla, </span></font><font face=""><span lang="de-DE"><i>Etymologiae</i></span></font><font face=""><span lang="de-DE">
			VII, 12, 1-17, 20-33 (vgl. </span></font><span style="font-variant: small-caps"><font face=""><span lang="de-DE">Lindsay</span></font></span><font face=""><span lang="de-DE">).</span></font></font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western" align="left" style="orphans: 2; widows: 2">
			<font ><font face=""><span lang="de-DE">fol.
			47</span></font><sup><font face=""><span lang="de-DE">r</span></font></sup><font face=""><span lang="de-DE">-48</span></font><sup><font face=""><span lang="de-DE">r</span></font></sup></font></p>
		</td>
		<td width="468" style="border: none; padding: 0in"><p lang="la-VA" class="western" align="left" style="orphans: 2; widows: 2">
			<font ><font face=""><span lang="de-DE">Isidor
			von Sevilla, </span></font><font face=""><span lang="de-DE"><i>Etymologiae</i></span></font><font face=""><span lang="de-DE">
			XVII, 8, 5-12; XVII, 9, 3-39 (vgl. </span></font><span style="font-variant: small-caps"><font face=""><span lang="de-DE">Lindsay</span></font></span><font face=""><span lang="de-DE">).</span></font></font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western" align="left" style="orphans: 2; widows: 2">
			<font ><font face=""><span lang="de-DE">fol.
			48</span></font><sup><font face=""><span lang="de-DE">r</span></font></sup><font face=""><span lang="de-DE">-50</span></font><sup><font face=""><span lang="de-DE">v</span></font></sup></font></p>
		</td>
		<td width="468" style="border: none; padding: 0in"><p lang="la-VA" class="western" align="left" style="orphans: 2; widows: 2">
			<font ><font face=""><span lang="fr-FR"><i>De
			septem gradibus Christi</i></span></font><font face=""><span lang="fr-FR">;
			</span></font><font face=""><span lang="fr-FR"><i>De
			VII gradibus sapientiae</i></span></font><font face=""><span lang="fr-FR">;
			</span></font><font face=""><span lang="fr-FR"><i>De
			perfecto predicatore</i></span></font><font face=""><span lang="fr-FR">;
			</span></font><font face=""><span lang="fr-FR"><i>Item
			recapitulatio de ponderibus</i></span></font><font face=""><span lang="fr-FR">
			(Isidor von Sevilla, </span></font><font face=""><span lang="fr-FR"><i>Etymologiae</i></span></font><font face=""><span lang="fr-FR">
			XVI, 25, 8-21, vgl. </span></font><span style="font-variant: small-caps"><font face=""><span lang="fr-FR">Lindsay</span></font></span><font face=""><span lang="fr-FR">);
			</span></font><font face=""><span lang="fr-FR"><i>De
			argento vivo</i></span></font><font face=""><span lang="fr-FR">.</span></font></font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western" align="left" style="orphans: 2; widows: 2">
			<font ><font face=""><span lang="de-DE">fol.
			51</span></font><sup><font face=""><span lang="de-DE">r</span></font></sup><font face=""><span lang="de-DE">-61</span></font><sup><font face=""><span lang="de-DE">v</span></font></sup></font></p>
		</td>
		<td width="468" style="border: none; padding: 0in"><p lang="la-VA" class="western" align="left" style="orphans: 2; widows: 2">
			<font ><font face=""><span lang="fr-FR">Donatus,
			</span></font><font face=""><span lang="fr-FR"><i>Ars
			minor</i></span></font><font face=""><span lang="fr-FR">
			(</span></font><font face=""><span lang="fr-FR">Vgl.
			</span></font><span style="font-variant: small-caps"><font face=""><span lang="fr-FR">Keil,
			</span></font></span><font face=""><span lang="fr-FR">S.
			355-366).</span></font></font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western" align="left" style="orphans: 2; widows: 2">
			<font ><font face=""><span lang="de-DE">fol.
			61</span></font><sup><font face=""><span lang="de-DE">v</span></font></sup><font face=""><span lang="de-DE">-62</span></font><sup><font face=""><span lang="de-DE">v</span></font></sup></font></p>
		</td>
		<td width="468" style="border: none; padding: 0in"><p lang="la-VA" class="western" align="left" style="orphans: 2; widows: 2">
			<font ><font face=""><span lang="fr-FR">Donatus,
			</span></font><font face=""><span lang="fr-FR"><i>Ars
			minor</i></span></font><font face=""><span lang="fr-FR">
			(</span></font><font face=""><span lang="fr-FR">Vgl.
			</span></font><span style="font-variant: small-caps"><font face=""><span lang="fr-FR">Keil</span></font></span><font face=""><span lang="fr-FR">,
			S. 373-374).</span></font></font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western" align="left" style="orphans: 2; widows: 2">
			<font ><font face=""><span lang="de-DE">fol.
			62</span></font><sup><font face=""><span lang="de-DE">v</span></font></sup><font face=""><span lang="de-DE">-63</span></font><sup><font face=""><span lang="de-DE">r</span></font></sup></font></p>
		</td>
		<td width="468" style="border: none; padding: 0in"><p lang="la-VA" class="western" align="left" style="orphans: 2; widows: 2">
			<font ><font face=""><span lang="de-DE"><i>Item
			Sergii de eadem arte Donati. De nomine…</i></span></font></font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western" align="left" style="orphans: 2; widows: 2">
			<font ><font face=""><span lang="de-DE">fol.
			63</span></font><sup><font face=""><span lang="de-DE">r</span></font></sup><font face=""><span lang="de-DE">-101</span></font><sup><font face=""><span lang="de-DE">v</span></font></sup></font></p>
		</td>
		<td width="468" style="border: none; padding: 0in"><p lang="la-VA" class="western" align="left" style="orphans: 2; widows: 2">
			<font ><font face=""><span lang="de-DE">Grammatische
			Texte</span></font></font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western" align="left" style="orphans: 2; widows: 2">
			<font ><font face=""><span lang="de-DE">fol.
			102</span></font><sup><font face=""><span lang="de-DE">r</span></font></sup><font face=""><span lang="de-DE">-109</span></font><sup><font face=""><span lang="de-DE">v</span></font></sup></font></p>
		</td>
		<td width="468" style="border: none; padding: 0in"><p lang="la-VA" class="western" align="left" style="orphans: 2; widows: 2">
			<font ><font face=""><span lang="fr-FR"><i>De
			schematibus;</i></span></font><font face=""><span lang="fr-FR">
			Donatus, </span></font><font face=""><span lang="fr-FR"><i>Ars
			minor</i></span></font><font face=""><span lang="fr-FR">
			(</span></font><font face=""><span lang="fr-FR">Vgl.
			</span></font><span style="font-variant: small-caps"><font face=""><span lang="de-DE">Keil,
			</span></font></span><font face=""><span lang="de-DE">S.
			392-397).</span></font></font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western" align="left" style="orphans: 2; widows: 2">
			<font ><font face=""><span lang="de-DE">fol.
			109</span></font><sup><font face=""><span lang="de-DE">v</span></font></sup><font face=""><span lang="de-DE">-110</span></font><sup><font face=""><span lang="de-DE">v</span></font></sup></font></p>
		</td>
		<td width="468" style="border: none; padding: 0in"><p lang="la-VA" class="western" align="left" style="orphans: 2; widows: 2">
			<font ><font face=""><span lang="fr-FR"><i>De
			magis et nigromantiis</i></span></font><font face=""><span lang="fr-FR">
			(Isidor von Sevilla, </span></font><font face=""><span lang="fr-FR"><i>Etymologiae</i></span></font><font face=""><span lang="fr-FR">
			VIII, 9, 9-31, vgl. </span></font><span style="font-variant: small-caps"><font face=""><span lang="fr-FR">Lindsay</span></font></span><font face=""><span lang="fr-FR">).</span></font></font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western" align="left" style="orphans: 2; widows: 2">
			<font ><font face=""><span lang="de-DE">fol.
			110</span></font><sup><font face=""><span lang="de-DE">v</span></font></sup><font face=""><span lang="de-DE">-111</span></font><sup><font face=""><span lang="de-DE">r</span></font></sup></font></p>
		</td>
		<td width="468" style="border: none; padding: 0in"><p lang="la-VA" class="western" align="left" style="orphans: 2; widows: 2">
			<font ><font face=""><span lang="de-DE"><i>De
			ponderibus</i></span></font><font face=""><span lang="de-DE">
			(Isidor von Sevilla, </span></font><font face=""><span lang="de-DE"><i>Etymologiae</i></span></font><font face=""><span lang="de-DE">
			XVI, 25, 1-12, vgl. </span></font><span style="font-variant: small-caps"><font face=""><span lang="de-DE">Lindsay</span></font></span><font face=""><span lang="de-DE">).</span></font></font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western" align="left" style="orphans: 2; widows: 2">
			<font ><font face=""><span lang="de-DE">fol.
			111</span></font><sup><font face=""><span lang="de-DE">v</span></font></sup></font></p>
		</td>
		<td width="468" style="border: none; padding: 0in"><p lang="la-VA" class="western" align="left" style="orphans: 2; widows: 2">
			<font ><font face=""><span lang="de-DE"><i>Peta.
			Kunza. Duo sorores… </i></span></font><font face=""><span lang="de-DE">Liste
			mit Namen; </span></font><font face=""><span lang="fr-FR">Formulae
			Augienses (Coll. A) 21-23.</span></font></font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western" align="left" style="orphans: 2; widows: 2">
			<font ><font face=""><span lang="de-DE">fol.
			112</span></font><sup><font face=""><span lang="de-DE">r</span></font></sup><font face=""><span lang="de-DE">-112</span></font><sup><font face=""><span lang="de-DE">v</span></font></sup></font></p>
		</td>
		<td width="468" style="border: none; padding: 0in"><p lang="la-VA" class="western" align="left" style="orphans: 2; widows: 2">
			<font ><font face=""><span lang="de-DE">Formulae
			Augienses (Coll. A) 1-9.</span></font></font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western" align="left" style="orphans: 2; widows: 2">
			<font ><font face=""><span lang="de-DE">fol.
			113</span></font><sup><font face=""><span lang="de-DE">r</span></font></sup><font face=""><span lang="de-DE">-115</span></font><sup><font face=""><span lang="de-DE">v</span></font></sup></font></p>
		</td>
		<td width="468" style="border: none; padding: 0in"><p lang="la-VA" class="western" align="left" style="orphans: 2; widows: 2">
			<font ><font face=""><span lang="fr-FR">Formulae
			Augienses (Coll. A) 10-20 (12 und 13 = Marculf II,2 und Marculf
			II,3).</span></font></font></p>
		</td>
	</tr>
</table>
<p lang="la-VA" class="western" style="line-height: 108%; margin-bottom: 0.11in">
<br/>
<br/>

</p>
<p lang="la-VA" class="western" style="line-height: 108%; margin-bottom: 0.11in">
<font face=""><span lang="de-DE">Lit.:</span></font></p>
<p lang="la-VA" class="western" style="line-height: 108%; margin-bottom: 0.11in">
<font face=""><span lang="de-DE"><br/>
</span></font><font face=""><span lang="en-US">B.
</span></font><span style="font-variant: small-caps"><font face=""><span lang="de-DE">Bischoff</span></font></span><font face=""><span lang="de-DE">,
Katalog der festländischen Handschriften des neunten Jahrhunderts.
Bd. 1, Aachen – Lambach, Wiesbaden 1998, S. 344.</span></font></p>
<p lang="la-VA" class="western" style="line-height: 108%; margin-bottom: 0.11in">
<font face=""><span lang="de-DE">A. Holder, Die
Handschriften der Großherzoglich-Badischen Hof- und Landesbibliothek
in Karlsruhe, Bd. V: Die Reichenauer Handschriften in Karlsruhe, Bd.
1 (Leipzig, 1906), S. 289-94.</span></font></p>
<p lang="la-VA" class="western" style="line-height: 108%; margin-bottom: 0.11in">
<font face=""><span lang="de-DE">A. </span></font><span style="font-variant: small-caps"><font face=""><span lang="de-DE">Rio</span></font></span><font face=""><span lang="de-DE">,
</span></font><font face=""><span lang="de-DE">Legal
Practice and the Written Word in the Early Middle Ages</span></font><font face=""><span lang="de-DE">.
Frankish Formulae, c. 500-1000, Cambridge u.a. 2009, S. 244-245</span></font><font face=""><span lang="en-US">.</span></font></p>
<p lang="la-VA" class="western" style="line-height: 108%; margin-bottom: 0.11in">
<font face=""><span lang="en-US">Link zur
Bibliotheca Legum:
http://www.leges.uni-koeln.de/mss/handschrift/karlsruhe-blb-aug-perg-112/</span></font></p>
</div>
{% endblock %}
