<!-- THE LEXICON CARD -->
<div class="card border-light" style="margin-bottom:5px;" id="lex-card" title="{{ _('Über ein Wort fahren, um das Lemma angezeigt zu bekommen.') }}">
        
        <div class="card-header">
            {{ _('Lemma') }}
        </div>
        
    <div class="card-body p-2">
        <div class="float-left" style="font-size: small; height: 2em; line-height: 2em;" id="lem_box"><i class="text-muted">{{ _('Lemma') }}</i></div>
                
    </div>
</div>
                
