<!-- The Modal Content for the eLexicon entries -->
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="lexicon-modalLabel">{{collections.current.label}}</h5>
        <button type="button" class="close" aria-label="Close" onclick="closeLexEntry()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% if isReferencedBy %}
    <div class="dropdown">
    <button class="btn btn-link btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ _('Formeln mit diesem Lemma') }}
    </button>
    <div class="dropdown-menu version-dropdown">
            {% for r in isReferencedBy %}
            {% if r is string %}
            <a class="dropdown-item">- <span>{{ r }}</span></a>
            {% else %}
            {% if r[0][0] not in prev_texts %}
            <a class="dropdown-item" href="{{url_for('InstanceNemo.r_multipassage', objectIds=[prev_texts, collections.current.id, r[0][0]]|join_list_values('+'), subreferences=[prev_reffs, 'all', 'all']|join_list_values('+'))}}">- <span class="text-primary">{{ r[0][1] }}</span></a>
            {% for c in r[1] %}
            <span class="dropdown-item ml-2">- {{ c }}</span>
            {% endfor %}
            {% endif %}
            {% endif %}
            {% endfor %}
    </div>
    </div>
    {% endif %}
    <div class="modal-body">
    {{ text_passage }}
    <a href="{{ url_for('InstanceNemo.r_multipassage', objectIds=[prev_texts, objectId]|join_list_values('+'), subreferences=[prev_reffs, 'all']|join_list_values('+')) }}">{{ _('Diesen Beitrag parallel lesen') }}</a>
    </div>
    <div class="card-body">
    {{ notes }}
    </div>
    <div class="modal-footer">
        {% include "main::elex_modal_footer.html" %}
        <button type="button" class="btn btn-secondary" onclick="closeLexEntry()">{{ _('Schließen') }}</button>
    </div>
    </div>
</div>
