{% extends "main::container.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block article %}
    <article class="container-fluid" id="login-article">
    <header><h1>{{ title }}</h1></header>
    <div class="row">
        {% for form in forms %}
        <div class="col-auto">
            <h5>{{ form.title }}</h5>
            {{ wtf.quick_form(form, button_map={'submit': 'outline-secondary'}) }}
            {% if purpose == 'login' %}
            <br>
            <p>
                {{ _('Forgot Your Password?') }}
                <a href="{{ url_for('auth.r_reset_password_request') }}">{{ _('Click to Reset It') }}</a>
            </p>
            {% endif %}
        </div>
        {% endfor %}
</div>
</article>
{% endblock %}
