<!-- MANUSCRIPT MENU -->
<div class="text">
    <div class="btn-group">
        <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Choose a manuscript
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item">Mondsee Nr. 9</a>
            <a class="dropdown-item">Mondsee Nr. 25</a>
            <a class="dropdown-item">Mondsee Nr. 26</a>
            <a class="dropdown-item">Mondsee Nr. 29</a>
            <a class="dropdown-item">Mondsee Nr. 31</a>
            <a class="dropdown-item">Mondsee Nr. 63</a>
            <a class="dropdown-item">Mondsee Nr. 114</a>
            <a class="dropdown-item">Mondsee Nr. 123</a>
        </div>
    </div>
</div>
