<!-- Extra information for Formulae Marculfinae aevi Karolini -->

    
    <div class="row">
        <div class="col-6">
            <h5>{{ _('Zur Sammlung') }}:</h5>
            <p>
            Die <i>Formulae Marculfinae aevi Karolini</i> sind keine historische Sammlung, sondern ein Konstrukt der modernen Forschung. Unter dem Namen „marculfische Formeln aus karolingischer Zeit“ fasste erstmals Karl Zeumer eine Gruppe von 32 Formeln aus München, Bayrische Staatsbibliothek, Clm. 4650 (<b>M<span class="subscript smaller-text">4</span></b>) und Leiden, Universitätsbibliothek, Voss.lat. O. 86 (<b>Le<span class="subscript smaller-text">3</span></b>) zusammen (MGH Formulae, S. 113-127). Bei 22 dieser Formeln handelt es sich um überarbeitete Marculf-Formeln, die für den Gebrauch in nachmerowingischer Zeit aktualisiert und an die veränderten Gegebenheiten der karolingischen Herrschaft angepasst wurden (ihre Lesarten sind in den Apparat der Edition der Marculf-Sammlung eingeflossen). Die zehn übrigen Formeln haben dagegen keinen erkennbaren Bezug zum Marculf-Material.
            </p>
            <p>
            Der überwiegende Teil dieser Formeln stammt aus einer umfangreichen Zusammenstellung von Formelmaterial aus Salzburg (<b>M<span class="subscript smaller-text">4</span></b>), die 127 Formeln umfasst, darunter 20 überarbeitete Marculf-Formeln. Zeumer schied diese 20 Formeln vom Rest und fasste sie mit acht weiteren Formeln zusammen, die den Marculf-Formeln vorausgehen oder dazwischenstehen. Sieben der 20 überarbeiteten Marculf-Formeln aus <b>M<span class="subscript smaller-text">4</span></b> sind auch in einer kleinen Formelsammlung aus Trier erhalten (<b>Le<span class="subscript smaller-text">3</span></b>). Die Trierer Sammlung enthält zudem zwei weitere überarbeitete Marculf-Formeln, die in <b>M<span class="subscript smaller-text">4</span></b> nicht enthalten sind, eine der nicht-marculfischen Formeln aus <b>M<span class="subscript smaller-text">4</span></b> sowie eine weitere eigenständige Formel ohne jeden Bezug zu Marculf oder der Salzburger Sammlung.
            </p>
        </div>
    </div>
