{% extends "main::container.html" %}
{% block title %}Formulae - Litterae - Chartae: Fulda, Hessische Landesbibliothek, D1 - {{ _('Inhalt') }}{% endblock %}

{%block article%}
<div class="container">
       <h3 class="mb-3">München BSB clm 4650 - Inhalt</h3>
<p lang="la-VA" class="western" style="line-height: 108%; margin-bottom: 0.11in"><i>
Kommentar: Die Handschrift weist drei Bindefehler auf. Die
Reihenfolge war ursprünglich: fol. 1-23, 32-39, 24-31, 56-71, 40-55,
80-85, 72-79.</i></p>
<p lang="la-VA" class="western" style="line-height: 108%; margin-bottom: 0.11in">
<br/>
<br/>

</p>
<p lang="la-VA" class="western" style="line-height: 108%; margin-bottom: 0.11in"><u><b>
Tabelle sortiert nach ursprünglicher Bindung</b></u></p>
<table width="604" cellpadding="7" cellspacing="0">
	<col width="108"/>

	<col width="492"/>

	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 1r-15v</p>
		</td>
		<td width="492" style="border: none; padding: 0in"><p lang="la-VA" class="western"><a name="_GoBack"></a>
			Formulae Salicae Lindenbrogianae 1-14</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 15v-16r</p>
		</td>
		<td width="492" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Salicae Lindenbrogianae Additamenta 1 (entspricht dem
			Anfang von Marculf II,7)</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 16r-18r</p>
		</td>
		<td width="492" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Salicae Lindenbrogianae Additamenta 2-3</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 18r-23v</p>
		</td>
		<td width="492" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Salicae Lindenbrogianae 15-20 (Anfang)</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 32r-33r</p>
		</td>
		<td width="492" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Salicae Lindenbrogianae 20 (Ende) - 21</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 33r-37r</p>
		</td>
		<td width="492" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Marculfinae aevi Karolini 1-7 (Salzburger Formelmaterial)</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 37r-37v</p>
		</td>
		<td width="492" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Marculfinae aevi Karolini 8 (Marculf II,47)</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 37v-38v</p>
		</td>
		<td width="492" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Marculfinae aevi Karolini 9 (Marculf Ergänzungen 3,3)</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 38v-39r</p>
		</td>
		<td width="492" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Marculfinae aevi Karolini 10 (Salzburger Formelmaterial)</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 39r</p>
		</td>
		<td width="492" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Marculfinae aevi Karolini 11 (Marculf Ergänzungen 3,4)</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 39r-39v</p>
		</td>
		<td width="492" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Marculfinae aevi Karolini 12 (Anfang) (Anfang von Marculf
			I,7)</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 24r</p>
		</td>
		<td width="492" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Marculfinae aevi Karolini 12 (Ende) (Ende von Marculf
			I,7)</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 24r-24v</p>
		</td>
		<td width="492" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Marculfinae aevi Karolini 13 (Marculf I,6)</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 24v-25v</p>
		</td>
		<td width="492" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Marculfinae aevi Karolini 14 (Marculf Ergänzungen 3,5)</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 25v-26r</p>
		</td>
		<td width="492" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Marculfinae aevi Karolini 17 (Marculf I,10)</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 26r-26v</p>
		</td>
		<td width="492" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Marculfinae aevi Karolini 18 (Marculf I,29)</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 26v-27r</p>
		</td>
		<td width="492" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Marculfinae aevi Karolini 19 (Marculf I,34)</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 27r-28r</p>
		</td>
		<td width="492" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Marculfinae aevi Karolini 20 (Marculf I,11)</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 28r-28v</p>
		</td>
		<td width="492" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Marculfinae aevi Karolini 21 (Salzburger Formelmaterial)</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 28v-29r</p>
		</td>
		<td width="492" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Salicae Lindenbrogianae Additamenta 4</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 29r-30r</p>
		</td>
		<td width="492" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Marculfinae aevi Karolini 22 (Marculf I,33)</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 30r-31v</p>
		</td>
		<td width="492" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Marculfinae aevi Karolini 23-25 (Anfang) (Marculf I,14 –
			Anfang von Marculf I,16)</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 56r</p>
		</td>
		<td width="492" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Marculfinae aevi Karolini 25 (Ende) (Ende von Marculf
			I,16)</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 56r-57r</p>
		</td>
		<td width="492" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Marculfinae aevi Karolini 26 (Marculf I,17)</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 57r-57v</p>
		</td>
		<td width="492" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Marculfinae aevi Karolini 27 (Marculf Ergänzungen I,22)</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 57v-58r</p>
		</td>
		<td width="492" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Marculfinae aevi Karolini 28 (Marculf Ergänzungen 3,2)</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 58r-63r</p>
		</td>
		<td width="492" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Marculfinae aevi Karolini 29-31 (Marculf I,2 – Marculf
			I,4)</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 63r-71v
			</p>
		</td>
		<td width="492" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Salzburgenses 1-16 (Anfang); auf fol. 66v-68r gibt es
			moralische und spirituelle Überlegungen, die nicht klar von den
			Formeln getrennt sind.</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 40r-55v</p>
		</td>
		<td width="492" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Salzburgenses 16 (Ende) – 60 (Anfang); auf fol. 41v-42v
			gibt es moralische und spirituelle Überlegungen, die nicht klar
			von den Formeln getrennt sind; auf 48v-49r sind Fragen und
			Antworten zu Gott und der Schöpfung, die ebenfalls nicht klar von
			den Formeln getrennt sind</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 80r-84v</p>
		</td>
		<td width="492" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Salzburgenses 60 (Ende) – 66
			</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 84v-85v</p>
		</td>
		<td width="492" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Alcuin, Brief Nr. 294 (Anfang)</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 72r-79v</p>
		</td>
		<td width="492" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Alcuin, Briefe (Nr. 294 (Ende), 107, 167, 146, 165, 150, 153, 173,
			156 (Anfang))</p>
		</td>
	</tr>
</table>
<p lang="la-VA" class="western" style="line-height: 108%; margin-bottom: 0.11in">
<br/>
<br/>

</p>
<p lang="la-VA" class="western" style="line-height: 108%; margin-bottom: 0.11in"><u><b>
Tabelle sortiert nach heutiger Bindung:</b></u></p>
<table width="604" cellpadding="7" cellspacing="0">
	<col width="108"/>

	<col width="495"/>

	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 1r-15v</p>
		</td>
		<td width="495" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Salicae Lindenbrogianae 1-14</p>
		</td>
	</tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 15v-16r</p>
		</td>
		<td width="495" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Salicae Lindenbrogianae Additamenta 1 (Anfang von Marculf
			II,7)</p>
		</td>
	</tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 16r-18r</p>
		</td>
		<td width="495" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Salicae Lindenbrogianae Additamenta 2-3</p>
		</td>
	</tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 18r-23v</p>
		</td>
		<td width="495" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Salicae Lindenbrogianae 15-20 (Anfang)</p>
		</td>
	</tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 24r</p>
		</td>
		<td width="495" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Marculfinae aevi Karolini 12 (Ende) (Ende von Marculf
			I,7)</p>
		</td>
	</tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 24r-24v</p>
		</td>
		<td width="495" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Marculfinae aevi Karolini 13 (Marculf I,6)</p>
		</td>
	</tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 24v-25v</p>
		</td>
		<td width="495" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Marculfinae aevi Karolini 14 (Marculf Ergänzungen 3,5)</p>
		</td>
	</tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 25v-26r</p>
		</td>
		<td width="495" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Marculfinae aevi Karolini 17 (Marculf I,10)</p>
		</td>
	</tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 26r-26v</p>
		</td>
		<td width="495" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Marculfinae aevi Karolini 18 (Marculf I,29)</p>
		</td>
	</tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 26v-27r</p>
		</td>
		<td width="495" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Marculfinae aevi Karolini 19 (Marculf I,34)</p>
		</td>
	</tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 27r-28r</p>
		</td>
		<td width="495" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Marculfinae aevi Karolini 20 (Marculf I,11)</p>
		</td>
	</tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 28r-28v</p>
		</td>
		<td width="495" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Marculfinae aevi Karolini 21 (Salzburger Formelmaterial)</p>
		</td>
	</tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 28v-29r</p>
		</td>
		<td width="495" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Salicae Lindenbrogianae Additamenta 4</p>
		</td>
	</tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 29r-30r</p>
		</td>
		<td width="495" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Marculfinae aevi Karolini 22 (Marculf I,33)</p>
		</td>
	</tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 30r-31v</p>
		</td>
		<td width="495" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Marculfinae aevi Karolini 23-25 (Anfang) (Marculf I,14 –
			Anfang von Marculf I,16)</p>
		</td>
	</tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 32r-33r</p>
		</td>
		<td width="495" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Salicae Lindenbrogianae 20 (Ende) - 21</p>
		</td>
	</tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 33r-37r</p>
		</td>
		<td width="495" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Marculfinae aevi Karolini 1-7 (Salzburger Formelmaterial)</p>
		</td>
	</tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 37r-37v</p>
		</td>
		<td width="495" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Marculfinae aevi Karolini 8 (Marculf II,47)</p>
		</td>
	</tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 37v-38v</p>
		</td>
		<td width="495" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Marculfinae aevi Karolini 9 (Marculf Ergänzungen 3,3)</p>
		</td>
	</tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 38v-39r</p>
		</td>
		<td width="495" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Marculfinae aevi Karolini 10 (Salzburger Formelmaterial)</p>
		</td>
	</tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 39r</p>
		</td>
		<td width="495" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Marculfinae aevi Karolini 11 (Marculf Ergänzungen 3,4)</p>
		</td>
	</tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 39r-39v</p>
		</td>
		<td width="495" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Marculfinae aevi Karolini 12 (Anfang) (Anfang von Marculf
			I,7)</p>
		</td>
	</tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 40r-55v</p>
		</td>
		<td width="495" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Salzburgenses 16 (Ende) – 60 (Anfang); auf fol. 41v-42v
			gibt es moralische und spirituelle Überlegungen, die nicht klar
			von den Formeln getrennt sind; auf 48v-49r sind Fragen und
			Antworten zu Gott und der Schöpfung, die ebenfalls nicht klar von
			den Formeln getrennt sind</p>
		</td>
	</tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 56r</p>
		</td>
		<td width="495" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Marculfinae aevi Karolini 25 (Ende) (Ende von Marculf
			I,16)</p>
		</td>
	</tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 56r-57r</p>
		</td>
		<td width="495" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Marculfinae aevi Karolini 26 (Marculf I,17)</p>
		</td>
	</tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 57r-57v</p>
		</td>
		<td width="495" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Marculfinae aevi Karolini 27 (Marculf Ergänzungen I,22)</p>
		</td>
	</tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 57v-58r</p>
		</td>
		<td width="495" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Marculfinae aevi Karolini 28 (Marculf Ergänzungen 3,2)</p>
		</td>
	</tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 58r-63r</p>
		</td>
		<td width="495" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Marculfinae aevi Karolini 29-31 (Marculf I,2 – Marculf
			I,4)</p>
		</td>
	</tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 63r-71v
			</p>
		</td>
		<td width="495" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Salzburgenses 1-16 (Anfang); auf fol. 66v-68r gibt es
			moralische und spirituelle Überlegungen, die nicht klar von den
			Formeln getrennt sind.</p>
		</td>
	</tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 72r-79v</p>
		</td>
		<td width="495" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Alcuin, Briefe (Nr. 294 (Ende), 107, 167, 146, 165, 150, 153, 173,
			156 (Anfang))</p>
		</td>
	</tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 80r-84v</p>
		</td>
		<td width="495" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Formulae Salzburgenses 60 (Ende) – 66
			</p>
		</td>
	</tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr valign="top">
		<td width="108" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			fol. 84v-85v</p>
		</td>
		<td width="495" style="border: none; padding: 0in"><p lang="la-VA" class="western">
			Alcuin, Brief Nr. 294 (Anfang)</p>
		</td>
	</tr>
</table>
<p lang="la-VA" class="western" style="line-height: 108%; margin-bottom: 0.11in">
<br/>
<br/>

</p>
<p lang="la-VA" class="western" style="line-height: 108%; margin-bottom: 0.11in">
Lit.
</p>
<p lang="la-VA" class="western" style="line-height: 108%; margin-bottom: 0.11in">
K. <span style="font-variant: small-caps">Bierbrauer</span>, Die vorkarolingischen und karolingischen Handschriften
der Bayerischen Staatsbibliothek, Text- und Tafelband. Wiesbaden
1990, S. 78-79.</p>
<p lang="la-VA" class="western" style="line-height: 108%; margin-bottom: 0.11in">
B. <span style="font-variant: small-caps">Bischoff</span>, Katalog der festländischen Handschriften des neunten
Jahrhunders. Bd. 2, Laon – Paderborn, Wiesbaden 2004, S. 230, Nr.
2980.</p>
<p lang="la-VA" class="western" style="line-height: 108%; margin-bottom: 0.11in">
<span lang="de-DE">Ph. <span style="font-variant: small-caps">Depreux</span>, Variations on Some Common Topics in
Medieval Latin Letters. The Case of the Salzburg Formulae Collection
(Late Ninth Century), in: </span><span lang="de-DE">Stefanie
Brinkmann, Giovanni Ciotti, Stefano Valente und Eva Maria Wilden
(Hrsg.), Education Materialised. Reconstructing Teaching and Learning
Contexts through Manuscripts, Berlin/New York 2021 (Studies in
Manuscript Cultures, 23), S. 417-439.</span></p>
<p lang="la-VA" class="western" style="line-height: 108%; margin-bottom: 0.11in">
G. <span style="font-variant: small-caps">Glauche</span>, Katalog der lateinischen Handschriften der Bayerischen
Staatsbibliothek München. Die Pergamenthandschriften aus
Benediktbeuern: Clm 4501-4663, Wiesbaden 1994, S. 283-284.</p>
<p lang="la-VA" class="western" style="line-height: 108%; margin-bottom: 0.11in">
K. <span style="font-variant: small-caps">Halm</span>, Catalogus codicum latinorum (Clm 2501-5250), Wiesbaden 1894.</p>
<p lang="la-VA" class="western" style="line-height: 108%; margin-bottom: 0.11in">
A. <span style="font-variant: small-caps">Rio</span>, Legal Practice and the Written Word in the Early Middle Ages.
Frankish Formulae, c. 500-1000, Cambridge u.a. 2009, S. 247-248.</p>
<p lang="la-VA" class="western" style="line-height: 108%; margin-bottom: 0.11in">
L. <span style="font-variant: small-caps">Rockinger</span>, Drei Formelsammlungen aus der Zeit der Karolinger. Aus
münchner Handschriften mitgetheilt, München 1857, S. 5-21.
</p>
<p lang="la-VA" class="western" style="line-height: 108%; margin-bottom: 0.11in">
E. <span style="font-variant: small-caps">Rozière</span>, Formules inédites publiées d'après deux manuscrits
des bibliothèques royales de Munich et de Copenhague, in: Revue
historique de droit français et étranger 5 (1859), S. 10-14.</p>
<p lang="la-VA" class="western" style="line-height: 108%; margin-bottom: 0.11in">
<span style="font-variant: small-caps">Zeumer</span>, Karl, Über die älteren fränkischen Formelsammlungen, in:
Neues Archiv der Gesellschaft für ältere deutsche Geschichtskunde 6
(1881), S. 9–115.</p>
<p lang="la-VA" class="western" style="line-height: 108%; margin-bottom: 0.11in">
<br/>
<br/>

</p>
</div>
{% endblock %}
