{% extends "main::text_container.html" %}
{% if objects %}
    {% set prev_texts = objects|join('+', attribute='objectId') %}
    {% set prev_reffs = objects|join('+', attribute='subreference') %}
{% else %}
    {% set prev_texts = objectId %}
    {% set prev_reffs = subreference %}
{% endif %}
{% macro header_passage(object) %}
<header>
    <div class="panel-footer text-center">
            {% if 'manifest' in object.objectId %}
            <h3 class="entry-title text-center">{{object.title}}</h3>
            <a class="entry-title text-center" href="{{url_for('viewer.fullscreenviewer', objectId=object.objectId, view='0', embedded=True)}}" target="_blank" onclick="hide()"class="pull-right">{{ _('Open in new tab')}}</a>
            {% else %}
           <h3 class="entry-title text-center">{{object.collections.current.title}}<a id="{{ object.objectId|replace(':', '-')|replace('.', '-') }}" tabindex="0" type="button" class="btn btn-link px-1" data-container="body" data-toggle="charter-bibl-popover" data-placement="right" data-html="true" data-content="<button type=&quot;button&quot; class=&quot;close&quot; aria-label=&quot;Close&quot; onclick=&quot;closePopup('{{ object.objectId|replace(':', '-')|replace('.', '-') }}')&quot;&gt;☒&lt;/button&gt;{{ object.collections.current.citation }}"><i class="fas fa-info-circle"></i></a></h3>
            {% endif %}
            {% if object.IIIFviewer == true %}
                <div class="dropdown">
                    <button class="btn btn-link btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ _('Viewer') }}
                    </button>
                    <div class="dropdown-menu version-dropdown">
                        <a class="dropdown-item" href="{{url_for('viewer.fullscreenviewer', objectId=object.objectId, view='0', embedded=True)}}" target="_blank" onclick="hide()"class="pull-right">{{ _('Open in new tab')}}</a>
                        <a class="dropdown-item pull-right" href="{{url_for('InstanceNemo.r_multipassage', objectIds=[prev_texts,'manifest:'+object.objectId]|join_list_values('+'), subreferences=[prev_reffs, 'all']|join_list_values('+'))}}" target="_blank">{{ _('Open viewer formulae') }}</a>
                    </div>
                </div>
            {% endif %}
    </div>


    <span class="text-center">{{ version_menu(object.objectId, object.isReferencedBy) }}</span>

    {% if 'elexicon' not in object.objectId and 'manifest' not in object.objectId %}
        {% if object.open_regest or current_user.project_team %}
        {% include "main::regest_collapse.html" %}
        {% else %}
        <br>
        {% endif %}
    {% endif %}
    <span class='Z3988' title='{{object.collections.current.coins}}'></span>

</header>
{% endmacro %}


{% macro version_menu(objId, inRefs) %}
{% if objects %}
    {% set prev_texts = objects|join('+', attribute='objectId') %}
    {% set prev_reffs = objects|join('+', attribute='subreference') %}
{% else %}
    {% set prev_texts = objectId %}
    {% set prev_reffs = subreference %}
{% endif %}

<div class="dropdown">
    <button class="btn btn-link btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ _('Weitere Texte anzeigen') }}
    </button>
    <div class="dropdown-menu version-dropdown">
        {% if translation[objId] %}
            <span class="dropdown-item-text">{{ _('andere Version(en) dieser Text') }}</span>
            {% for t in translation[objId] %}
            <a class="dropdown-item" href="{{url_for('InstanceNemo.r_multipassage', objectIds=[prev_texts, t.id]|join_list_values('+'), subreferences=[prev_reffs, 'all']|join_list_values('+'))}}">- <span class="text-primary">{{ t.get_label()|string + ' (' + t.lang + ')' }}</span></a>

            {% endfor %}
            <div class="dropdown-divider"></div>
        {% endif %}
        {% if inRefs %}
            <span class="dropdown-item-text">{{ _('Formeln mit diesem Lemma') }}</span>
            {% for r in inRefs %}
            {% if r is string %}
            <a class="dropdown-item">- <span>{{ r }}</span></a>
            {% else %}
            {% if r[0].id not in prev_texts %}
            <a class="dropdown-item" href="{{url_for('InstanceNemo.r_multipassage', objectIds=[prev_texts, r[0].id]|join_list_values('+'), subreferences=[prev_reffs, 'all']|join_list_values('+'))}}">- <span class="text-primary">{{ r[0].get_label()|string + ' (' + r[0].lang + ')' }}</span></a>
            {% for c in r[1] %}
            <span class="dropdown-item ml-2">- {{ c }}</span>
            {% endfor %}
            {% endif %}
            {% endif %}
            {% endfor %}
            <div class="dropdown-divider"></div>
        {% endif %}
        <span class="dropdown-item-text">{{ _('anderen Texte') }}</span>
        <a class="dropdown-item" href="{{url_for('InstanceNemo.r_add_text_collection', objectId='formulae_collection', objectIds=prev_texts, reffs=prev_reffs)}}">- <span class="text-primary">{{ _('Formeln') }}</span></a>
        <a class="dropdown-item" href="{{url_for('InstanceNemo.r_add_text_collection', objectId='lexicon_entries', objectIds=prev_texts, reffs=prev_reffs)}}">- <span class="text-primary">{{ _('Lexikon') }}</span></a>
        <a class="dropdown-item" href="{{url_for('InstanceNemo.r_add_text_collection', objectId='other_collection', objectIds=prev_texts, reffs=prev_reffs)}}">- <span class="text-primary">{{ _('Andere Texte') }}</span></a>
    </div>
</div>
{% endmacro %}

{% macro nav(text, all_texts, new_reffs, index) %}
    {% if text.prev %}
    {% set prev_reffs = new_reffs|replace_indexed_item(index, text.prev) %}
    <a href="{{url_for('InstanceNemo.r_multipassage', objectIds=all_texts|join_list_values('+'), subreferences=prev_reffs|join_list_values('+')) }}">«<small>{{ _('Vorherige Seite') }}</small>
    </a>
    {% endif %}
    {% if text.next %}
    {% set next_reffs = new_reffs|replace_indexed_item(index, text.next) %}
    <a class="ml-auto" href="{{url_for('InstanceNemo.r_multipassage', objectIds=all_texts|join_list_values('+'), subreferences=next_reffs|join_list_values('+')) }}"><small>{{ _('Nächste Seite') }}</small>»
    </a>
    {% endif %}
{% endmacro %}

{% macro default_footer() %}
    {% include "main::passage_footer.html" %}
{% endmacro %}

{% macro show_passage(objects, navigation) %}
    <div class="">
    <!-- The Modal container for the eLexicon entries. -->
    <div class="modal" id="lexicon-modal" message="{{ _('Es gibt derzeit noch keinen Lexikoneintrag zu') }} " tabindex="-1" role="dialog" aria-labelledby="lexicon-modalLabel" aria-hidden="true">

    </div>
        <article class="hentry entry white col-sm-12">
            <!-- <nav>
                {{ navigation }}
            </nav> -->

            <div class="row">
                <section class="col-sm with-border" id="viewer" style="display:none;"></section>
            {% for text in objects %}
            {%set all_texts = objects|map(attribute='objectId')|list %}
            {%set all_reffs = objects|map(attribute='subreference')|list %}
            {%set new_reffs = objects|map(attribute='subreference')|list %}
            {% set navigation = nav(text, all_texts, new_reffs, loop.index0) %}
            {% if current_user.project_team == False and 'andecavensis' in text.objectId  %}
                {% if loop.last %}
                <section class="col-sm no-copy">
                {% else %}
                <section class="col-sm with-border no-copy">
                {% endif %}
            {% else %}
                {% if loop.last %}
                <section class="col-sm">
                {% else %}
                <section class="col-sm with-border">
                {% endif %}
            {% endif %}
                {% if objects|length > 1 %}
                <a href="{{ url_for('InstanceNemo.r_multipassage', objectIds=all_texts|remove_from_list(text.objectId)|join_list_values('+'), subreferences=all_reffs|remove_from_list(text.subreference)|join_list_values('+')) }}">{{ _('Diesen Text ausblenden') }}</a>
                {% endif %}
                {% if  text.text_passage %}
                    {{ header_passage(text) }}
                    <div class="d-flex flex-row">{{ navigation }}</div>
                        {{ text.text_passage }}
                    <footer>{% include "main::passage_footer.html" %}</footer>
                </section>
                 {% else %}
                    {{ header_passage(text) }}
                    {% with manifest = text.manifest, div_v = text.div_v %}
                    {% include "viewer::embededmirador.html" %}
                    {% endwith %}
                </section>
                {% endif %}
            {% endfor %}
            </div>
        </article>
    </div>


{% endmacro %}

{% block texts %}

{{ show_passage(objects) }}

{% endblock %}

{% block pdfs %}

<div class="row">
    {% for text in objects %}
    {% set path = 'images/' ~ text.objectId ~ '.pdf' %}
    <section class="col-sm">
        <div class="embed-responsive embed-responsive-1by1">
            <object data="{{url_for('InstanceNemo.static', filename=path)}}" class="embed-responsive-item"></object>
        </div>
    </section>
    {% endfor %}
</div>
{% endblock %}

{% block metadata %}
{% endblock %}

{% block additionalscript %}
<script>
     var expMess="{{ _('Mehr zeigen') }}";
     var conMess="{{ _('Weniger zeigen') }}";
     var appHeading="{{ _('Apparatus') }}";
     var comHeading="{{ _('Kommentar') }}";
     var appCloseButton="{{ _('Alle Apparatusanmerkungen für diesen Text ausblenden') }}";
     var appOpenButton="{{ _('Alle Apparatusanmerkungen für diesen Text einblenden') }}";
     var comCloseButton="{{ _('Alle Kommentaranmerkungen für diesen Text ausblenden') }}";
     var comOpenButton="{{ _('Alle Kommentaranmerkungen für diesen Text einblenden') }}";
</script>
<script src="{{url_for('InstanceNemo.static', filename='js/multipassage.js')}}"></script>
<script type='text/javascript' src="{{url_for('InstanceNemo.static', filename='js/mirador.min.js')}}"></script>
{% endblock %}
