{% extends "main::text_container.html" %}

{% if objects %}
    {% set prev_texts = objects|join('+', attribute='objectId') %}
    {% set prev_reffs = objects|join('+', attribute='subreference') %}
{% else %}
    {% set prev_texts = objectId %}
    {% set prev_reffs = subreference %}
{% endif %}

{% macro header_passage(object, index, all_texts, all_reffs) %}
<header class="col-12 justify-content-center px-0">
    <div class="panel-footer text-center">
        <div class="row pt-0 pb-0">
            {% if object.collections.parents[-1]['id'] == 'formulae_collection' %}
            {% set prev_obj = _('Vorherige Formel') %}
            {% set next_obj = _('Nächste Formel') %}
            {% elif object.collections.parents[-1]['id'] == 'lexicon_entries' %}
            {% set prev_obj = _('Vorheriger Eintrag') %}
            {% set next_obj = _('Nächster Eintrag') %}
            {% else %}
            {% set prev_obj = _('Vorherige Urkunde') %}
            {% set next_obj = _('Nächste Urkunde') %}
            {% endif %}
            {% if object.prev_version %}
            {% set all_texts = all_texts|replace_indexed_item(index - 1, object.prev_version) %}
            <div class="col">
                <a href="{{url_for('InstanceNemo.r_multipassage', objectIds=all_texts|join_list_values('+'), subreferences=all_reffs|join_list_values('+')) }}">«<small>{{ prev_obj }}</small></a>
            </div>
            {% set all_texts = all_texts|replace_indexed_item(index - 1, object.objectId) %}
            {% else %}
            <div class="col">
            </div>
            {% endif %}
            {% if object.next_version %}
            {% set all_texts = all_texts|replace_indexed_item(index - 1, object.next_version) %}
            <div class="col">
                <a href="{{url_for('InstanceNemo.r_multipassage', objectIds=all_texts|join_list_values('+'), subreferences=all_reffs|join_list_values('+')) }}"><small>{{ next_obj }}</small>»</a>
            </div>
            {% set all_texts = all_texts|replace_indexed_item(index - 1, object.objectId) %}
            {% else %}
            <div class="col">
            </div>
            {% endif %}
        </div>
        <div class="row justify-content-center pt-0 pb-0">
            {% if objects|length > 1 %}
            <div class="col col-auto">
                <a class="remove-column-link" href="{{ url_for('InstanceNemo.r_multipassage', objectIds=all_texts|remove_from_list(object.objectId)|join_list_values('+'), subreferences=all_reffs|remove_from_list(object.subreference)|join_list_values('+')) }}">{{ _('Spalte ausblenden') }}</a>
            </div>
            {% set all_texts = all_texts|insert_in_list(index - 1, object.objectId) %}
            {% set all_reffs = all_reffs|insert_in_list(index - 1, object.subreference) %}
            {% endif %}
            {% for manifest in object.IIIFviewer if manifest[0] not in request.path %}
                {% if loop.first %}
                <div class="col col-auto">
                    <div class="dropdown">
                        <button class="btn btn-link btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ _('Manuskriptbilder') }}
                        </button>
                        <div class="dropdown-menu version-dropdown">
                {% endif %}
                                <a class="dropdown-item pull-right" href="{{url_for('InstanceNemo.r_multipassage', objectIds=objects|map(attribute='objectId')|list|insert_in_list(index, manifest[0])|join_list_values('+'), subreferences=objects|map(attribute='subreference')|list|insert_in_list(index, 'all')|join_list_values('+'))}}">{{ manifest[1]|safe }}</a>
                {% if loop.last %}
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            <div class="col col-auto">
                {{ version_menu(object.objectId|replace('manifest:', ''), object.isReferencedBy) }}
            </div>
        </div>
        {% if 'manifest' in object.objectId %}
            <div class="entry-title text-center">{{object.title}}</div>
            <span></span>
            <a href="{{ object.lib_link }}" target="_blank" title="{{ _('Dieser Manuskript bei der Bibliothek in einem neuen Tab anschauen.') }}">{{ _('Zur Bibliothek')}}</a>
        {% else %}
            <div class="entry-title text-center">{{object.collections.current.label|safe}}<a id="{{ object.objectId|replace(':', '-')|replace('.', '-') }}" tabindex="0" type="button" class="btn btn-link px-1" data-container="body" data-toggle="charter-bibl-popover" data-placement="right" data-html="true" data-content="<button type=&quot;button&quot; class=&quot;close&quot; aria-label=&quot;Close&quot; onclick=&quot;closePopup('{{ object.objectId|replace(':', '-')|replace('.', '-') }}')&quot;&gt;☒&lt;/button&gt;{{ object.collections.current.citation }}"><i class="fas fa-quote-right" title="{{ _('Empfohlene Zitierweise') }}"></i></a>{% if ('andecavensis' in object.collections.current.id or 'markulf' in object.collections.current.id) and 'manifest' not in object.collections.current.id %}<a href="{{ url_for('InstanceNemo.r_pdf', objectId=object.collections.current.id) }}" title="{{ _('Diesen Text als PDF herunterladen.') }}"><i class="fas fa-file-download"></i></a>{% endif %}</div>
        {% endif %}
        
    </div>
    {% if 'elexicon' not in object.objectId and 'manifest' not in object.objectId %}
        {% if object.open_regest or current_user.project_team or object.collections.current.dating or object.collections.current.issued_at %}
        {% include "main::regest_collapse.html" %}
        {% endif %}
    {% endif %}
    <span class='Z3988' title='{{object.collections.current.coins}}'></span>

</header>
{% endmacro %}
{% macro version_menu(objId, inRefs) %}
<div class="dropdown">
    <button class="btn btn-link btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ _('Weitere Texte') }}
    </button>
    <div class="dropdown-menu version-dropdown">
        {% if translation[objId] %}
            <span class="dropdown-item-text">{{ _('andere Version(en) dieser Text') }}</span>
            {% for t in translation[objId] %}
            <a class="dropdown-item" href="{{url_for('InstanceNemo.r_multipassage', objectIds=objects|map(attribute='objectId')|list|insert_in_list(objects|length, t[0].id)|join_list_values('+'), subreferences=objects|map(attribute='subreference')|list|insert_in_list(objects|length, 'all')|join_list_values('+'))}}">- <span class="text-primary">{{ t[1]|string|safe + ' (' + t[0].lang + ')' }}</span></a>

            {% endfor %}
            <div class="dropdown-divider"></div>
        {% endif %}
        {% if inRefs %}
            <span class="dropdown-item-text">{{ _('Formeln mit diesem Lemma') }}</span>
            {% for r in inRefs %}
            {% if r is string %}
            <a class="dropdown-item">- <span>{{ r }}</span></a>
            {% else %}
            {% if r[0].id not in prev_texts %}
            <a class="dropdown-item" href="{{url_for('InstanceNemo.r_multipassage', objectIds=objects|map(attribute='objectId')|list|insert_in_list(objects|length, r[0].id)|join_list_values('+'), subreferences=objects|map(attribute='subreference')|list|insert_in_list(objects|length, 'all')|join_list_values('+'))}}">- <span class="text-primary">{{ r[0].get_label()|string + ' (' + r[0].lang + ')' }}</span></a>
            {% for c in r[1] %}
            <span class="dropdown-item ml-2">- {{ c }}</span>
            {% endfor %}
            {% endif %}
            {% endif %}
            {% endfor %}
            <div class="dropdown-divider"></div>
        {% endif %}
        <span class="dropdown-item-text">{{ _('anderen Texte') }}</span>
        <a class="dropdown-item" href="{{url_for('InstanceNemo.r_add_text_collection', objectId='formulae_collection', objectIds=prev_texts, reffs=prev_reffs)}}">- <span class="text-primary">{{ _('Formeln') }}</span></a>
        <a class="dropdown-item" href="{{url_for('InstanceNemo.r_add_text_collection', objectId='lexicon_entries', objectIds=prev_texts, reffs=prev_reffs)}}">- <span class="text-primary">{{ _('Lexikon') }}</span></a>
        <a class="dropdown-item" href="{{url_for('InstanceNemo.r_add_text_collection', objectId='other_collection', objectIds=prev_texts, reffs=prev_reffs)}}">- <span class="text-primary">{{ _('Andere Texte') }}</span></a>
    </div>
</div>
{% endmacro %}

{% macro nav(text, all_texts, new_reffs, index) %}
    {% if text.prev %}
    {% set prev_reffs = new_reffs|replace_indexed_item(index, text.prev) %}
    <a href="{{url_for('InstanceNemo.r_multipassage', objectIds=all_texts|join_list_values('+'), subreferences=prev_reffs|join_list_values('+')) }}">«<small>{{ _('Vorherige Seite') }}</small>
    </a>
    {% endif %}
    {% if text.next %}
    {% set next_reffs = new_reffs|replace_indexed_item(index, text.next) %}
    <a class="ml-auto" href="{{url_for('InstanceNemo.r_multipassage', objectIds=all_texts|join_list_values('+'), subreferences=next_reffs|join_list_values('+')) }}"><small>{{ _('Nächste Seite') }}</small>»
    </a>
    {% endif %}
{% endmacro %}

{% macro default_footer() %}
    {% include "main::passage_footer.html" %}
{% endmacro %}

{% macro show_passage(objects, navigation) %}
    <div class="">
    <!-- The Modal container for the eLexicon entries. -->
    <div class="modal" id="lexicon-modal" message="{{ _('Es gibt derzeit noch keinen Lexikoneintrag zu') }} " tabindex="-1" role="dialog" aria-labelledby="lexicon-modalLabel" aria-hidden="true">
    </div>
        {% if objects|length > 1 %}
        <div class="row py-0 justify-content-center">
            <div class="col-auto text-center">
                <a href="#" class="reading-format-setter" title="{{ _('Texte nebeneinander zeigen.') }}" value="columns" {% if session['reading_format'] != 'columns' %}{% else %}hidden{% endif %}><img class="img-fluid reading-format-image" src="{{url_for('InstanceNemo.static', filename='images/reading_format_columns.png')}}" alt="{{ _('übereinander') }}"></a>
                <a href="#" class="reading-format-setter" title="{{ _('Texte übereinander zeigen.') }}" value="rows" {% if session['reading_format'] != 'rows' %}{% else %}hidden{% endif %}><img class="img-fluid reading-format-image" src="{{url_for('InstanceNemo.static', filename='images/reading_format_rows.png')}}" alt="{{ _('übereinander') }}"></a>
                {% if session['reading_format'] == 'columns' %}
                <a href="#"><img class="img-fluid reading-format-image" id="scroll-control-image" src="{{url_for('InstanceNemo.static', filename='images/scroll_independently.png')}}" onclick="changeScrollMode(this)" title="{{ _('Texte unabhängig von einander scrollen.') }}"></a>
                {% endif %}
            </div>
        </div>
        {% endif %}
    {% if session['reading_format'] == 'rows' %}

        {% for text in objects %}
        <article class="hentry entry white col-sm-12">
            <!-- <nav>
                {{ navigation }}
            </nav> -->

            
            
            {%set all_texts = objects|map(attribute='objectId')|list %}
            {%set all_reffs = objects|map(attribute='subreference')|list %}
            {%set new_reffs = objects|map(attribute='subreference')|list %}
            {% set navigation = nav(text, all_texts, new_reffs, loop.index0) %}
            {% if not current_user.project_team and text.collections.parents[-1]['id'] == 'formulae_collection'  %}
                <section class="row no-copy text-section text-row">
            {% else %}
                <section class="row text-section text-row">
            {% endif %}
                {% if  text.text_passage %}
                    {{ header_passage(text, loop.index, all_texts, all_reffs) }}
                    <div class="d-flex flex-row">{{ navigation }}</div>
                        {{ text.text_passage }}
                    <footer>{% include "main::passage_footer.html" %}</footer>
                </section>
                 {% else %}
                    {{ header_passage(text, loop.index, all_texts, all_reffs) }}
                    {% with manifest = text.manifest, div_v = text.div_v %}
                    {% include "viewer::embededmirador.html" %}
                    {% endwith %}
                </section>
                {% endif %}
        </article>
        {% endfor %}
        
    {% else %}
        <article class="hentry entry white col-sm-12">
            <!-- <nav>
                {{ navigation }}
            </nav> -->

            <div class="row">
                <section class="col-sm with-border" id="viewer" style="display:none;"></section>
            {% for text in objects %}
            {%set all_texts = objects|map(attribute='objectId')|list %}
            {%set all_reffs = objects|map(attribute='subreference')|list %}
            {%set new_reffs = objects|map(attribute='subreference')|list %}
            {% set navigation = nav(text, all_texts, new_reffs, loop.index0) %}
            {% if not current_user.project_team and text.collections.parents[-1]['id'] == 'formulae_collection'  %}
                {% if loop.last %}
                <section class="col-sm no-copy text-section">
                {% else %}
                <section class="col-sm with-border no-copy text-section">
                {% endif %}
            {% else %}
                {% if loop.last %}
                <section class="col-sm text-section">
                {% else %}
                <section class="col-sm with-border text-section">
                {% endif %}
            {% endif %}
                {% if  text.text_passage %}
                    {{ header_passage(text, loop.index, all_texts, all_reffs) }}
                    <div class="d-flex flex-row">{{ navigation }}</div>
                        {{ text.text_passage }}
                    <footer>{% include "main::passage_footer.html" %}</footer>
                </section>
                 {% else %}
                    {{ header_passage(text, loop.index, all_texts, all_reffs) }}
                    {% with manifest = text.manifest, div_v = text.div_v %}
                    {% include "viewer::embededmirador.html" %}
                    {% endwith %}
                </section>
                {% endif %}
            {% endfor %}
            </div>
        </article>
    {% endif %}
    </div>


{% endmacro %}

{% block texts %}

{{ show_passage(objects) }}

{% endblock %}

{% block pdfs %}

<div class="row">
    {% for text in objects %}
    {% set path = 'images/' ~ text.objectId ~ '.pdf' %}
    <section class="col-sm">
        <div class="embed-responsive embed-responsive-1by1">
            <object data="{{url_for('InstanceNemo.static', filename=path)}}" class="embed-responsive-item"></object>
        </div>
    </section>
    {% endfor %}
</div>
{% endblock %}

{% block metadata %}
{% endblock %}

{% block additionalscript %}
<script>
     var expMess="{{ _('Mehr zeigen') }}";
     var conMess="{{ _('Weniger zeigen') }}";
     var appHeading="{{ _('Apparatus') }}";
     var comHeading="{{ _('Kommentar') }}";
     var appCloseButton="{{ _('Alle Apparatusanmerkungen für diesen Text ausblenden') }}";
     var appOpenButton="{{ _('Alle Apparatusanmerkungen für diesen Text einblenden') }}";
     var comCloseButton="{{ _('Alle Kommentaranmerkungen für diesen Text ausblenden') }}";
     var comOpenButton="{{ _('Alle Kommentaranmerkungen für diesen Text einblenden') }}";
     var toScrollingTexts="{{ _('Texte unabhängig von einander scrollen.') }}";
     var scrollIndependentSrc="{{url_for('InstanceNemo.static', filename='images/scroll_independently.png')}}"
     var fromScrollingTexts="{{ _('Texte zusammen scrollen.') }}";
     var scrollTogetherSrc="{{url_for('InstanceNemo.static', filename='images/scroll_together.png')}}";
</script>
<script src="{{url_for('InstanceNemo.static', filename='js/multipassage.js')}}"></script>
<script type='text/javascript' src="{{url_for('InstanceNemo.static', filename='js/mirador.min.js')}}"></script>
{% endblock %}
