{% extends "main::text_container.html" %}

{% if objects %}
    {% set prev_texts = objects|join('+', attribute='objectId') %}
    {% set prev_reffs = objects|join('+', attribute='subreference') %}
{% else %}
    {% set prev_texts = objectId %}
    {% set prev_reffs = subreference %}
{% endif %}

{% macro header_passage(object, index, all_texts, all_reffs) %}
<div class="col-12 justify-content-center px-0">
    <div class="text-center">
        <div class="row pt-0 pb-0">
            {% if object.collections.parents[-1]['id'] == 'formulae_collection' %}
            {% set prev_obj = _('Vorherige Formel') %}
            {% set next_obj = _('Nächste Formel') %}
            {% elif object.collections.parents[-1]['id'] == 'lexicon_entries' %}
            {% set prev_obj = _('Vorheriger Eintrag') %}
            {% set next_obj = _('Nächster Eintrag') %}
            {% else %}
            {% set prev_obj = _('Vorherige Urkunde') %}
            {% set next_obj = _('Nächste Urkunde') %}
            {% endif %}
        </div>
        <div class="row py-1 align-items-center">
        {% set ns = namespace(hit_index=-1) %}
        {% for hit in session['previous_search'] %}
            {% if hit['_id'] == object.objectId %}
                {% set ns.hit_index = loop.index0 %}
            {% endif %}
        {% endfor %}
        {% if 'manifest' in object.objectId %}
            <div class="col-12 entry-title text-center">{% if object.collections.current.sigla != '' %}{{ object.collections.current.sigla|safe }}: {% endif %}{{object.title|safe}}</div>
            <div class="col-12 text-center"><a class="internal-link" id="iiif-{{ index }}" href="{{ object.lib_link }}" target="_blank" title="{{ _('Dieser Manuskript bei der Bibliothek in einem neuen Tab anschauen.') }}" data-toggle="tooltip" data-container="#iiif-{{ index }}">{{ _('Zur Bibliothek')}}</a></div>
        {% else %}
            {% if object.prev_version %}
                {% set all_texts = all_texts|replace_indexed_item(index - 1, object.prev_version) %}
                {% set all_reffs = all_reffs|replace_indexed_item(index - 1, 'all') %}
                <div class="col-1">
                    <a class="internal-link" id="prev-text-link-{{ index }}" href="{{url_for('InstanceNemo.r_multipassage', objectIds=all_texts|join_list_values('+'), subreferences=all_reffs|join_list_values('+')) }}" title="{{ prev_obj }}" data-toggle="tooltip" data-container="#prev-text-link-{{ index }}"><i class="fas fa-step-backward"></i></a>
                </div>
                {% set all_texts = all_texts|replace_indexed_item(index - 1, object.objectId) %}
                {% else %}
                <div class="col-1">
                </div>
            {% endif %}
            {% if ns.hit_index != -1 and ns.hit_index > 0 %}
                {% set all_texts = all_texts|replace_indexed_item(index - 1, session['previous_search'][ns.hit_index - 1]['_id']) %}
                {% set all_reffs = all_reffs|replace_indexed_item(index - 1, 'all') %}
                <div class="col-1">
                    <a class="internal-link" id="prev-result-link-{{ index }}" href="{{url_for('InstanceNemo.r_multipassage', objectIds=all_texts|join_list_values('+'), subreferences=all_reffs|join_list_values('+')) }}" title="{{ _('Vorheriges Suchergebnis') }}" data-toggle="tooltip" data-container="#prev-result-link-{{ index }}"><i class="fas fa-chevron-up"></i></a>
                </div>
                {% set all_texts = all_texts|replace_indexed_item(index - 1, object.objectId) %}
                {% else %}
                <div class="col-1">
                </div>
            {% endif %}
            <div class="col text-center">
                <h2 class="entry-title">{% if object.collections.current.sigla != '' %}{{ object.collections.current.sigla|safe }}: {% endif %}{{object.collections.current.label|safe}}</h2>
                <a href="#" id="{{ object.objectId|replace(':', '-')|replace('.', '-') }}" tabindex="0" type="button" class="btn btn-link px-1" data-container="body" data-toggle="charter-bibl-popover" data-placement="right" data-html="true" data-content="<button type=&quot;button&quot; class=&quot;close&quot; aria-label=&quot;Close&quot; onclick=&quot;closePopup('{{ object.objectId|replace(':', '-')|replace('.', '-') }}')&quot;&gt;☒&lt;/button&gt;{{ object.collections.current.citation }}"><i class="fas fa-quote-right" id="citation-{{ index }}" title="{{ _('Empfohlene Zitierweise') }}" data-toggle="tooltip" data-container="#citation-{{ index }}"></i></a>
                {% if 'manifest' not in object.collections.current.id %}
                <a class="internal-link" id="pdf-download-{{ index }}" href="{{ url_for('InstanceNemo.r_pdf', objectId=object.collections.current.id) }}" title="{{ _('Diesen Text als PDF herunterladen.') }}" data-toggle="tooltip" data-container="#pdf-download-{{ index }}"><i class="fas fa-file-download"></i></a>
                {% endif %}
                </div>
            {% if ns.hit_index != -1 and ns.hit_index + 1 < session['previous_search']|length %}
                {% set all_texts = all_texts|replace_indexed_item(index - 1, session['previous_search'][ns.hit_index + 1]['_id']) %}
                {% set all_reffs = all_reffs|replace_indexed_item(index - 1, 'all') %}
                <div class="col-1">
                    <a class="internal-link" id="next-result-link-{{ index }}" href="{{url_for('InstanceNemo.r_multipassage', objectIds=all_texts|join_list_values('+'), subreferences=all_reffs|join_list_values('+')) }}" title="{{ _('Nächstes Suchergebnis') }}" data-toggle="tooltip" data-container="#next-result-link-{{ index }}"><i class="fas fa-chevron-down"></i></a>
                </div>
                {% set all_texts = all_texts|replace_indexed_item(index - 1, object.objectId) %}
                {% else %}
                <div class="col-1">
                </div>
            {% endif %}
            {% if object.next_version %}
                {% set all_texts = all_texts|replace_indexed_item(index - 1, object.next_version) %}
                {% set all_reffs = all_reffs|replace_indexed_item(index - 1, 'all') %}
                <div class="col-1">
                    <a class="internal-link" id="next-text-link-{{ index }}" href="{{url_for('InstanceNemo.r_multipassage', objectIds=all_texts|join_list_values('+'), subreferences=all_reffs|join_list_values('+')) }}" title="{{ next_obj }}" data-toggle="tooltip" data-container="#next-text-link-{{ index }}"><i class="fas fa-step-forward"></i></a>
                </div>
                {% set all_texts = all_texts|replace_indexed_item(index - 1, object.objectId) %}
                {% else %}
                <div class="col-1">
                </div>
            {% endif %}
        {% endif %}
        </div>
    </div>
    {% if 'elexicon' not in object.objectId and 'manifest' not in object.objectId %}
        {% if object.open_regest or current_user.project_team or object.collections.current.dating or object.collections.current.issued_at %}
        {% include "main::regest_collapse.html" %}
        {% endif %}
    {% endif %}
    <span class='Z3988' title='{{object.collections.current.coins}}'></span>

</div>
{% endmacro %}
{% macro version_menu(objId, inRefs, object, index) %}
<div class="dropleft">
    <button class="dropdown-toggle add-text-toggle btn btn-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span id="add-text-menu-{{ index }}" data-toggle="tooltip" data-container="#add-text-menu-{{ index }}" title="{{ _('Eine Spalte hinzufügen') }}"><img src="{{url_for('InstanceNemo.static', filename='images/add_window.png')}}" alt="{{ _('Eine Spalte hinzufügen') }}"></span>
    </button>
    <div class="dropdown-menu version-dropdown">
        {% for manifest in object.IIIFviewer if manifest[0] not in request.path %}
            {% if loop.first %}
                <span class="dropdown-item-text">{{ _('Manuskriptbilder') }}</span>
            {% endif %}
                <a class="dropdown-item pull-right" href="{{url_for('InstanceNemo.r_multipassage', objectIds=objects|map(attribute='objectId')|list|insert_in_list(index, manifest[0])|join_list_values('+'), subreferences=objects|map(attribute='subreference')|list|insert_in_list(index, 'all')|join_list_values('+'))}}">- <span class="text-primary">{% if manifest[2] != '' %}{{ manifest[2]|safe }}: {% endif %}{{ manifest[1]|safe }}</span></a>
            {% if loop.last %}
                <div class="dropdown-divider"></div>
            {% endif %}
        {% endfor %}
        {% if translation[objId] and object.collections.parents[-1]['id'] in ['formulae_collection', 'manuscript_collection'] %}
            <span class="dropdown-item-text">{{ _('Edition, Übersetzung, Transkription') }}</span>
            {% for t in translation[objId] %}
            <a class="dropdown-item" href="{{url_for('InstanceNemo.r_multipassage', objectIds=objects|map(attribute='objectId')|list|insert_in_list(objects|length, t[0].id)|join_list_values('+'), subreferences=objects|map(attribute='subreference')|list|insert_in_list(objects|length, 'all')|join_list_values('+'))}}">- <span class="text-primary">{% if t[2] != '' %}{{ t[2]|safe }}: {% endif %}{{ t[1]|string|safe }}</span></a>

            {% endfor %}
            <div class="dropdown-divider"></div>
        {% endif %}
        {% if inRefs %}
            <span class="dropdown-item-text">{{ _('Formeln mit diesem Lemma') }}</span>
            {% for r in inRefs %}
            {% if r is string %}
            <a class="dropdown-item">- <span>{{ r }}</span></a>
            {% else %}
            {% if r[0].id not in prev_texts %}
            <a class="dropdown-item" href="{{url_for('InstanceNemo.r_multipassage', objectIds=objects|map(attribute='objectId')|list|insert_in_list(objects|length, r[0].id)|join_list_values('+'), subreferences=objects|map(attribute='subreference')|list|insert_in_list(objects|length, 'all')|join_list_values('+'))}}">- <span class="text-primary">{{ r[0].get_label()|string }}</span></a>
            {% for c in r[1] %}
            <span class="dropdown-item ml-2">- {{ c }}</span>
            {% endfor %}
            {% endif %}
            {% endif %}
            {% endfor %}
            <div class="dropdown-divider"></div>
        {% endif %}
        {% if translation[objId] and 'other_collection' in object.collections.parent_ids %}
            <span class="dropdown-item-text">{{ _('Verwandte Texte') }}</span>
            {% for t in translation[objId] %}
            <a class="dropdown-item related-text" href="{{url_for('InstanceNemo.r_multipassage', objectIds=objects|map(attribute='objectId')|list|insert_in_list(objects|length, t[0].id)|join_list_values('+'), subreferences=objects|map(attribute='subreference')|list|insert_in_list(objects|length, 'all')|join_list_values('+'))}}">- <span class="text-primary">{{ t[1]|string|safe }}</span></a>

            {% endfor %}
            <div class="dropdown-divider"></div>
        {% endif %}
        <span class="dropdown-item-text">{{ _('Weitere Texte') }}</span>
        <a class="dropdown-item" href="{{url_for('InstanceNemo.r_add_text_collection', objectId='formulae_collection', objectIds=prev_texts, reffs=prev_reffs)}}">- <span class="text-primary">{{ _('Formeln') }}</span></a>
        <a class="dropdown-item" href="{{url_for('InstanceNemo.r_add_text_collection', objectId='lexicon_entries', objectIds=prev_texts, reffs=prev_reffs)}}">- <span class="text-primary">{{ _('Lexikon') }}</span></a>
        <a class="dropdown-item" href="{{url_for('InstanceNemo.r_add_text_collection', objectId='other_collection', objectIds=prev_texts, reffs=prev_reffs)}}">- <span class="text-primary">{{ _('Urkunden und Briefe') }}</span></a>
    </div>
</div>
{% endmacro %}

{% macro nav(text, all_texts, new_reffs, index) %}
    {% if text.prev %}
    {% set prev_reffs = new_reffs|replace_indexed_item(index, text.prev) %}
    <a href="{{url_for('InstanceNemo.r_multipassage', objectIds=all_texts|join_list_values('+'), subreferences=prev_reffs|join_list_values('+')) }}">«<small>{{ _('Vorherige Seite') }}</small>
    </a>
    {% endif %}
    {% if text.next %}
    {% set next_reffs = new_reffs|replace_indexed_item(index, text.next) %}
    <a class="ml-auto" href="{{url_for('InstanceNemo.r_multipassage', objectIds=all_texts|join_list_values('+'), subreferences=next_reffs|join_list_values('+')) }}"><small>{{ _('Nächste Seite') }}</small>»
    </a>
    {% endif %}
{% endmacro %}

{% macro default_footer() %}
    {% include "main::passage_footer.html" %}
{% endmacro %}

{% macro show_passage(objects, navigation) %}
    <!-- The Modal container for the eLexicon entries. -->
    <div class="modal" id="lexicon-modal" message="{{ _('Es gibt derzeit noch keinen Lexikoneintrag zu') }} " tabindex="-1" role="dialog" aria-labelledby="lexicon-modalLabel" aria-hidden="true">
    </div>
        {% if objects|length > 1 %}
        <div class="row py-0 justify-content-center">
            <div class="col-auto text-center">
                <a href="#" class="reading-format-setter" id="text-column-link" title="{{ _('Texte nebeneinander zeigen.') }}" value="columns" {% if session['reading_format'] != 'columns' %}{% else %}hidden{% endif %} data-toggle="tooltip" data-container="#text-column-link"><img class="img-fluid reading-format-image" src="{{url_for('InstanceNemo.static', filename='images/reading_format_columns.png')}}" alt="{{ _('Texte nebeneinander') }}"></a>
                <a href="#" class="reading-format-setter" id="text-row-link" title="{{ _('Texte übereinander zeigen.') }}" value="rows" {% if session['reading_format'] != 'rows' %}{% else %}hidden{% endif %} data-toggle="tooltip" data-container="#text-row-link"><img class="img-fluid reading-format-image" src="{{url_for('InstanceNemo.static', filename='images/reading_format_rows.png')}}" alt="{{ _('Texte übereinander') }}"></a>
                {% if session['reading_format'] == 'columns' %}
                <a href="#" onclick="changeScrollMode(this)" id="scroll-text-separate" title="{{ _('Texte unabhängig von einander scrollen.') }}" data-toggle="tooltip" data-container="#scroll-text-separate"><img class="img-fluid reading-format-image scroll-control-image" src="{{url_for('InstanceNemo.static', filename='images/scroll_independently.png')}}" alt="{{ _('Texte unabhängig scrollen') }}"></a>
                {% elif session['reading_format'] == 'rows' %}
                <a href="#" id="max-rows-image" title="{{ _('Alle Texte maximiert anzeigen.') }}" data-toggle="tooltip" data-container="#max-rows-image"><img class="img-fluid reading-format-image scroll-control-image" src="{{url_for('InstanceNemo.static', filename='images/maximize_reading_rows.png')}}" alt="{{ _('Texte maximieren') }}"></a>
                <a href="#" id="min-rows-image" title="{{ _('Alle Texte in original Größe anzeigen.') }}" data-toggle="tooltip" data-container="#min-rows-image"><img class="img-fluid reading-format-image scroll-control-image" src="{{url_for('InstanceNemo.static', filename='images/minimize_reading_rows.png')}}" alt="{{ _('Texte in original Größe') }}"></a>
                {% endif %}
            </div>
        </div>
        {% endif %}
    {% if session['reading_format'] == 'rows' %}

        {% for text in objects %}
        {% if not current_user.project_team and 'formulae_collection' in text.collections.parent_ids %}
            {% set copy_class = ' no-copy' %}
        {% else %}
            {% set copy_class = '' %}
        {% endif %}
        <article class="hentry entry white row{% if loop.length > 1 %} multi-reading-row{% endif %}{{ copy_class }}">
            <!-- <nav>
                {{ navigation }}
            </nav> -->

            
            
            {%set all_texts = objects|map(attribute='objectId')|list %}
            {%set all_reffs = objects|map(attribute='subreference')|list %}
            {%set new_reffs = objects|map(attribute='subreference')|list %}
            {% set navigation = nav(text, all_texts, new_reffs, loop.index0) %}
            
            <div class="row ml-auto pt-0 pb-0 control-row">
                <div class="col col-auto add-window-icon">
                    {{ version_menu(text.objectId|replace('manifest:', ''), text.isReferencedBy, text, loop.index) }}
                </div>
                <div class="col col-auto part-menu-icon">
                    <div class="dropleft">
                        <button class="dropdown-toggle part-menu-toggle btn btn-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span id="part-menu-icon-{{ loop.index }}" data-toggle="tooltip" data-container="#part-menu-icon-{{ loop.index }}" title="{{ _('Urkundenteile zeigen') }}"><img src="{{url_for('InstanceNemo.static', filename='images/show_part_icon.png')}}" alt="{{ _('Urkundenteile zeigen') }}"></span>
                        </button>
                        <div class="dropdown-menu part-menu-dropdown">
                            <span class="dropdown-item"><input class="show-all-parts" type="checkbox" value="All-Parts" id="All-Parts"><label for="All-Parts">{{ _('Alle zeigen') }}</label></span>
                            <div class="dropdown-divider"></div>
                            <!-- More spans should be added here as necessary by JS -->
                        </div>
                    </div>
                </div>
                {% if loop.length > 1 %}
                <div class="col col-auto maximize-window-icon">
                    <a href="#" class="maximize-column-link" id="maximize-link-{{ loop.index }}" data-toggle="tooltip" data-container="#maximize-link-{{ loop.index }}" title="{{ _('Maximieren') }}"><img src="{{url_for('InstanceNemo.static', filename='images/maximize_window.png')}}" alt="{{ _('Maximieren') }}"></a>
                </div>
                <div class="col col-auto minimize-window-icon">
                    <a href="#" class="minimize-column-link" id="minimize-link-{{ loop.index }}" data-toggle="tooltip" data-container="#minimize-link-{{ loop.index }}"  title="{{ _('Original Größe') }}"><img src="{{url_for('InstanceNemo.static', filename='images/minimize_window.png')}}" alt="{{ _('Original Größe') }}"></a>
                </div>
                {% endif %}
                {% if objects|length > 1 %}
                <div class="col col-auto close-window-icon">
                    <a class="remove-column-link" href="{{ url_for('InstanceNemo.r_multipassage', objectIds=all_texts|remove_from_list(text.objectId)|join_list_values('+'), subreferences=all_reffs|remove_from_list(text.subreference)|join_list_values('+')) }}" id="remove-column-{{ loop.index }}" data-toggle="tooltip" data-container="#remove-column-{{ loop.index }}" title="{{ _('Spalte ausblenden') }}"><img src="{{url_for('InstanceNemo.static', filename='images/close_window.png')}}" alt="{{ _('Spalte ausblenden') }}"></a>
                </div>
                {% set all_texts = all_texts|insert_in_list(loop.index - 1, text.objectId) %}
                {% set all_reffs = all_reffs|insert_in_list(loop.index - 1, text.subreference) %}
                {% endif %}
            </div>
            {% if  text.text_passage %}
            <div class="text-row row">
                {{ header_passage(text, loop.index, all_texts, all_reffs) }}
                <div class="d-flex flex-row">{{ navigation }}</div>
                    {{ text.text_passage }}
                <footer>{% include "main::passage_footer.html" %}</footer>
            </div>
            {% else %}
            <div class="image-row">
                {{ header_passage(text, loop.index, all_texts, all_reffs) }}
                {% with manifest = text.manifest, div_v = text.div_v %}
                {% include "viewer::embededmirador.html" %}
                {% endwith %}
            </div>
            {% endif %}
            {% if loop.length > 1 %}
            <span class="text-row-handle"><img src="{{url_for('InstanceNemo.static', filename='images/horizontal_handle.png')}}" alt="Horizontal Handle"></span>
            {% endif %}
        </article>
        {% endfor %}
        
    {% else %}
        <article class="hentry entry white col-sm-12">
            <!-- <nav>
                {{ navigation }}
            </nav> -->

            <div class="row pt-3">
                <section class="col-sm with-border" id="viewer" style="display:none;"></section>
            {% for text in objects %}
            {% if not current_user.project_team and 'formulae_collection' in text.collections.parent_ids %}
                {% set copy_class = ' no-copy' %}
            {% else %}
                {% set copy_class = '' %}
            {% endif %}
            {%set all_texts = objects|map(attribute='objectId')|list %}
            {%set all_reffs = objects|map(attribute='subreference')|list %}
            {%set new_reffs = objects|map(attribute='subreference')|list %}
            {% set navigation = nav(text, all_texts, new_reffs, loop.index0) %}
                <div class="col-sm{% if not loop.last %} with-border{% endif %}">
                    <div class="row pt-0 pb-0 control-row">
                        <div class="col col-auto add-window-icon ml-auto">
                            {{ version_menu(text.objectId|replace('manifest:', ''), text.isReferencedBy, text, loop.index) }}
                        </div>
                        <div class="col col-auto part-menu-icon">
                            <div class="dropleft">
                                <a class="dropdown-toggle part-menu-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span id="part-menu-icon-{{ loop.index }}" data-toggle="tooltip" data-container="#part-menu-icon-{{ loop.index }}" title="{{ _('Urkundenteile zeigen') }}"><img src="{{url_for('InstanceNemo.static', filename='images/show_part_icon.png')}}" alt="{{ _('Urkundenteile zeigen') }}"></span>
                                </a>
                                <div class="dropdown-menu part-menu-dropdown">
                                    <span class="dropdown-item"><input class="show-all-parts" type="checkbox" value="All-Parts"> <label>{{ _('Alle zeigen') }}</label></span>
                                    <div class="dropdown-divider"></div>
                                    <!-- More spans should be added here as necessary by JS -->
                                </div>
                            </div>
                        </div>
                        {% if objects|length > 1 %}
                        <div class="col col-auto close-window-icon">
                            <a class="remove-column-link" href="{{ url_for('InstanceNemo.r_multipassage', objectIds=all_texts|remove_from_list(text.objectId)|join_list_values('+'), subreferences=all_reffs|remove_from_list(text.subreference)|join_list_values('+')) }}" id="remove-column-{{ loop.index }}" data-toggle="tooltip" data-container="#remove-column-{{ loop.index }}" title="{{ _('Spalte ausblenden') }}"><img src="{{url_for('InstanceNemo.static', filename='images/close_window.png')}}" alt="{{ _('Spalte ausblenden') }}"></a>
                        </div>
                        {% set all_texts = all_texts|insert_in_list(loop.index - 1, text.objectId) %}
                        {% set all_reffs = all_reffs|insert_in_list(loop.index - 1, text.subreference) %}
                        {% endif %}
                    </div>
                    <section class="text-section{{ copy_class }}">
                    {% if  text.text_passage %}
                        {{ header_passage(text, loop.index, all_texts, all_reffs) }}
                        <div class="d-flex flex-row">{{ navigation }}</div>
                            {{ text.text_passage }}
                        <footer>{% include "main::passage_footer.html" %}</footer>
                    {% else %}
                        {{ header_passage(text, loop.index, all_texts, all_reffs) }}
                        {% with manifest = text.manifest, div_v = text.div_v %}
                        {% include "viewer::embededmirador.html" %}
                        {% endwith %}
                    {% endif %}
                    </section>
                </div>
            {% endfor %}
            </div>
        </article>
    {% endif %}


{% endmacro %}

{% block texts %}

{{ show_passage(objects) }}

{% endblock %}

{% block pdfs %}

<div class="row">
    {% for text in objects %}
    {% set path = 'images/' ~ text.objectId ~ '.pdf' %}
    <section class="col-sm">
        <div class="embed-responsive embed-responsive-1by1">
            <object data="{{url_for('InstanceNemo.static', filename=path)}}" class="embed-responsive-item"></object>
        </div>
    </section>
    {% endfor %}
</div>
{% endblock %}

{% block metadata %}
{% endblock %}

{% block additionalscript %}
<script>
     var expMess="{{ _('Mehr zeigen') }}";
     var conMess="{{ _('Weniger zeigen') }}";
     var appHeading="{{ _('Apparatus') }}";
     var comHeading="{{ _('Kommentar') }}";
     var appCloseButton="{{ _('Alle Apparatusanmerkungen für diesen Text ausblenden') }}";
     var appOpenButton="{{ _('Alle Apparatusanmerkungen für diesen Text einblenden') }}";
     var comCloseButton="{{ _('Alle Kommentaranmerkungen für diesen Text ausblenden') }}";
     var comOpenButton="{{ _('Alle Kommentaranmerkungen für diesen Text einblenden') }}";
     var toScrollingTexts="{{ _('Texte unabhängig von einander scrollen.') }}";
     var scrollIndependentSrc="{{url_for('InstanceNemo.static', filename='images/scroll_independently.png')}}"
     var fromScrollingTexts="{{ _('Texte zusammen scrollen.') }}";
     var scrollTogetherSrc="{{url_for('InstanceNemo.static', filename='images/scroll_together.png')}}";
     var lexElementTitle=["{{ _('Eintrag zu ') }}", "{{ _(' im Elexikon lesen') }}"];
</script>
<script src="{{url_for('InstanceNemo.static', filename='js/multipassage.js')}}"></script>
<script type='text/javascript' src="{{url_for('InstanceNemo.static', filename='js/mirador.min.js')}}"></script>
{% endblock %}
