<nav class="navbar navbar-expand-lg sticky-top navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="navbar-nav my-0 mr-auto">
            <li class="nav-item">
                <a class="nav-link active" href="{{url_for('InstanceNemo.r_index')}}">{{ _('Über das Projekt') }}</a>
            </li>
            <li class="nav-item">
            {% if current_user.is_anonymous %}
                <a class="nav-link" href="{{ url_for('auth.r_login') }}">{{ _('Einloggen') }}</a>
            {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" role="button" id="accountDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">{{ current_user.username }}</a>
                    <div class="dropdown-menu" aria-labelledby="accountDropdown">
                        <a class="dropdown-item" href="{{ url_for('auth.r_user', username=current_user.username) }}" id="profile-link" data-toggle="tooltip" data-container="#profile-link">{{ _('Benutzerprofil ändern') }}</a>
                        {% if g.save_page_form %}
                        <!-- Button trigger modal -->
                        <span class="dropdown-item"><a role="button" data-toggle="modal" data-target="#savePageModal">
                        {{ _('Diese Seite speichern') }}
                        </a><a type="button" role="button" class="btn btn-link py-0 pr-0 pl-1" data-toggle="modal" data-target="#videoModal" data-modallabel="{{ _('Suchergebnisse speichern') }}" data-videosource="{{ url_for('InstanceNemo.static', filename='videos/suchergebnisse_speichern_de.mp4') }}" data-transcriptde="{{ video_transcripts.suchergebnisse_speichern_de }}" data-transcripten="{{ video_transcripts.suchergebnisse_speichern_en }}" data-videolanguage="de">
                <i class="fas fa-question-circle"></i>
            </a></span>
                        {% endif %}
                        <a class="dropdown-item" href="{{ url_for('auth.r_saved_pages') }}">{{ _('Gespeicherte Seiten') }}</a>
                        <a class="dropdown-item" href="{{ url_for('auth.r_logout') }}">{{ _('Ausloggen') }}</a>
                    </div>
                </li>
            {% endif %}
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" role="button" id="formulaeDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">{{ _('Formeln') }}</a>
                <div class="dropdown-menu" aria-labelledby="formulaeDropdown">
                    {% for coll in g.sub_colls['display_formulae'] %}
                    {% if current_user.project_team or coll.id in g.open_collections %}
                    <a class="dropdown-item" href="{{url_for('InstanceNemo.r_collection', objectId=coll['id'])}}"><b><span id="{{coll['id'].split(':')[-1]}}-corpus-tooltip" data-toggle="tooltip"
                                                     {% if not coll['lemmatized'] %} class="invisible"{%endif %}
                                                                data-container="#{{coll['id'].split(':')[-1]}}-corpus-tooltip"
                                                                title="{{ _('Dieses Korpus ist lemmatisiert') }}"
                                            tabindex="0">* </span></b>{{ coll['label']|safe }}{% if 'urn:cts:formulae' not in coll['id'] %} ↗{% endif %}</a>
                    {% endif %}
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{url_for('InstanceNemo.r_collection', objectId='lexicon_entries', )}}">{{ _('Lexikon') }}</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" role="button" id="charterDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">{{ _('Urkunden + Briefe') }}</a>
                <div class="dropdown-menu" aria-labelledby="charterDropdown">
                    {% for coll in g.sub_colls['display_collection'] %}
                    {% if current_user.project_team or coll.id in g.open_collections %}
                    <a class="dropdown-item" href="{{url_for('InstanceNemo.r_collection', objectId=coll['id'])}}"><b><span id="{{coll['id'].split(':')[-1]}}-corpus-tooltip" data-toggle="tooltip"
                                                     {% if not coll['lemmatized'] %} class="invisible"{%endif %}
                                                                data-container="#{{coll['id'].split(':')[-1]}}-corpus-tooltip"
                                                                title="{{ _('Dieses Korpus ist lemmatisiert') }}"
                                            tabindex="0">* </span></b><span class="corpus_coverage">{{ coll['coverage'] }}</span>{% if 'urn:cts:formulae' in coll['id'] %}: {{ coll['label'] }}{% else %} ↗{% endif %}</a>
                    {% endif %}
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" role="button" id="manuscriptDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">{{ _('Manuskripte') }}</a>
                <div class="dropdown-menu" aria-labelledby="manuscriptDropdown">
                    <a class="dropdown-item" href="{{url_for('InstanceNemo.r_man_siglen')}}">{{ _("Liste aller Formelhandschriften") }}</a>
                    <div class="dropdown-divider"></div>
                    {% for coll in g.sub_colls['manuscript_collection'] %}
                    {% if current_user.project_team or coll.id in g.open_collections %}
                    <a class="dropdown-item" href="{{url_for('InstanceNemo.r_collection', objectId=coll['id'])}}">{{ coll['label']|safe }} ({{ coll['short_title']|safe }})</a>
                    {% endif %}
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('InstanceNemo.r_bibliography') }}">{{ _('Bibliographie') }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('InstanceNemo.r_feedback') }}">{{ _('Feedback') }}</a>
            </li>
        </ul>
        {% include "search::search_box.html" %}
        {% if current_user.is_anonymous %}
        <ul class="navbar-nav flex-column" id="lang-nav">
            <li class="nav-item active">
                <a class="nav-link lang-link position-relative" href="{{ url_for('InstanceNemo.r_set_language', code='de') }}" id="german-link" data-toggle="tooltip" data-container="#german-link" title="Sprache ins Deutsche ändern" value="de"><img id="de-flag-navbar" class="img-fluid" src="{{url_for('InstanceNemo.static', filename='images/DE_flag.png')}}" alt="DE"></a>
            </li>
            <li class="nav-item active position-relative">
                <a class="nav-link lang-link" href="{{ url_for('InstanceNemo.r_set_language', code='en') }}" id="english-link" data-toggle="tooltip" data-container="#english-link" title="Change the language to English" value="en"><img id="uk-flag-navbar" class="img-fluid" src="{{url_for('InstanceNemo.static', filename='images/UK_flag.png')}}" alt="EN"></a>
            </li>
            <li class="nav-item active position-relative">
                <a class="nav-link lang-link" href="{{ url_for('InstanceNemo.r_set_language', code='fr') }}" id="french-link" data-toggle="tooltip" data-container="#french-link" title="Changer la langue en français" value="fr"><img id="fr-flag-navbar" class="img-fluid" src="{{url_for('InstanceNemo.static', filename='images/FR_flag.png')}}" alt="FR"></a>
            </li>
        </ul>
        {% endif %}
    </div>
</nav>
