<nav class="navbar navbar-expand-lg navbar-light bg-light ">
            <!--<a class="navbar-brand" href="{{ url_for('.r_index') }}">
            <img class="logo" src="{{url_for('.static', filename='images/nemo.png')}} " width="125" height="60" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>-->
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav flex-column mr-auto align-self-end">
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                    {% if current_user.is_anonymous %}
                        <a class="nav-link" href="{{ url_for('.r_login') }}">Login</a>
                    {% else %}
                        <span class="navbar-text px-2"><a href="{{ url_for('.r_user', username=current_user.username) }}" title="Change user settings">{{ current_user.username }}</a> <small>(<a href="{{ url_for('.r_logout') }}">logout</a>)</small></span>
                    {% endif %}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Lexicon</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Encoding</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Texts
                        </a>
                            {% include "main::menu.html" %}
                    </li>
                </ul>
                <a class="navbar-brand mr-auto" href="{{ url_for('.r_index') }}">
                    <img src="{{url_for('.static', filename='images/logo.png')}}" height="200" alt="Logo: Formulae, Litterae, Chartae">
                </a>
                {% include "main::search_box.html" %}
            </div>
        </nav>
