<!-- This is the popout for the message if someone tries to copy the text. -->
    <div class="modal" tabindex="-1" role="dialog" id="no-copy-message">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-body">
            <p>{{ _('Da dieses Text noch nicht im Druckform veröffentlicht wurde, ist das Kopieren vom Inhalt nicht gestattet.') }}</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('Schließen') }}</button>
        </div>
        </div>
    </div>
    </div>
