<!-- This is the popout for the message if someone tries to copy the text. -->
    <div class="modal" tabindex="-1" role="dialog" id="no-copy-message">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-body">
            <p>We are sorry but, since this text has not yet been published, we do not allow copying of the textual content.</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
    </div>
