<!-- THE NOTE CARDS -->

<div class="card border-light">
    
    <div class="card-header instrNoteHead">
        {{ _('Anmerkungen') }}</div>
        
    <div class="card-body p-2" style="min-height: 2em;">
                
        {% if objs %}
            {% for text in objs %}
            {% if text.notes %}
                <div class="card bg-hhblue px-0"
                    style="font-size: small; text-decoration: none;">
                    <div>
                        <span class="align-middle">{{ text.collections.current.label }}</span>
                        <button id="{{ text.objectId|replace(':', '-')|replace('.', '-') }}-hide-button" class="btn btn-link float-right btn-sm text-body m-0 p-0 relative-position" onclick="hideNotes('{{ text.objectId|replace(':', '-')|replace('.', '-') }}')"data-toggle="tooltip" data-container="#{{ text.objectId|replace(':', '-')|replace('.', '-') }}-hide-button" title="{{ _('Alle Anmerkungen für diesen Text ausblenden') }}" data-placement="left">&#8855;</button>
                        <button id="{{ text.objectId|replace(':', '-')|replace('.', '-') }}-show-button" class="btn btn-link float-right btn-sm text-body m-0 p-0 hidden-button relative-position" onclick="showNotes('{{ text.objectId|replace(':', '-')|replace('.', '-') }}')" data-toggle="tooltip" data-container="#{{ text.objectId|replace(':', '-')|replace('.', '-') }}-show-button" title="{{ _('Alle Anmerkungen für diesen Text einblenden') }}">&#8853;</button>
                    </div>
                </div>
                <div class="{{ note_class }}" id="header-{{ text.objectId|replace(':', '-')|replace('.', '-') }}">
                    {{ text.notes }}
                </div>
            {% endif %}
            {% endfor %}
        {% elif text %}
            {% if text.notes %}
                <div class="card bg-hhblue px-0"
                    style="font-size: small; text-decoration: none;">
                    <div>

                        <span class="align-middle">{{ text.collections.current.label }}</span>
                        <button class="btn btn-link float-right btn-sm text-body m-0 p-0 relative-position" onclick="hideNotes('{{ text.objectId|replace(':', '-')|replace('.', '-') }}')" id="notes-hide-1" data-toggle="tooltip" data-container="#notes-hide-1" title="{{ _('Alle Anmerkungen für diesen Text ausblenden') }}">&#8855;</button>
                        <button id="{{ text.objectId|replace(':', '-')|replace('.', '-') }}-show-button" class="btn btn-link float-right btn-sm text-body m-0 p-0 hidden-button relative-position" onclick="showNotes('{{ text.objectId|replace(':', '-')|replace('.', '-') }}')" id="notes-show-1" data-toggle="tooltip" data-container="#notes-show-1" title="{{ _('Alle Anmerkungen für diesen Text einblenden') }}">&#8853;</button>
                    </div>
                </div>
                <div class="note-card" id="header-{{ text .objectId|replace(':', '-')|replace('.', '-') }}">
                    {{ text.notes }}
                </div>
            {% endif %}

        {% else %}
            {{ notes }}
        {% endif %}
        </div>
        
    </div>
