<!-- THE NOTE CARDS -->

<div class="card border-light">
    
    <!-- Hover text containing the whole card header so that it doesn't concern only the text. -->
    <div data-toggle="tooltip"
        data-placement="bottom"
        title="Click to display/hide instructions">
        
        <!-- Card header controlling the "collapse" instruction text. -->
        <div class="card-header instrNoteHead"
            data-toggle="collapse"
            data-target="#instructionsNotes"
            aria-expanded="true"
            aria-controls="instructionsNotes">
            {{ _('Anmerkungen') }}</div>
        
    </div>
    <div class="card-body p-2" style="min-height: 2em;">
                
        {% if objs %}
            {% for text in objs %}
            {% if text.notes %}
                <div class="card bg-hhblue px-0"
                    style="font-size: small; text-decoration: none;">
                    <div>
                        <span class="align-middle">{{ text.collections.current.label }} ({{ text.collections.current.lang }})</span>
                        <button id="{{ text.objectId|replace(':', '-')|replace('.', '-') }}-hide-button" class="btn btn-link float-right btn-sm text-body m-0 p-0" onclick="hideNotes('{{ text.objectId|replace(':', '-')|replace('.', '-') }}')" title="{{ _('Alle Anmerkungen für diesen Text ausblenden') }}">&#8855;</button>
                        <button id="{{ text.objectId|replace(':', '-')|replace('.', '-') }}-show-button" class="btn btn-link float-right btn-sm text-body m-0 p-0 hidden-button" onclick="showNotes('{{ text.objectId|replace(':', '-')|replace('.', '-') }}')" title="{{ _('Alle Anmerkungen für diesen Text einblenden') }}">&#8853;</button>
                    </div>
                </div>
                <div class="{{ note_class }}" id="header-{{ text.objectId|replace(':', '-')|replace('.', '-') }}">
                    {{ text.notes }}
                </div>
            {% endif %}
            {% endfor %}
        {% elif text %}
            {% if text.notes %}
                <div class="card bg-hhblue px-0"
                    style="font-size: small; text-decoration: none;">
                    <div>

                        <span class="align-middle">{{ text.collections.current.label }} ({{ text.collections.current.lang }})</span>
                        <button class="btn btn-link float-right btn-sm text-body m-0 p-0" onclick="hideNotes('{{ text.objectId|replace(':', '-')|replace('.', '-') }}')" title="{{ _('Alle Anmerkungen für diesen Text ausblenden') }}">&#8855;</button>
                        <button id="{{ text.objectId|replace(':', '-')|replace('.', '-') }}-show-button" class="btn btn-link float-right btn-sm text-body m-0 p-0 hidden-button" onclick="showNotes('{{ text.objectId|replace(':', '-')|replace('.', '-') }}')" title="{{ _('Alle Anmerkungen für diesen Text einblenden') }}">&#8853;</button>
                    </div>
                </div>
                <div class="note-card" id="header-{{ text .objectId|replace(':', '-')|replace('.', '-') }}">
                    {{ text.notes }}
                </div>
            {% endif %}

        {% else %}
            {{ notes }}
        {% endif %}
        </div>
        
    </div>
