<!-- LINKS TO SEARCH RESULTS -->
<div class="card border-light mb-1">
    
        <!-- Card header controlling the "collapse" instruction text. -->
    <div class="card-header" id="prev-search-title">
        <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse"
            data-target="#prevSearchResults"
            aria-expanded="true"
            aria-controls="prevSearchResults">
        {{ _('Ergebnisse der letzten Suche') }}
        </button>
         - <a href="#" id="searchDownload" data-toggle="tooltip" data-container="#searchDownload" data-placement="left" title="{{ _('Suchergebnisse herunterladen') }}"><i class="fas fa-file-download"></i></a> <span id="searchDownloadProgress" role="status">...</span>
    </div>
    <div id="prevSearchResults" class="collapse">
        
        <!-- Notes in individual boxes, triggered by a click on their labels inside the text. -->
        <div class="card-body p-2">
        {% for hit in session['previous_search'] %}
            {% if hit['_id'] not in request.url %}
            <div class="card search-hit">
            <a href="{{url_for('InstanceNemo.r_multipassage', objectIds=[prev_texts, hit['_id']]|join_list_values('+'), subreferences=[prev_reffs, 'all']|join_list_values('+'))}}"><span>{{ hit['_source']['title'] }}</span></a>
            </div>
            {% endif %}
        {% endfor %}
        </div>
        
    </div>
</div>


{% block additionalscript %}
<script>
    var downloadId = {{ 1|random_int(10000)|string }};
    var downloadError = "{{ _('Das PDF konnte nicht heruntergeladen werden. Versuchen Sie es später.') }}";
</script>
{% endblock %}
