<!-- The Modal Content for the Regest -->
    {% if object.collections.current.short_regest != '' %}
    <div class="regest-header text-center">
        <h5 class="card-title mb-0" id="{{ object.objectId|replace(':', '')|replace('.', '') }}-modalLabel">{{object.collections.current.short_regest}}</h5><a data-toggle="collapse" aria-labelledby="{{ object.objectId|replace(':', '')|replace('.', '') }}-collapseLabel" aria-expanded="false" href="#{{ object.objectId|replace(':', '')|replace('.', '') }}-collapse">{{ _('Vollregest') }}</a>
    </div>
    {% else %}
    <div class="text-center"><a data-toggle="collapse" href="#{{ object.objectId|replace(':', '')|replace('.', '') }}-collapse" aria-labelledby="{{ object.objectId|replace(':', '')|replace('.', '') }}-collapseLabel" aria-expanded="false">{{ _('Regest') }}</a></div>
    {% endif %}
    <div class="collapse" id="{{ object.objectId|replace(':', '')|replace('.', '') }}-collapse">
        <div class="card card-body bg-light">{{object.collections.current.description}}</div>
    </div>
