<!-- The Modal Content for the Regest -->

{% if object.collections.current.short_regest != '' %}
    <div class="regest-header text-center" role="heading" aria-level="3">
        <div class="card-title mb-0 kurz-regest" id="{{ object.objectId|replace(':', '')|replace('.', '') }}-modalLabel" title="{{ _('Kurzregest') }}" data-toggle="tooltip" data-container="#{{ object.objectId|replace(':', '')|replace('.', '') }}-modalLabel">{{object.collections.current.short_regest}}</div><a class="internal-link" data-toggle="collapse" aria-expanded="false" href="#{{ object.objectId|replace(':', '')|replace('.', '') }}-collapse" role="button" aria-controls="{{ object.objectId|replace(':', '')|replace('.', '') }}-collapse"><span id="full-regest-link-{{ object.objectId|replace(':', '')|replace('.', '') }}" data-toggle="tooltip" data-container="#full-regest-link-{{ object.objectId|replace(':', '')|replace('.', '') }}" title="{{ _('Vollregest lesen') }}">{{ _('Regest') }}</span></a>
    </div>
    {% elif ((object.open_regest or current_user.project_team) and object.collections.current.description != 'None') or object.collections.current.dating or object.collections.current.issued_at %}
    <div class="text-center" role="heading" aria-level="3"><a class="internal-link" data-toggle="collapse" data-toggle="tooltip" href="#{{ object.objectId|replace(':', '')|replace('.', '') }}-collapse" aria-expanded="false" role="button" aria-controls="{{ object.objectId|replace(':', '')|replace('.', '') }}-collapse"><span id="full-regest-link-{{ object.objectId|replace(':', '')|replace('.', '') }}" data-toggle="tooltip" data-container="#full-regest-link-{{ object.objectId|replace(':', '')|replace('.', '') }}" title="{{ _('Regest lesen') }}">{{ _('Regest') }}</span></a></div>
    {% endif %}
    <div class="collapse" id="{{ object.objectId|replace(':', '')|replace('.', '') }}-collapse">
        <div class="card card-body bg-light"><p class="mb-0 regest-body">
        {% if object.open_regest or current_user.project_team %}<span{% if object.collections.current.description %} lang="{{object.collections.current.secondary_lang}}"{% endif %}>{{object.collections.current.description}}</span>{% endif %}
        {% if object.collections.current.dating %}<br><span class="regest_collapse_heading">{{ _('Datierung: ') }}</span>{{ object.collections.current.dating }}{% endif %}
        {% if object.collections.current.issued_at %}<br><span class="regest_collapse_heading">{{ _('Ausstellungsort:') }}</span> {{ object.collections.current.issued_at }}{% endif %}
        {% if object.collections.current.ms_source %}<br><span class="regest_collapse_heading">{{ _('HS Signatur:')
            }}</span> {{ object.collections.current.ms_source|safe }}{% endif %}</p>
        </div>
    </div>
