<!-- The Modal Content for the Regest -->

{% if object.collections.current.short_regest != '' %}
    <div class="regest-header text-center">
        <div class="card-title mb-0 kurz-regest" id="{{ object.objectId|replace(':', '')|replace('.', '') }}-modalLabel">{{object.collections.current.short_regest}}</div><a data-toggle="collapse" aria-labelledby="{{ object.objectId|replace(':', '')|replace('.', '') }}-collapseLabel" aria-expanded="false" href="#{{ object.objectId|replace(':', '')|replace('.', '') }}-collapse">{{ _('Regest') }}</a>
    </div>
    {% elif ((object.open_regest or current_user.project_team) and object.collections.current.description != 'None') or object.collections.current.dating or object.collections.current.issued_at %}
    <div class="text-center"><a data-toggle="collapse" href="#{{ object.objectId|replace(':', '')|replace('.', '') }}-collapse" aria-labelledby="{{ object.objectId|replace(':', '')|replace('.', '') }}-collapseLabel" aria-expanded="false">{{ _('Regest') }}</a></div>
    {% endif %}
    <div class="collapse" id="{{ object.objectId|replace(':', '')|replace('.', '') }}-collapse">
        <div class="card card-body bg-light"><p class="mb-0 regest-body">
        {% if object.open_regest or current_user.project_team %}{{object.collections.current.description}}{% endif %}
        {% if object.collections.current.dating %}<br><span class="regest_collapse_heading">{{ _('Datierung: ') }}</span>{{ object.collections.current.dating }}{% endif %}
        {% if object.collections.current.issued_at %}<br><span class="regest_collapse_heading">{{ _('Ausstellungsort:') }}</span> {{ object.collections.current.issued_at }}{% endif %}</p>
        </div>
    </div>
