<div class="btn-group-vertical justify-content-end">
{% if g.search_form %}
<form class="form my-0 my-lg-0" method="get" action="{{ url_for('.r_search') }}">
    <div class="form-group">
        <p class="mb-0">{{ g.search_form.q(size=20, class="form-control my-0", placeholder=g.search_form.q.label.text) }}</p>
        <p style="font-size: small" title="Lemma search is currently only available for Latin formulae">{{ g.search_form.lemma_search() }} <span class="align-top">{{ g.search_form.lemma_search.label }}</span></p>
    </div>
</form>
{% endif %}
<a class="btn btn-outline-secondary my-2 my-sm-0" href="BIDOUILLE_advanced_charter_search.html">Advanced search page</a>
<!--<a class="btn btn-outline-info my-2 my-sm-0" href="BIDOUILLE_advanced_charter_search.html">Advanced search page</a>-->
</div>
