<!-- Extra information for Sens -->
    <div class="row">
        <div class="col-6">
            <h5>{{ _('Zur Kondordanz') }}:</h5>
            <p class="mb-0">
            Die 
            <a class="outside-link" href="{{url_for('InstanceNemo.static', filename='pdf_folder/sens_konkordanz.pdf')}}" target="_blank" id="bourges_concordance_link" data-toggle="tooltip" data-container="#sens_concordance_link" title="{{ _('Konkordanz im neuen Tab öffnen') }}">         
                Konkordanz
            </a> 
            ermöglicht die Zuordnung der Edition zur Ausgabe Zeumer.
            <p>
        </div>
    </div>
