{% extends "main::container.html" %}
{% block title %}Formulae - Litterae - Chartae: {{collections.current.label|striptags}}{% if "manuscript_collection" in collections.parent_ids %} ({{ collections.current.short_title|safe }}){% endif %} {{ _('Inhalt') }}{% endblock %}

{% macro make_dates(values) %}

{% if values['dating'] not in ['None', ''] %}
<p class="mb-0 temp-place">{{ _('Datum') }}: {{ values['dating'] }}{% if values['ausstellungsort'] not in ['None', ''] %}<br>{{ _('Ausstellungsort') }}: {{ values['ausstellungsort'] }}{% endif %}</p>
{% endif %}

{% endmacro %}

{% block article %}
{% if not prev_texts %}
{% set prev_texts = '' %}
{% set prev_reffs = '' %}
{% set coll_route = 'InstanceNemo.r_collection' %}
{% else %}
{% set coll_route = 'InstanceNemo.r_add_text_collection' %}
{% endif %}
<header>
    <h1>
    {{collections.current.label|striptags}}{% if "manuscript_collection" in collections.parent_ids %} ({{ collections.current.short_title|safe }}){% endif %}
    </h1>
    {% if collections.parents[-1].id == 'formulae_collection' %}
    <a class="outside-link ml-2" href="{{ url_for('InstanceNemo.r_corpus_mv', objectId=collections.current.id) }}">{{ _('Zur Überlieferungsübersicht') }}</a>
    {% elif collections.current.id == 'urn:cts:formulae:fu2' %}
    <a class="outside-link man_desc_link ml-2" href="{{ url_for('InstanceNemo.r_man_desc', manuscript='fulda_d1') }}">{{ _('Zum Manuskriptinhalt') }}</a><br>
    {% endif %}
</header>
</div>
{% if collections.readable %}
    <h4>{{ _('Gehe zu (Text):') }}</h4>
    {% if 'marmoutier_serfs' in collections.current.id %}
        {% set ns = namespace(appendix = 'no') %}
        {% for number, values in collections.readable.items() %}
            {% if ns.appendix == "no" and 'app' in values['name'] %}
                {% set ns.appendix = 'yes' %}
                <h5 class="mt-1">Appendix</h5>
            {% endif %}
            <a type="button" class="btn btn-outline-primary px-1 mx-0" href="#N{{number}}">{{values['name']|replace('app', '')|int}}</a>
        {% endfor %}
    {% else %}
        {% for number, values in collections.readable.items() %}
            <a type="button" class="btn btn-outline-primary px-1 mx-0" href="#N{{number}}">{% if 'lorsch' not in collections.current.id %}{{values['name']|replace('(', '')|replace(')', '')}}{% else %}{{values['name']}}{% endif %}</a>
        {% endfor %}
    {% endif %}
    <div class="row">
        <div class="{{ 'col-xl-8 col-12' if collections.current.open_regesten or current_user.project_team else 'col-xl-4 col-12' }}">
            <ul class="list-group list-group-flush">
            {% for number, values in collections.readable.items() %}
                <li id="N{{number}}" class="list-group-item flex-column">
                    <div class="d-flex w-100 justify-content-between">
                        <h5>{{values['title']}}: </h5>
                        <span>
                            {% if 'andecavensis' in collections.current.id or 'marculf' in collections.current.id %}
                                {% for urn, lang, version, source in values['versions']['editions']|sort %}
                                    <a class="card-link" href="{{url_for('InstanceNemo.r_multipassage', objectIds=[prev_texts, urn]|join_list_values('+'), subreferences=[prev_reffs, 'all']|join_list_values('+'))}}">
                                        [{{ _('Edition') }}]
                                    </a>
                                {% endfor %}
                                {% for urn, lang, version, source in values['versions']['translations']|sort %}
                                    <a class="card-link" href="{{url_for('InstanceNemo.r_multipassage', objectIds=[prev_texts, urn]|join_list_values('+'), subreferences=[prev_reffs, 'all']|join_list_values('+'))}}">[{{ _('Deutsche Übersetzung') }}]</a>
                                {% endfor %}
                                {% if values['versions']['transcriptions'] %}
                                    <div class="btn-group">
                                        <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {% if values['versions']['transcriptions']|length > 1 %}
                                        {{ _('Transkriptionen/Manuskriptbilder') }}
                                        {% else %}
                                        {{ _('Transkription/Manuskriptbild') }}
                                        {% endif %}
                                        </button>
                                        <div class="dropdown-menu transcription-dropdown">
                                        {% for urn, lang, version, source in values['versions']['transcriptions'] %}
                                        {% if source[1] == True %}
                                            <a class="dropdown-item " href="{{url_for('InstanceNemo.r_multipassage', objectIds=[prev_texts, urn, 'manifest:' + urn]|join_list_values('+'), subreferences=[prev_reffs, 'all', 'all']|join_list_values('+'))}}">{{ source[0]|safe }}</a>
                                        {% else %}
                                            <a class="dropdown-item " href="{{url_for('InstanceNemo.r_multipassage', objectIds=[prev_texts, urn]|join_list_values('+'), subreferences=[prev_reffs, 'all']|join_list_values('+'))}}">{{ source[0]|safe }}</a>
                                        {% endif %}
                                        {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% elif 'manuscript_collection' in collections.parent_ids %}
                                {% for urn, lang, version, source in values['versions']['transcriptions'] %}
                                    {% if source[1] == True %}
                                        <a class="card-link " href="{{url_for('InstanceNemo.r_multipassage', objectIds=[prev_texts, urn, 'manifest:' + urn]|join_list_values('+'), subreferences=[prev_reffs, 'all', 'all']|join_list_values('+'))}}">{% if values['versions']['transcriptions']|length > 1 %}{{ source[0]|safe }}{% else %}{{ _('Lesen') }}{% endif %}</a>
                                    {% else %}
                                        <a class="card-link " href="{{url_for('InstanceNemo.r_multipassage', objectIds=[prev_texts, urn]|join_list_values('+'), subreferences=[prev_reffs, 'all']|join_list_values('+'))}}">{% if values['versions']['transcriptions']|length > 1 %}{{ source[0]|safe }}{% else %}{{ _('Lesen') }}{% endif %}</a>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {% for urn, lang, version, source in values['versions']['editions']|sort %}
                                    <a class="card-link" href="{{url_for('InstanceNemo.r_multipassage', objectIds=[prev_texts, urn]|join_list_values('+'), subreferences=[prev_reffs, 'all']|join_list_values('+'))}}">{% if values['versions']['editions']|length > 1 %}{{_('Version') + ' ' + loop.index|string}}{% else %}{{ _('Lesen') }}{% endif %}</a>
                                {% endfor %}
                            {% endif %}
                        </span>
                        </div>
                        {% if current_user.project_team or collections.current.open_regesten %}
                            {% if not current_user.project_team and 'formulae_collection' in collections.parent_ids %}
                                {% set copy_class = ' no-copy' %}
                            {% else %}
                                {% set copy_class = '' %}
                            {% endif %}
                            {% if values['short_regest'] %}
                                <p class="mb-1{{ copy_class }}">{{ values['short_regest'] }}</p>
                            {% endif %}
                            {{ make_dates(values) }}
                            {% for p in values['regest'] %}
                                <p class="{{ copy_class }}"><small>{% if p != 'None' %}{{ p }}{% endif %}</small></p>
                            {% endfor %}
                            <p class="mb-0 text-right"><a class="internal-link" href="#top"><small>{{ _('Zurück zum Seitenanfang') }}</small></a></p>
                        {% else %}
                            {{ make_dates(values) }}
                            <p class="mb-0"><a href="#top"><small>{{ _('Zurück zum Seitenanfang') }}</small></a></p>
                        {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
{% endif %}
</div>
{% include "main::no_copy_modal.html" %}
{% endblock %}
