{% extends "main::container.html" %}

{% if not prev_texts %}
{% set prev_texts = '' %}
{% set prev_reffs = '' %}
{% set coll_route = 'InstanceNemo.r_collection_multi' %}
{% else %}
{% set coll_route = 'InstanceNemo.r_add_text_collection' %}
{% endif %}

{% block article %}

<link rel="stylesheet"  href="{{url_for('InstanceNemo.static', filename='css/sub_collection_mv.css')}}">

<header>
    <h1>
    {{collections.current.label}}
    </h1>
</header>
</div>


{% if collections.readable %}
<div class="row_mv">

    <ul class="list-group list-group-flush" style="flex-direction: row;">
        {{ build_column(collections.readable.editions) }}
        {{ build_column(collections.readable.translations) }}
        {{ build_column(collections.readable.transcriptions) }}
    </ul>
{% endif %}
</div>
<footer>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
    <script src="{{url_for('InstanceNemo.static', filename='js/sub_collection_mv.js')}}"></script>
</footer>
{% endblock %}

{% macro build_column(type_dict) %}
    {% for values in type_dict %}
    <li id="{{values['edition_name']}}" class="list-group-item flex-column mv-rows">
        <div class="card-header mv-card-header" data-toggle="tooltip" data-placement="top" title="{{values['full_edition_name']}}">
            <h5>{{values['edition_name']}}</h5>
        </div>
        <div class="card border-light">
            {% for name in values['links'][0]%}
                <div class="card search-hit">
                    {% if values['titles'][loop.index-1] %}<h5><p>{{ values['titles'][loop.index-1] }}</p></h5>{% endif %}
                    <div class="card-body p-2 search-hit-menu">
                        <p>
                            <a class="card-link" href="{{url_for('InstanceNemo.r_multipassage', objectIds=[prev_texts, values['links'][1][loop.index-1]|string]|join_list_values('+'), subreferences=[prev_reffs, 'all']|join_list_values('+'))}}">{{ _("Lesen") }}</a>
                        </p>
                    </div>
                </div>

            {% endfor %}
        </div>
    </li>
    {% endfor %}
{% endmacro %}
