{% extends "main::container.html" %}

{% macro make_dates(values) %}

{% if values['dating'] %}
<p class="mb-0 temp-place">{{ _('Datum') }}: {{ values['dating'] }}{% if values['ausstellungsort'] %}<br>{{ _('Ausstellungsort') }}: {{ values['ausstellungsort'] }}{% endif %}</p>
{% endif %}

{% endmacro %}

{% block article %}
{% if not prev_texts %}
{% set prev_texts = '' %}
{% set prev_reffs = '' %}
{% set coll_route = 'InstanceNemo.r_collection' %}
{% else %}
{% set coll_route = 'InstanceNemo.r_add_text_collection' %}
{% endif %}
<header>
    <h1>
    {{collections.current.label}}
    </h1>
</header>
</div>
{% if collections.readable %}
<h4>{{ _('Zu einem Text springen:') }}</h4>
{% for number in collections.readable|sort %}
<a type="button" class="btn btn-outline-primary px-1 mx-0" href="#N{{number}}">{{number}}</a>
{% endfor %}
<div class="row">
    <div class="{{ 'col-6' if collections.current.open_regesten or current_user.project_team else 'col-3' }}">
        <ul class="list-group list-group-flush">
        {% for number, values in collections.readable|dictsort %}
            <li id="N{{number}}" class="list-group-item flex-column">
                <div class="d-flex w-100 justify-content-between">
                    <h5>{{ _('Nummer') }} {{number}}: </h5>
                    <p>{{ _("Lesen: ") }}{% for urn, lang in values['versions'] %}<a class="card-link" href="{{url_for('InstanceNemo.r_multipassage', objectIds=[prev_texts, urn]|join_list_values('+'), subreferences=[prev_reffs, 'all']|join_list_values('+'))}}">[{{lang}}]</a>{% endfor %}</p>
                </div>
                {% if current_user.project_team or collections.current.open_regesten %}
                {% if values['short_regest'] %}<p class="mb-1">{{ values['short_regest'] }}</p>{% endif %}
                {{ make_dates(values) }}
                {% for p in values['regest'] %}
                <p><small>{{ p }}</small></p>
                {% endfor %}
                <p class="mb-0 text-right"><a href="#top"><small>{{ _('Zurück zum Seitenanfang') }}</small></a></p>
                {% else %}
                {{ make_dates(values) }}
                <p class="mb-0"><a href="#top"><small>{{ _('Zurück zum Seitenanfang') }}</small></a></p>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>
{% endif %}
</div>
{% endblock %}
