{% extends "main::container.html" %}
{% block title %}Formulae - Litterae - Chartae: {{collections.current.label|striptags}}{% if "manuscript_collection" in collections.parent_ids %} ({{ collections.current.short_title|safe }}){% endif %} {{ _('Inhalt') }}{% endblock %}

{% macro make_dates(values) %}

{% if values['ausstellungsort'] not in ['None', ''] or values['dating'] not in ['None', ''] %}
    <p class="mb-0 temp-place">{% if values['dating'] not in ['None', ''] %}{{ _('Datum') }}: {{ values['dating']|safe }}{% endif %}{% if values['ausstellungsort'] not in ['None', ''] %}{% if values['dating'] not in ['None', ''] %}<br>{% endif %}{{ _('Ausstellungsort') }}: {{ values['ausstellungsort']|safe }}{% endif %}</p>
{% endif %}
    
{% endmacro %}

{% block article %}
{% if not prev_texts %}
{% set prev_texts = '' %}
{% set prev_reffs = '' %}
{% set coll_route = 'InstanceNemo.r_collection' %}
{% else %}
{% set coll_route = 'InstanceNemo.r_add_text_collection' %}
{% endif %}
{% set ns = namespace(codex = 'Codex Odalberti') %}
<div class="col">
<header>
    <h1>
    {{collections.current.label|striptags}}{% if "manuscript_collection" in collections.parent_ids %} ({{ collections.current.short_title|safe }}){% endif %}
    </h1>
    {% if 'formulae_collection' in collections.parent_ids and 'formulae_marculfinae' not in collections.current.id %}
    <h5><a class="outside-link" href="{{ url_for('InstanceNemo.r_corpus_mv', objectId=collections.current.id) }}">{{ _('Zur Überlieferungsübersicht') }}</a></h5>
    {% elif 'manuscript_collection' in collections.parent_ids %}
    <h5><a class="outside-link" href="{{ url_for('InstanceNemo.r_corpus_mv', objectId=collections.current.id) }}">{{ _('Zum Handschriftenvergleich') }}</a></h5>
    {% endif %}
    {% if collections.current.containing_collections %}
    <div class="row">
        <div class="col-auto"><h5 class="show-more">{{ _('Anzeige im Handschriftenkontext von:') }}</h5></div>
        {% for siglum, title, urn in collections.current.containing_collections %}
        <div class="col-auto"><h5><a class="outside-link" href="{{ url_for('InstanceNemo.r_corpus', objectId=urn) }}" id="{{ urn|replace(':', '-') }}-ms-link" data-toggle="tooltip" data-placement="top" data-container="#{{ urn|replace(':', '-') }}-ms-link" title="{{ title }}">{{ siglum }}</a></h5></div>
        {% endfor %}
    </div>
    {% endif %}
    {% if collections.current.id == 'urn:cts:formulae:fu2' %}
    <br>
    <h5><a class="outside-link man_desc_link" href="{{ url_for('InstanceNemo.r_man_desc', manuscript='fulda_d1') }}">{{ _('Zum Manuskriptinhalt') }}</a></h5><br>
    {% elif collections.current.id == 'urn:cts:formulae:flavigny' %}
    {% include "main::flavigny_info.html" %}
    {% elif collections.current.id == 'urn:cts:formulae:tours_ueberarbeitung' %}
    {% include "main::tours_ueberarbeitung_info.html" %}
    {% elif collections.current.id == 'urn:cts:formulae:formulae_marculfinae' %}
    {% include "main::marculfinae_info.html" %}
    {% elif collections.current.id == 'urn:cts:formulae:m4' %}
    {% include "main::m4_info.html" %}
    {% elif collections.current.id == 'urn:cts:formulae:p3' %}
    {% include "main::p3_info.html" %}
    {% elif collections.current.id == 'urn:cts:formulae:ka1' %}
    <br>
    <h5><a class="outside-link man_desc_link" href="{{ url_for('InstanceNemo.r_man_desc', manuscript='karlsruhe_blb_aug') }}">{{ _('Zum Manuskriptinhalt') }}</a></h5><br>
    {% endif %}
    {% if "manuscript_collection" in collections.parent_ids %}
    <h5 id="show-mss-edition-colors"><a class="internal-link" href="#">{{ _('Farbkodierung der Sammlungen zeigen') }}</a></h5>
    <h5 id="hide-mss-edition-colors" class="d-none"><a class="internal-link" href="#">{{ _('Farbkodierung der Sammlungen verstecken') }}</a></h5>
    {% endif %}
</header>
</div>
</div>
{% if collections.readable %}
    <h4>{{ _('Gehe zu (Text):') }}</h4>
    {% if 'marmoutier_serfs' in collections.current.id %}
        {% set ns = namespace(appendix = 'no') %}
        {% for number, values in collections.readable.items() %}
            {% if ns.appendix == "no" and 'app' in values['name'] %}
                {% set ns.appendix = 'yes' %}
                <h5 class="mt-1">Appendix</h5>
            {% endif %}
            <a type="button" class="btn btn-outline-primary px-1 mx-0 corpus-nrs" href="#N{{number.replace('(', '').replace(')', '')}}">{{values['name']|replace('app', '')|int}}</a>
        {% endfor %}
    {% elif collections.current.id == 'urn:cts:formulae:salzburg' %}
    {{ collections.current.id }}
        {% for number in collections.readable|sort %}
            {% if ns.codex != number[1][0] %}
            {% set ns.codex = number[1][0] %}
            {% if ns.codex == 'Codex Odalberti' %}
            <h5 class="mt-1">Codex Odalberti (923-935)</h5>
            {% elif ns.codex == 'Codex Fridarici' %}
            <h5 class="mt-1">Codex Fridarici (958-991)</h5>
            {% elif ns.codex == 'Codex Hartuuici' %}
            <h5 class="mt-1">Codex Hartuuici (991-1023)</h5>
            {% elif ns.codex == 'Codex Tietmari II' %}
            <h5 class="mt-1">Codex Tietmari II (1025-1041)</h5>
            {% elif ns.codex == 'Codex Balduuini' %}
            <h5 class="mt-1">Codex Balduuini (1041-1060)</h5>
            {% else %}
            <h5 class="mt-1">{{ ns.codex }}</h5>
            {% endif %}
            {% endif %}
            <a type="button" class="btn btn-outline-primary px-1 mx-0" href="#N{{number[0]}}">{{number[1][1]}}</a>
        {% endfor %}
    {% else %}
        {% if collections.current.id == 'urn:cts:formulae:flavigny' %}
        <h5>Capitulationes</h5>
        {% endif %}
        {% if 'non_display_collection' in collections.parent_ids %}
            {% for number, values in collections.readable.items() %}
            <a type="button" class="btn btn-outline-primary px-1 mx-0 corpus-nrs" href="#N{{number.replace('(', '').replace(')', '')}}">{% if values['name'] is string %}{{values['name']}}{% else %}{{values['name']|join('/')}}{% endif %}</a>
            {% endfor %}
        {% else %}
        {% for number, values in collections.readable.items() %}
            {% if collections.current.id == 'urn:cts:formulae:flavigny' %}
                {% if number == '1_001' %}
                <h5>{{ _('Gemeinsames Material') }}</h5>
                {% elif number == "2_001" %}
                <h5 class="mt-1">{{ _('Material aus') }} P<span class="manuscript-number">3</span></h5>
                {% elif number == '3_001' %}
                <h5 class="mt-1">{{ _('Material aus') }} Ko<span class="manuscript-number">2</span></h5>
                {% endif %}
            {% endif %}
            {% if 'Capitulatio' in values['name'] or values['name'] == "Ergänzungen 1,1" %}
            <br>
            {% endif %}
            <a type="button" class="btn btn-outline-primary px-1 mx-0 corpus-nrs" href="#N{{number.replace('(', '').replace(')', '')}}">{% if 'lorsch' not in collections.current.id %}{% if '_' in values['name']%} {{values['title']}}{% else %}{{values['name']|replace('(', '')|replace(')', '')}}{% endif %}{% else %}{{values['name']}}{% endif %}{% if values['deperditum'] == True %} (<i>dep.</i>){% endif %}</a>
        {% endfor %}
        {% endif %}
    {% endif %}
    <div class="row">
        <div class="{{ 'col-xl-8 col-12' if collections.current.open_regesten or current_user.project_team else 'col-xl-4 col-12' }}">
            <ul class="list-group list-group-flush">
            {% for number, values in collections.readable.items() %}
                {% if collections.current.id == 'urn:cts:formulae:salzburg' %}
                {% set number = number[0] %}
                {% endif %}
                <li id="N{{number.replace('(', '').replace(')', '')}}" class="list-group-item flex-column work-cell {{ values['bg_color']|default('bg-color-0') }}">
                    <div class="row justify-content-between">
                        <div class="col-3"><h5>{% if 'non_display_collection' in collections.parent_ids %}{% if values['name'] is string %}{{values['name']}}{% else %}{{values['name']|join('/')}}{% endif %}{% else %}{{values['title']}}{% endif %}{% if values['parent_id'] in manuscript_notes %}<span id="{{ number|striptags }}-note" data-toggle="tooltip" data-placement="top" data-container="#{{ number|striptags }}-note" title="{{ manuscript_notes[values['parent_id']]}}"><span class="superscript" >*</span></span>{% endif %}{% if values['deperditum'] == True %} (<i>dep.</i>){% endif %}</h5></div>
                        <div class="col text-right">
                        {% if not values['deperditum'] %}
                            {% if 'formulae_collection' in collections.parent_ids or 'manuscript_collection' in collections.parent_ids %}
                                {% if values['versions']['editions']|length > 1 %}
                                <div class="btn-group">
                                    <button class="btn btn-link dropdown-toggle p-0 py-md-1 px-md-2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ _('Editionen') }}
                                    </button>
                                    <div class="dropdown-menu transcription-dropdown">
                                    {% for urn, lang, version, source in values['versions']['editions'] %}
                                        <a class="dropdown-item " href="{{url_for('InstanceNemo.r_multipassage', objectIds=[prev_texts, urn]|join_list_values('+'), subreferences=[prev_reffs, 'all']|join_list_values('+'))}}">{% if 'manuscript_collection' in collections.parent_ids %}{{ values['transcribed_edition'][loop.index0] }} (lat){% else %}{{ values['name'][loop.index0] }}{% endif %}</a>
                                    {% endfor %}
                                    </div>
                                </div>
                                {% else %}
                                {% for urn, lang, version, source in values['versions']['editions']|sort %}
                                    <a class="card-link" href="{{url_for('InstanceNemo.r_multipassage', objectIds=[prev_texts, urn]|join_list_values('+'), subreferences=[prev_reffs, 'all']|join_list_values('+'))}}">
                                        [{{ _('Edition') }}]
                                    </a>
                                {% endfor %}
                                {% endif %}
                                <div class="w-100 d-block d-md-none"></div>
                                {% if values['versions']['translations']|length > 1 %}
                                <div class="btn-group">
                                    <button class="btn btn-link dropdown-toggle p-0 py-md-1 px-md-2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ _('Deutsche Übersetzungen') }}
                                    </button>
                                    <div class="dropdown-menu transcription-dropdown">
                                    {% for urn, lang, version, source in values['versions']['translations'] %}
                                        <a class="dropdown-item " href="{{url_for('InstanceNemo.r_multipassage', objectIds=[prev_texts, urn]|join_list_values('+'), subreferences=[prev_reffs, 'all']|join_list_values('+'))}}">{% if 'manuscript_collection' in collections.parent_ids %}{{ values['transcribed_edition'][loop.index0] }} (deu){% else %}{{ values['name'][loop.index0] }}{% endif %}</a>
                                    {% endfor %}
                                    </div>
                                </div>
                                {% else %}
                                {% for urn, lang, version, source in values['versions']['translations']|sort %}
                                    <a class="card-link ml-md-3" href="{{url_for('InstanceNemo.r_multipassage', objectIds=[prev_texts, urn]|join_list_values('+'), subreferences=[prev_reffs, 'all']|join_list_values('+'))}}">[{{ _('Deutsche Übersetzung') }}]</a>
                                {% endfor %}
                                {% endif %}
                                <div class="w-100 d-block d-md-none"></div>
                                {% if values['versions']['transcriptions'] %}
                                    <div class="btn-group">
                                        <button class="btn btn-link dropdown-toggle p-0 py-md-1 px-md-2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {% if values['versions']['transcriptions']|length > 1 %}
                                        {{ _('Transkriptionen/Manuskriptbilder') }}
                                        {% else %}
                                        {{ _('Transkription/Manuskriptbild') }}
                                        {% endif %}
                                        </button>
                                        <div class="dropdown-menu transcription-dropdown">
                                        {% for urn, lang, version, source in values['versions']['transcriptions'] %}
                                            <a class="dropdown-item " href="{{url_for('InstanceNemo.r_multipassage', objectIds=[prev_texts, urn, 'manifest:' + urn]|join_list_values('+'), subreferences=[prev_reffs, 'all', 'all']|join_list_values('+'))}}">{{ source[0]|safe }}</a>
                                        {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% elif 'manuscript_collection' in collections.parent_ids %}
                                {% for urn, lang, version, source in values['versions']['transcriptions'] %}
                                        <a class="card-link " href="{{url_for('InstanceNemo.r_multipassage', objectIds=[prev_texts, urn, 'manifest:' + urn]|join_list_values('+'), subreferences=[prev_reffs, 'all', 'all']|join_list_values('+'))}}">{% if values['versions']['transcriptions']|length > 1 %}{{ source[0]|safe }}{% else %}{{ _('Lesen') }}{% endif %}</a>
                                {% endfor %}
                            {% else %}
                                {% for urn, lang, version, source in values['versions']['editions']|sort %}
                                    <a class="card-link" href="{{url_for('InstanceNemo.r_multipassage', objectIds=[prev_texts, urn]|join_list_values('+'), subreferences=[prev_reffs, 'all']|join_list_values('+'))}}">{% if values['versions']['editions']|length > 1 %}{{_('Version') + ' ' + loop.index|string}}{% else %}{{ _('Lesen') }}{% endif %}</a>
                                {% endfor %}
                            {% endif %}
                        {% else %}
                        <h5 class="latin-word">Deperditum</h5>
                        {% endif %}
                        </div>
                        </div>
                        {% if 'alt_link' in values %}<p class="mb-1 short-regest"><a href="{{ values['alt_link'] }}" class="internal-link">-> {{ values['alt_title'] }}</a></p>{% endif %}
                        {% if current_user.project_team or collections.current.open_regesten %}
                            {% if not current_user.project_team and 'formulae_collection' in collections.parent_ids %}
                                {% set copy_class = ' no-copy' %}
                            {% else %}
                                {% set copy_class = '' %}
                            {% endif %}
                            {% if values['short_regest'] %}
                                <p class="mb-1 short-regest {{ copy_class }}">{{ values['short_regest']|safe }}</p>
                            {% endif %}
                            {% for p in values['regest'] %}
                                <p class="full-regest {{ copy_class }}">{% if p != 'None' %}{{ p|safe }}{% endif %}</p>
                            {% endfor %}
                            {{ make_dates(values) }}
                            <p class="mb-0 text-right"><a class="internal-link" href="#top"><small>{{ _('Zurück zum Seitenanfang') }}</small></a></p>
                        {% else %}
                            {{ make_dates(values) }}
                            <p class="mb-0"><a href="#top"><small>{{ _('Zurück zum Seitenanfang') }}</small></a></p>
                        {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
{% endif %}
</div>
{% include "main::no_copy_modal.html" %}
{% endblock %}
