{% extends "main::container.html" %}

{% block article %}

<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script type="text/javascript" src="{{url_for('InstanceNemo.static', filename='js/text_container.js')}}"></script>

<style type="text/css">
    @media only screen and (max-width: 600px) {

        #sidebar_l {
            margin-left: 0%;
            padding-right: 15px;
            padding-left: 15px;
        }

        #sidebar_r {
            padding-right: 15px;
            padding-left: 15px;
            max-width: 16.666667%;
            margin-left: auto;
            visibility: visible;
        }

    }

    @media only screen and (min-width: 600px) {
        #sidebar_l {
            margin-left: 0%;
            padding-right: 15px;
            padding-left: 15px;
        }

        #sidebar_l.active {
            padding-right: 0px;
            padding-left: 0px;
            margin-left: -16.666667%;
        }

        #sidebar_r {
            padding-right: 15px;
            padding-left: 15px;
           max-width: 16.666667%;
            margin-left: auto;
            visibility: visible;
        }

        #sidebar_r.active {
            padding-right: 0px;
            padding-left: 0px;
            max-width: 0;
            visibility: hidden;
        }
    }
    #sidebarCollapse_r {
        float: right;
        height: 30px;
        width: 30px;
        position: -webkit-sticky;
        position: sticky;
        top: 50%;
    }
    #sidebarCollapse_l {
        float: left;
        height: 30px;
        width: 30px;
        position: -webkit-sticky;
        position: sticky;
        top: 50%;
    }
</style>



{% if objects %}
    {% set prev_texts = objects|join('+', attribute='objectId') %}
    {% set prev_reffs = objects|join('+', attribute='subreference') %}
{% else %}
    {% set prev_texts = objectId %}
    {% set prev_reffs = subreference %}
{% endif %}
<!-- THE LEFT COLUMN -->
<div id="sidebar_l" class="col-2 d-none d-lg-block">
    <div class="d-flex flex-column" id="left-sticky-col">
        {% include "main::add_text_menu.html" %}
    </div>
</div>

<!-- button to collapse the left sidebar-->
<button type="button" id="sidebarCollapse_l"><</button>

{% include "main::no_copy_modal.html" %}

<div class="col-sm hfeed right-columns" id="reading-container">
<!-- THE TEXTS -->
{% block texts %}
{% endblock %}
</div>
<!-- button to collapse the right sidebar-->
<button type="button" id="sidebarCollapse_r">></button>

<!-- THE RIGHT COLUMN -->
<div id="sidebar_r" class="col-2 d-none d-lg-block">
    <div class="d-flex flex-column" id="right-sticky-col">
        {% include "main::lexicon.html" %}
        <br/>
        {% include "main::notes.html" %}
    </div>
</div>



{% endblock %}

{% block metadata %}
{% endblock %}



