{% extends "main::container.html" %}

{% block article %}

<!-- THE LEFT COLUMN -->
<div class="col-auto d-none d-lg-block">
    {% include "main::manuscript_menu.html" %}
    <br/>
    <br/>
</div> 

{% include "main::no_copy_modal.html" %}
{% if current_user.project_team %}
<div class="col-sm hfeed right-columns" id="reading-container">
{% else %}
<div class="col-sm hfeed right-columns no-copy" id="reading-container">
{% endif %}
{% if objects %}
    {% set prev_texts = objects|join('+', attribute='objectId') %}
    {% set prev_reffs = objects|join('+', attribute='subreference') %}
{% else %}
    {% set prev_texts = objectId %}
    {% set prev_reffs = subreference %}
{% endif %}
{{ proj_team }}
<a href="{{ url_for('InstanceNemo.r_add_text_collections', objectIds=prev_texts, reffs=prev_reffs) }}">
  {{ _('Add another text') }}
</a>
<!-- THE TEXTS -->
{% block texts %}
{% endblock %}
</div>
<!-- THE RIGHT COLUMN -->
<div class="col-2 d-none d-lg-block">
    <div class="d-flex flex-column" id="right-sticky-col">
        {% include "main::lexicon.html" %}
        <br/>
        {% include "main::notes.html" %}
    </div>
</div>
{% endblock %}

{% block metadata %}
{% endblock %}
