{% extends "main::container.html" %}

{% block article %}

<!-- THE LEFT COLUMN -->
<div class="col-sm-auto">
                
    {% include "main::function_of_speech.html" %}
    <br/>
    <br/>
    {% include "main::manuscript_menu.html" %}
</div> 

<!-- This is the popout for the message if someone tries to copy the text. -->
    <div class="modal" tabindex="-1" role="dialog" id="no-copy-message">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-body">
            <p>We are sorry but, since this text has not yet been published, we do not allow copying of the textual content.</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
    </div>
    {% if current_user.project_team %}
<div class="col-sm hfeed right-columns" id="reading-container">
{% else %}
<div class="col-sm hfeed right-columns no-copy" id="reading-container">
{% endif %}
<!-- THE TEXTS -->
{% block texts %}
{% endblock %}    
</div>
<!-- THE RIGHT COLUMN -->
<div class="col-sm-2">
        <br/>
        {% include "main::lexicon.html" %}
        {% include "main::notes.html" %}
{% endblock %}

{% block metadata %}
{% endblock %}
