<!-- Extra information for Flavigny -->

    <div class="row">
        <div class="col-6">
            <div role="heading" aria-level="3"><a class="internal-link" data-toggle="collapse" data-toggle="tooltip" href="#tours-ueberarbeitung-collection-collapse" aria-expanded="false" role="button" aria-controls="#tours-ueberarbeitung-collection-collapse">{{ _('Notiz zur Sammlung') }}</a></div>
            <div class="collapse" id="tours-ueberarbeitung-collection-collapse">
                <div class="card card-body bg-light">
                    <p>Die Handschrift Vatikan, BAV, Reg. Lat. 1050 (<b>V<span class="subscript smaller-text">11</span></b>) überliefert vier Formeln, die in ihrem Kern auf Formeln aus Tours zurückgehen (Tours 13, Tours 14, Tours 15 und Tours 20), aber eigenständige Neufassungen dieser Formeln darstellen. Sie bilden den Rest einer heute verlorenen eigenen Sammlung. Karl Zeumer gab die Formeln aus <b>V<span class="subscript smaller-text">11</span></b> seiner Edition der <i>Formulae Turonenses</i> als <i>Formularum Turonensium appendix</i> bei (K. Zeumer, Formulae, S. 163-165).
                    </p>
                </div>
            </div>
        </div>
    </div>
