{% extends "main::container.html" %}
{% block title %}Formulae - Litterae - Chartae: {{ _('Tutorials') }}{% endblock %}

{%block article%}
<div class="container-fluid">
    <header>
        <h1 class="text-center">{{ _('Videotutorials') }}</h3>
    </header>
        <div class="row justify-content-center">
        {% for category, video_information in videos|dictsort %}
            <div class="col-2">
                <div class="card">
                    <div class="card-header" id="video-category-{{category[0]|string}}">
                    <h2 class="mb-0">
                        {{ category[1] }}
                    </h2>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled">
                        {% for title, files in video_information|dictsort %}
                            <li><a type="button" role="button" class="btn btn-link text-left" data-toggle="modal" data-target="#videoModal" data-modallabel="{{ title[1] }}" data-videosource="{{ url_for('InstanceNemo.static', filename=files['video']) }}" data-transcript="{{ files['transcripts'][video_language] }}" data-videolanguage="{{ video_language }}">
                                    {{ title[1] }}
                                </a></li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    
</div>
{%endblock%}
