.reading-sidebar {
    display: flex;
    flex-direction: row;
}

.gutter.gutter-horizontal {
    cursor: ew-resize;
    background-repeat: no-repeat;
    background-position: 50% 30vh;
    visibility: hidden;
}

#sub-container {
    flex-wrap: nowrap;
}
