#sidebar_l {
        margin-left: 0%;
        padding-right: 15px;
        padding-left: 15px;
    }

    #sidebar_l.active {
        padding-right: 0px;
        padding-left: 0px;
        margin-left: -16.666667%;
    }

    #sidebar_r {
        padding-right: 15px;
        padding-left: 15px;
       max-width: 16.666667%;
        margin-left: auto;
        visibility: visible;
    }

    #sidebar_r.active {
        padding-right: 0px;
        padding-left: 0px;
        max-width: 0;
        visibility: hidden;
    }

    #sidebarCollapse_r {
        float: right;
        height: 30px;
        width: 30px;
        position: -webkit-sticky;
        position: sticky;
        top: 50%;
    }
    #sidebarCollapse_l {
        float: left;
        height: 30px;
        width: 30px;
        position: -webkit-sticky;
        position: sticky;
        top: 50%;
    }