
#menu-container  .logo {
    width: auto;
}
.pb {
  font-weight: thin;
  font-size: 0.5em;
  display:inline;
  font-style: italic;
  color:grey;
}

.ex,
.supplied,
.unclear {
  color: rgb(80,80,80);
}

.unclear {
  text-decoration: underline dotted;
}

.lang_heb, .lang_ara, .lang_far {
  text-align:right;
}

.lang_heb span.w::before {
  content:" ";
}

 /* Popup container */
.note {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.note .note-content {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.note .note-content::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.note .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
} 

#reading-container article {
  width:100%;
}
#treebank_container {
  height:600px;
}
span[token-selector="state.tokens"] {
  display:none;
}

/* Typeahead */

.algolia-autocomplete {
  width: 100%;
}
.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
  width: 100%;
}
.algolia-autocomplete .aa-hint {
  color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
  width: 100%;
  background-color: #fff;
  border: 1px solid #999;
  border-top: none;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: 5px 4px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: #B2D7FF;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}

#fullsearch {
  margin-top:15px;
}

.function:target {
  animation: hilite 60s;
}
@keyframes hilite {
  0% {background: transparent;}
  10% {background: #58ACFA;}
  100% {background: transparent;}
}

/*.function:target {
    background-color: white;
    animation-name: hihi;
    animation-duration: 60s;
 }

@keyframes hihi {
  from {background-color: white;}
  to {background-color: #58ACFA;}
}*/

a.lex {
    color: black;
    text-decoration: none;
}
a.lex:active {
    background-color: #ffe6e6;
    text-decoration:underline;
}

.popup {
    visibility: hidden;
}

.popup:target {
    visibility: visible;
}

#sub-container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.row_mv {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;

}

.firsturn {
  font-size: smaller;
  text-align: left;
}

.lasturn {
  font-size: smaller;
  text-align: right;
}

.middleurn {
  font-size: smaller;
  text-align: center;
}

#reading-container article .with-border {
    border-right: 1px solid;
}

#reading-container article .bottom-border {
    border-bottom: 1px solid;
}

nav .dropdown-menu {
    display: none;
}

nav .dropdown:hover .dropdown-menu, nav .dropup:hover .dropdown-menu {
    display: block;
}

#mainNavbar .navbar-nav .nav-item .nav-link {
    color: rgba(255,255,255,.75);
}

#mainNavbar .navbar-nav .nav-item .nav-link.active {
    color: rgba(255,255,255);
}

#mainNavbar .navbar-text {
    color: rgba(255,255,255);
}

/*.platzhalter {
  font-style: italic;
}*/

.lexicon {
    text-decoration: underline wavy
}

#lexicon-modal {
    background-color: rgba(0,0,0,0.4);
}

#lexicon-modal .modal-content .card {
    background-color: #e4e4e4;
}

#lexicon-modal .card-body {
    padding-top: 0;
    padding-bottom: 0;
}

#adw-logo-footer {
    margin-right: 20px;
}

.bg-hhblue {
    background-color: #00bfff;
}

.bg-hhgray {
    background-color: #263d3d;
}

.bg-hhred {
    background-color: #ff0000;
}

.scrolled {
    transition: 0.5s ease;
}

.scrolled.navbar {
    background-color: #F8F9FA;
}

.navbar {
    background-color: #263d3d;
}

.navbar .navbar-logo {
    height: 200px; 
    transition: 0.5s ease;
}

.scrolled.navbar .navbar-logo {
    height: 65px;
    transition: 0.5s ease;
}

#lexicon-modal {
    overflow-y: auto;
}

#login-article {
    width: 100%;
}

.navbar-dark label {
    color: rgba(255,255,255,.75);
}

#simple-search-form #simple-search-label {
    color: rgba(255,255,255);
    font-size: 1.2em;
    margin-bottom: 0;
}

#simple-search-form label {
    font-size: small;
}

#simple-search-form .nav-link {
    font-size: small;
}

.form-check-inline.corpus-check {
    margin-right: 0;
}

#right-sticky-col {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
}

#left-sticky-col {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
}

.notecard-row {
    overflow: auto;
    margin-right: -15px;
}

.notecard-col {
    padding-right: 0;
}

/* To make this show three lines, change max-height to 3.7em */
.two-line {
    max-height: 2.7em;
    overflow: hidden;
}

.two-line.expanded {
    max-height: 100em;
}

/* The fade idea is thanks to https://css-tricks.com/line-clampin/ using the "Fade-Out Way" */
.fade-out {
    position: relative;
}

.fade-out::after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 1.2em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

#advanced-form {
    width: 100%;
}

.invalid-field {
    border-color: #dc3545;
}

.corpus-ul {
    list-style-type: none;
}

.corpus-ul .corpus-ul {
    margin-left: -1.5em;
}

#landing-text p {
    text-align: justify;
}

.temp-place {
    font-style: italic;
    font-size: 0.875em;
    font-weight: bold;
}

.citationStyle,.modalCitationStyle {
    border: 1px solid;
    border-radius: 5px;
}

.citationStyle p {
    line-height: 1.0;
    margin: 0.5rem;
}

.modalCitationStyle p {
    line-height: 1.0;
    margin: 0.5rem;
    font-size: 0.7rem;
}

.searched {
    background-color: yellow;
}

#lemma-search-table {
    margin: auto;
}

#lemma-search-table th, #lemma-search-table td {
    text-align: center;
}

#results-sort-table {
    width: 300px; 
    margin: auto;
}

#results-sort-table th, #results-sort-table td {
    text-align: center;
}

.search-stat {
    padding: 0rem 1.5rem;
    margin-left: 0.25rem;
}

#searchTotal {
    color: blue;
    font-size: 2rem;
    vertical-align: middle;
    font-weight: bold;
}

#search-stat-table .table-header,.corpora-search-results-dropdown .table-header {
    display: table-header-group;
}

#search-stat-table .table-header .table-cell,.corpora-search-results-dropdown .table-header .table-cell {
    border-right: 1px solid #ddd;
    padding-left: 0.5rem;
    display: table-cell;
    font-weight: bold;
}

#search-stat-table .table-header .table-cell:only-of-type,.corpora-search-results-dropdown .table-header .table-cell:only-of-type {
    padding-left: 0.5rem;
    display: table-cell;
    font-weight: bold;
}

#search-stat-table .table-row,.corpora-search-results-dropdown .table-row {
    display: table-row;
}

.stat-sub-table {
    display: table;
    margin-left: 2rem;
}

.stat-sub-row {
    display: table-row;
}

.stat-sub-cell {
    display: table-cell;
}

#search-stat-table .table-row .table-cell,.corpora-search-results-dropdown .table-row .table-cell {
    border-right: 1px solid #ddd;
    vertical-align:top;
    display: table-cell;
}

#search-stat-table .table-row .table-cell:only-of-type,.corpora-search-results-dropdown .table-row .table-cell:only-of-type {
    vertical-align:top;
    display: table-cell;
}

#re-search-table {
    width: 300px; 
}

.version-dropdown span, .version-dropdown a {
    padding-top: 0rem;
    padding-bottom: 0rem;
    font-size: 0.875rem;
    line-height: 1.2rem;
}

span[class="book-title"] {
    font-weight: bold;
}

button.close {
    color: #263d3d;
    font-size: 1rem;
}

.bibl-popover {
    max-width: 50%;
}

.elex-modal-popover {
    max-width: 50%;
}

.surname {
    font-variant: small-caps;
}

.search-hit-menu,.search-hit-dropdown,#prevSearchResults {
    max-height: 30vh;
    overflow: auto;
}

.search-hit {
    padding: 0rem 0rem;
}

.search-hit span {
    font-size: small;
    color: black;
    text-decoration: none;
}

.search-subtitle {
    padding-top: 0rem;
    padding-bottom: 0rem;
    font-size: 1.25rem;
}

.search-subtitle-row {
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.corpora-search-results-dropdown .dropdown-item {
    padding-bottom: 0;
    padding-top: 0;
}

.corpora-search-results-dropdown .dropdown-divider {
    margin-bottom: .25rem;
    margin-top: .25rem;
}

.corpora-search-results-dropdown {
    z-index: 1030;
}

.smallfont {
    font-size: small;
}

img[id$="-flag-navbar"] {
    height: 1.5rem;
    width: 1.5rem;
}

#lang-nav {
    padding-left: 1rem;
}

.lang-link {
    padding: 0 1rem;
}

#date_plus_minus,#slop {
    width: 4rem;
}

.date-range-label {
    margin-top: 1rem;
    font-style: italic;
    width: 2.3rem;
}

#weekday-row .form-group {
    margin-right: .25rem;
}

#weekday-row .form-check-label,#holiday-row .form-check-label {
    margin-right: .25rem;
}

#doc-num {
    padding-right: 2rem;
}

.formulae-label {
    text-transform: uppercase;
}

@keyframes note-focus {
    from {background-color: lightgrey;}
    to {background-color: initial;}
}

.flash-yellow span {
    animation-name: note-focus;
    animation-duration: 4s;
}

.hidden-button, .hidden-cell, #results-max-date-column, #results-min-date-column {
    display: none;
}

.version-dropdown {
    z-index: 1030;
    position: relative;
    overflow-y: auto;
    max-height: 60vh;
}

.elex-word {
    font-weight: bold;
}

.dropdown-item-text {
    font-weight: bold;
    text-decoration: underline;
}

.latin-word {
  font-style: italic;
}

.italic {
  font-style: italic;
}

.foreign-text {
  font-style: italic;
}

div.transcription p {
    margin-bottom: 0;
    text-indent: -1em;
    padding-left: 1em;
}

.superscript {
    vertical-align: super;
}

.subscript {
    vertical-align: sub;
}

.small-caps {
    font-variant: small-caps;
}

.smaller-text {
    font-size: smaller;
}

.line-through {
    text-decoration: line-through;
}

.manuscript-number {
    vertical-align: sub;
    font-size: small;
}

.verso-recto {
    vertical-align: super;
    font-size: small;
    font-variant: none;
}

h1 .manuscript-number {
    vertical-align: sub;
    font-size: smaller;
}

.version-dropdown span.manuscript-number {
    vertical-align: sub;
    font-size: small;
}

.regest_collapse_heading {
    font-weight: bold;
}

.entry-title {
    font-variant: small-caps;
    font-size: larger;
    line-height: 1em;
    margin-bottom: 0;
}

.entry-folia {
    font-size: larger;
    line-height: 1em;
    margin-bottom: 0;
}

.kurz-regest {
    color: #595959;
    font-weight: bold;
}

.remove-column-link {
    font-size: .875rem;
}

.regest-body {
    font-size: .875rem;
}

#sidebarCollapse_l,#sidebarCollapse_r {
    font-size: 250%;
}

.head {
    font-size: larger;
    margin-bottom: .25em;
}

.regest-sents-heading {
    font-size: smaller;
    text-decoration: underline;
}

.text-section.scrolling {
    max-height: 65vh;
    overflow-y: auto;
}

.text-row {
    padding-bottom: 0;
    padding-top: 1em;
}

.reading-format-image {
    width: auto;
    height: 30px;
}

.scroll-control-image {
    border-left: 1px solid;
    padding-left: 10px;
    margin-left: 10px;
}

.indented-paragraph {
    margin-left: 1em;
}

.mv-rows {
    max-height: 80vh;
    width: 15%;
}

#aggs-all-docs {
    text-decoration: underline;
}

.collection-origin {
    font-style: italic;
    font-weight: bold;
}

.nav-item.dropdown .dropdown-menu {
    height: auto;
    width: auto;
    max-height: 70vh;
    overflow: auto;
}

@keyframes text-focus {
    from {background-color: lightgrey;}
    to {background-color: initial;}
}

p.flash-grey {
    animation-name: text-focus;
    animation-duration: 4s;
}

li.flash-grey {
    animation-name: text-focus;
    animation-duration: 2s;
}

.paragraph-link {
    font-size: 50%;
    top: -.5em;
    position: relative;
}

.related-text {
    margin-left: 1em;
}

.ui-resizable-s {
    bottom: 0px;
}

.ui-resizable-s:hover {
    background: lightgrey;
}

.multi-reading-row {
    min-height: 30vh;
    height: 40vh;
}

.multi-reading-row .text-row {
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    height: calc(100% - 24px);
    width: 100%;
}

.notecard-row>.row {
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    height: calc(100% - 12px);
    width: 100%;
}

.multi-reading-row .image-row {
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    height: calc(100% - 24px);
    width: 100%;
}

.text-row-handle {
    left: 48%;
    position: relative;
    bottom: -3px;
}

.close-window-icon {
    padding-left: 3px;
    padding-right: 3px;
}

.maximize-window-icon,.minimize-window-icon,.add-window-icon,.part-menu-icon {
    padding-left: 3px;
    padding-right: 3px;
    bottom: -.5px;
}

.add-text-toggle::after {
    content: none;
}

button.add-text-toggle.btn.btn-link {
    padding: 0;
    border: none;
    margin-bottom: 2px;
}

button.part-menu-toggle.btn.btn-link {
    padding: 0;
    border: none;
    margin-bottom: 2px;
}

.part-menu-toggle::after {
    content: none;
}

.dropleft .add-text-toggle::before {
    content: none;
}

.dropleft .part-menu-toggle::before {
    content: none;
}

.part-menu-dropdown .dropdown-item {
    padding-bottom: 0;
    padding-top: 0;
}

span.corpus_coverage {
    font-weight: bold;
}

.header-image {
    max-height: 16vh;
}

#searchDownloadProgress {
    visibility: hidden;
    color: black;
}

.part-menu-icon {
    display: none;
}

/* Background colors for formulaic parts */

.Arenga-bg {
    border-bottom-style: solid;
    border-color: darkgoldenrod;
}

.Corroboratio-bg {
    border-bottom-style: solid;
    border-color: lightslategrey;
}

.Dispositio-bg {
    border-bottom-style: solid;
    border-color: red;
}

.Eschatokoll-bg {
    border-bottom-style: solid;
    border-color: orange;
}

.Intitulatio-bg {
    border-bottom-style: solid;
    border-color: green;
}

.Inscriptio-bg {
    border-bottom-style: solid;
    border-color: blue;
}

.Invocatio-oder-Inscriptio-bg {
    border-bottom-style: solid;
    border-color: darkolivegreen;
}

.Narratio-bg {
    border-bottom-style: solid;
    border-color: darkblue;
}

.Narratives-Element-bg {
    border-bottom-style: solid;
    border-color: purple;
}

.Pertinenzformel-bg {
    border-bottom-style: solid;
    border-color: black;
}

.Poenformel-bg {
    border-bottom-style: solid;
    border-color: gray;
}

.Provenienz-bg {
    border-bottom-style: solid;
    border-color: darkseagreen;
}

.Publicatio-bg {
    border-bottom-style: solid;
    border-color: goldenrod;
}

.Schlussformel-bg {
    border-bottom-style: solid;
    border-color: darkgray;
}

.Stipulationsformel-bg {
    border-bottom-style: solid;
    border-color: khaki;
}

.Strafe-bg {
    border-bottom-style: solid;
    border-color: olive;
}

#manuscript-table tbody td:first-child p {
    padding-right: 4em;
    margin-left: 4em;
    margin-bottom: 0px;
}

#manuscript-table tbody td:last-child p {
    font-weight: bold;
    margin-bottom: 0px;
}

#manuscript-table thead th p {
    margin-top: 1em;
    margin-bottom: 0px;
}

.search-section-label {
    margin-bottom: 1em;
}

.search-section-label strong {
    font-size: larger;
}

.btn-link.btn.search-help {
    cursor: help;
}

.btn-link.btn.search-help label {
    cursor: help;
}

a.btn-outline-primary {
    border-color: #1422ff;
}

a.search-help,a.outside-link,a.card-link.card-link,a.btn-outline-primary,.btn.btn-link,a.internal-link,a.note,a.paragraph-link,a.page-link {
    color: #1422ff;
}

a.btn-primary,li.page-item.active .page-link {
    background-color: #1422ff;
}

.elex-letter.btn-outline-secondary.disabled {
    color: black;
    border-color: black;
}

#manuscript-table.card {
    border: none;
    background-color: inherit;
    padding-top: 2rem;
}

#manuscript-table .card-header {
    font-weight: bold;
	padding: 0 0 .75rem .5rem;
    background-color: inherit;
    border: none;
}

#manuscript-table dt {
    font-weight: normal;
    margin-left: 2rem;
    margin-bottom: .5rem;
}

.part-menu-dropdown .dropdown-item label, .corpora-search-results-dropdown .dropdown-item label {
    margin-left: 0.3rem;
    display: initial;
}

#footerNavbar {
    background-color: #263d3d;
    top: 30px;
}

#footerNavbar .nav-link {
    color: white;
}

#main-container {
    min-height: 65%;
}

.relative-position {
    position: relative;
}

#results-title-column {
    width: 20%;
}

#results-date-column, #results-place-column {
    width: 10%;
}

#table-view-link {
    margin-left: 0;
}

#table-view-link a,  #table-view-link span {
    margin-left: 5px;
}

#partsSearchResultTable thead {
    font-size: large;
}

.small-text {
    font-size: small;
}

#partsSearchResultTable > thead .sorting::before, #partsSearchResultTable > thead .sorting::after, #partsSearchResultTable > thead .sorting_asc::before, #partsSearchResultTable > thead .sorting_asc::after, #partsSearchResultTable > thead .sorting_desc::before, #partsSearchResultTable > thead .sorting_desc::after, #partsSearchResultTable > thead .sorting_asc_disabled::before, #partsSearchResultTable > thead .sorting_asc_disabled::after, #partsSearchResultTable > thead .sorting_desc_disabled::before, #partsSearchResultTable > thead .sorting_desc_disabled::after {
	position: absolute;
	bottom: 0.9em;
	display: block;
	opacity: 1;
}

#partsSearchResultTable > thead .sorting::after, #partsSearchResultTable > thead .sorting_asc::after, #partsSearchResultTable > thead .sorting_desc::after, #partsSearchResultTable > thead .sorting_asc_disabled::after, #partsSearchResultTable > thead .sorting_desc_disabled::after {
	right: 0.3em;
}

#partsSearchResultTable > thead .sorting_asc::before, #partsSearchResultTable > thead .sorting_desc::after, .taq-down #taq-down-symbol, .taq-up #taq-up-symbol, .tpq-down #tpq-down-symbol, .tpq-up #tpq-up-symbol {
    outline-style: dotted;
    outline-offset: 0;
    outline-width: thin;
}

#lem_box {
    font-size: small;
    line-height: 2em;
}

p.short-regest {
    font-size: larger;
}

#elex-letters {
    background: #F3F3F3;
    position: sticky;
    top: 100px;
    z-index: 900;
}

#capitula-table {
    width: 60%;
}

div.translation,div.edition {
    text-align: justify;
    margin-right: .5em;
}

img.disabled {
    filter: grayscale(100%);
}
