
#menu-container  .logo {
    width: auto;
}
.pb {
  font-weight: thin;
  font-size: 0.5em;
  display:inline;
  font-style: italic;
  color:grey;
}

.ex,
.supplied,
.unclear {
  color: rgb(80,80,80);
}

.unclear {
  text-decoration: underline dotted;
}

.lang_heb, .lang_ara, .lang_far {
  text-align:right;
}

.lang_heb span.w::before {
  content:" ";
}

 /* Popup container */
.note {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.note .note-content {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.note .note-content::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.note .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
} 

ol > li {
  display: list-item;
  list-style: none;
}

ol > li {
  display: list-item;
}

ol > li:nth-child(5n) {
  list-style: decimal;
}
ol > li:nth-child(1) {
  list-style: decimal;
}
ol > li:hover {
  list-style: decimal;
}

#reading-container article {
  width:100%;
}
#treebank_container {
  height:600px;
}
span[token-selector="state.tokens"] {
  display:none;
}

/* Typeahead */

.algolia-autocomplete {
  width: 100%;
}
.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
  width: 100%;
}
.algolia-autocomplete .aa-hint {
  color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
  width: 100%;
  background-color: #fff;
  border: 1px solid #999;
  border-top: none;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: 5px 4px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: #B2D7FF;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}

#fullsearch {
  margin-top:15px;
}

.function:target {
  animation: hilite 60s;
}
@keyframes hilite {
  0% {background: transparent;}
  10% {background: #58ACFA;}
  100% {background: transparent;}
}

/*.function:target {
    background-color: white;
    animation-name: hihi;
    animation-duration: 60s;
 }

@keyframes hihi {
  from {background-color: white;}
  to {background-color: #58ACFA;}
}*/

a.lex {
    color: black;
    text-decoration: none;
}
a.lex:active {
    background-color: #ffe6e6;
    text-decoration:underline;
}

.popup {
    visibility: hidden;
}

.popup:target {
    visibility: visible;
}

.row {
    padding-top: 30px;
    padding-bottom: 30px;

}

.row_mv {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;

}

.firsturn {
  font-size: smaller;
  text-align: left;
}

.lasturn {
  font-size: smaller;
  text-align: right;
}

.middleurn {
  font-size: smaller;
  text-align: center;
}

#reading-container article section.with-border {
    border-right: 1px solid;
}

#reading-container article section.bottom-border {
    border-bottom: 1px solid;
}

nav .dropdown-menu {
    display: none;
}

nav .dropdown:hover .dropdown-menu {
    display: block;
}

.platzhalter {
    font-weight: bold;
}

.lexicon {
    text-decoration: underline wavy
}

#lexicon-modal {
    background-color: rgba(0,0,0,0.4);
}

#lexicon-modal .modal-content .card {
    background-color: #e4e4e4;
}

#lexicon-modal .card-body {
    padding-top: 0;
    padding-bottom: 0;
}

#adw-logo-footer {
    margin-right: 20px;
}

.bg-hhblue {
    background-color: #00bfff;
}

.bg-hhgray {
    background-color: #263d3d;
}

.bg-hhred {
    background-color: #ff0000;
}

.scrolled {
    transition: 0.5s ease;
}

.scrolled.navbar {
    background-color: #F8F9FA;
}

.navbar {
    background-color: #263d3d;
}

.navbar .navbar-logo {
    height: 200px; 
    transition: 0.5s ease;
}

.scrolled.navbar .navbar-logo {
    height: 65px;
    transition: 0.5s ease;
}

#lexicon-modal {
    overflow-y: auto;
}

#login-article {
    width: 100%;
}

.navbar-dark label {
    color: rgba(255,255,255,.75);
}

#right-sticky-col {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
}

#left-sticky-col {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
}

.noteCardLeft,.noteCardRight {
    overflow: auto;
}

/* To make this show three lines, change max-height to 3.7em */
.two-line {
    max-height: 2.7em;
    overflow: hidden;
}

.two-line.expanded {
    max-height: 100em;
}

/* The fade idea is thanks to https://css-tricks.com/line-clampin/ using the "Fade-Out Way" */
.fade-out {
    position: relative;
}

.fade-out::after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 1.2em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

#advanced-form {
    width: 100%;
}

.invalid-field {
    border-color: #dc3545;
}

.corpus-ul {
    list-style-type: none;
}

.corpus-ul .corpus-ul {
    margin-left: -1.5em;
}

#landing-text p {
    text-align: justify;
}

.temp-place {
    font-style: italic;
    font-size: 0.875em;
    font-weight: bold;
}

.citationStyle,.modalCitationStyle {
    border: 1px solid;
    border-radius: 5px;
}

.citationStyle p {
    line-height: 1.0;
    margin: 0.5rem;
}

.modalCitationStyle p {
    line-height: 1.0;
    margin: 0.5rem;
    font-size: 0.7rem;
}

.searched {
    background-color: yellow;
}
    
#results-sort-table {
    width: 300px; 
    margin: auto;
}

#results-sort-table th, #results-sort-table td {
    text-align: center;
}

.search-stat {
    padding: 0rem 1.5rem;
    margin-left: 0.25rem;
}

#searchTotal {
    color: blue;
    font-size: 2rem;
    vertical-align: middle;
    font-weight: bold;
}

#search-stat-table .table-header {
    display: table-header-group;
}

#search-stat-table .table-header .table-cell {
    border-right: 1px solid #ddd;
    padding-left: 0.5rem;
    display: table-cell;
    font-weight: bold;
}

#search-stat-table .table-row {
    display: table-row;
}

.stat-sub-table {
    display: table;
    margin-left: 2rem;
}

.stat-sub-row {
    display: table-row;
}

.stat-sub-cell {
    display: table-cell;
}

#search-stat-table .table-row .table-cell {
    border-right: 1px solid #ddd;
    vertical-align:top;
    display: table-cell;
}

#re-search-table {
    width: 300px; 
}

.version-dropdown span, .version-dropdown a {
    padding-top: 0rem;
    padding-bottom: 0rem;
    font-size: 0.875rem;
    line-height: 1.2rem;
}

span[class="book-title"] {
    font-weight: bold;
}

button.close {
    color: #263d3d;
    font-size: 1rem;
}

.bibl-popover {
    max-width: 50%;
}

.elex-modal-popover {
    max-width: 50%;
}

.surname {
    font-variant: small-caps;
}

.search-hit-menu,.search-hit-dropdown,#prevSearchResults {
    max-height: 30vh;
    overflow: auto;
}

.search-hit {
    padding: 0rem 0rem;
}

.search-hit span {
    font-size: small;
    color: black;
    text-decoration: none;
}

.search-subtitle {
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 1.5rem;
    font-size: 1.25rem;
}

.search-subtitle-row {
    padding-top: 0rem;
}

.corpora-search-results-dropdown .dropdown-item {
    padding-bottom: 0;
    padding-top: 0;
}

.corpora-search-results-dropdown .dropdown-divider {
    margin-bottom: .25rem;
    margin-top: .25rem;
}

.smallfont {
    font-size: small;
}

img[id$="-flag-navbar"] {
    height: 1.5rem;
    width: 1.5rem;
}

#lang-nav {
    padding-left: 1rem;
}

.lang-link {
    padding: 0 1rem;
}

#date_plus_minus,#slop {
    width: 4rem;
}

.date-range-label {
    margin-top: 1rem;
    font-style: italic;
    width: 2.3rem;
}

#weekday-row .form-group {
    margin-right: .25rem;
}

#weekday-row .form-check-label,#holiday-row .form-check-label {
    margin-right: .25rem;
}

#doc-num {
    padding-right: 2rem;
}

.formulae-label {
    text-transform: uppercase;
}

@keyframes note-focus {
    from {background-color: yellow;}
    to {background-color: initial;}
}

.flash-yellow span {
    animation-name: note-focus;
    animation-duration: 4s;
}

.hidden-button {
    display: none;
}

.version-dropdown {
    z-index: 1030;
    position: relative;
}

.elex-word {
    font-weight: bold;
}

.dropdown-item-text {
    font-weight: bold;
    text-decoration: underline;
}

.latin-word,.italic {
  font-style: italic;
}

div.transcription p {
    margin-bottom: 0;
    text-indent: -1em;
    padding-left: 1em;
}

.superscript {
    vertical-align: super;
}

.subscript {
    vertical-align: sub;
}

.small-caps {
    font-variant: small-caps;
}

.smaller-text {
    font-size: smaller;
}

.line-through {
    text-decoration: line-through;
}

.manuscript-number {
    vertical-align: sub;
    font-size: small !important;
}

.regest_collapse_heading {
    font-weight: bold;
}

.entry-title {
    font-variant: small-caps;
    font-size: larger;
    line-height: 1em;
}

.kurz-regest {
    color: gray;
    font-weight: bold;
}

.remove-column-link {
    font-size: .875rem;
}

.regest-body {
    font-size: .875rem;
}

#sidebarCollapse_l,#sidebarCollapse_r {
    font-size: 250%;
}

.head {
    font-size: larger;
    margin-bottom: .25em;
}

.regest-sents-heading {
    font-size: smaller;
    text-decoration: underline;
}

.text-section.scrolling {
    max-height: 65vh;
    overflow-y: auto;
}

.text-row {
    padding-bottom: 0;
    padding-top: 1em;
}

.reading-format-image {
    width: auto;
    height: 30px;
}

#scroll-control-image {
    border-left: 1px solid;
    padding-left: 10px;
    margin-left: 10px;
}

.indented-paragraph {
    margin-left: 1em;
}

.mv-rows {
    max-height: 80vh;
    width: 15%;
}

#aggs-all-docs {
    text-decoration: underline;
}

.collection-origin {
    font-style: italic;
    font-weight: bold;
}

.nav-item.dropdown .dropdown-menu {
    height: auto;
    width: auto;
    max-height: 70vh;
    overflow: auto;
}
