{% extends "main::container.html" %}

{% block article %}
        <!-- BODY OF THE SEARCH PAGE - 1st row = title. -->
        <form action="" method="get" id="advanced-form">
            {{ form.hidden_tag() }}
            <div class="text-center"><h3><strong>{{ _('Advanced Search') }}</strong></h3></div>
        <!-- 2d row = search entries. -->
            <div class="row justify-content-center">
                <div class="col-2">
                    <div class="text-center"><strong>{{ form.corpus.label }}</strong></div>
                    <ul class="corpus-ul">
                        <li><input id="all" name="" type="checkbox" value="all" onclick="checkSubCorpora(this, 'under-all')"> {{ _('All') }}</li>
                        <ul class="corpus-ul">
                            <li><input class="under-all" id="formulae" name="" type="checkbox" value="formulae" onclick="checkSubCorpora(this, 'under-formulae')"> Formulae</li>
                                <ul class="corpus-ul">
                                {% for choice in categories['formulae_collection'] %}
                                    <li><input class="under-formulae under-all" id="{{ choice[0] }}" name="corpus" type="checkbox" value="{{ choice[0] }}"> {{ choice[1] }}</li>
                                {% endfor %}
                                </ul>
                            <li><input class="under-all" id="chartae" name="" type="checkbox" value="chartae" onclick="checkSubCorpora(this, 'under-chartae')"> Chartae</li>
                                <ul class="corpus-ul">
                                {% for choice in categories['other_collection'] %}
                                    <li><input class="under-chartae under-all" id="{{ choice[0] }}" name="corpus" type="checkbox" value="{{ choice[0] }}"> {{ choice[1] }}</li>
                                {% endfor %}
                                </ul>
                        </ul>
                    </ul>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <div class="text-center mb-2"><strong>{{ _('Word Search') }}</strong><a tabindex="0" type="button" class="btn btn-link pl-1" data-container="body" data-toggle="popover" data-placement="right" data-trigger="focus" data-content="{{ _('Accepts wildcard characters. A question mark (\'?\') replaces a single character while an asterisk (\'*\') replaces one or more characters. Both only work within a single word. That means that searching for \'christ* nom*\' will return every sequence of two consecutive words where the first word starts with \'christ\' and the second with \'nom\'. If you wish to find these two words where other words can occur between them, set the \'Search Radius\' to be greater than 0.') }}"><i class="fas fa-question-circle" ></i></a></div>
                        <p>{{ form.q(class="form-control my-0", placeholder=form.q.label.text) }}</p>
                        <p class="mb-0" style="font-size: small"><span title="{{ _('Lemma search is currently only available for Latin formulae') }}">{{ form.lemma_search() }} <span class="align-top">{{ form.lemma_search.label }}</span></span> <span title="{{ _('Check if you want to preserve word order') }}">{{ form.in_order() }} <span class="align-top">{{ form.in_order.label }}</span></span></p>
                    </div>
                    <div class="form-row align-items-center justify-content-center"><div class="text-center"><p class="mb-0">{{ form.fuzziness.label }} <a tabindex="0" type="button" class="btn btn-link pl-0" data-container="body" data-toggle="popover" data-placement="right" data-trigger="focus" data-content="{{ _('Fuzziness is a measure of how much a word can deviate from the search input value and still be considered a valid result. The numbers represent how many changes can be made to a word. E.g., 2 means that 2 letters in the word can be replaced, deleted, added or transposed.') }}"><i class="fas fa-question-circle" ></i></a></p><p>{{ form.fuzziness() }}</p></div>
                    </div>
                    <div class="form-row align-items-center justify-content-center"><div class="text-center">{{ form.slop.label }}: 
                        <output for="slop" id="slop-value">{{ form.slop.data }}</output> {{ _('word(s)') }}<a tabindex="0" type="button" class="btn btn-link pl-1" data-container="body" data-toggle="popover" data-placement="right" data-trigger="focus" data-content="{{ _('The maximum number of unmatched words that can occur between the words of multi-term search query. For instance, searching for \'christ* nom*\' with a Search Radius of 50 will find all occurrences of these two words within 50 words of each other.') }}"><i class="fas fa-question-circle" ></i></a></div>
                        {{ form.slop(oninput="outputUpdate(value, '#slop-value')") }}
                    </div>
                </div>
                <div class="col-2 date-search">
                    <h6 class="text-center"><i>{{ _('[NB: Only applies to Charters.]') }}</i><a tabindex="0" type="button" class="btn btn-link pl-1" data-container="body" data-toggle="popover" data-placement="right" data-trigger="focus" data-content="{{ _('Since the dating of formulae differs significantly from that of charters, the date search is applied differently for formulae. Any date query that does not specify a month or a day, whether for a specific date or a date range, will return all formulae that meet the other search criteria. If, however, a month or a day is specified, the query will return no formulae. If you wish to compare the charters that are returned by a date search that includes a month or a day with formulae that fulfill the other search criteria, you should do a second search without the date criteria that is limited to only formulae.') }}"><i class="fas fa-question-circle" ></i></a></h6>
                    <div class="text-center title"><strong>{{ _('Search a Specific Date') }}</strong></div>
                    <div class="form-row align-items-center justify-content-center">
                        <div class="form-group">
                            <div class="text-center">{{ form.year.label }}</div>
                            {% if form.year.errors %}
                            {{ form.year(size=4, class="invalid-field form-control") }}
                            {% else %}
                            {{ form.year(size=4, class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <div class="text-center">{{ form.month.label }}</div>
                            {% if form.month.errors %}
                            {{ form.month(class="invalid-field form-control") }}
                            {% else %}
                            {{ form.month(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <div class="text-center">{{ form.day.label }}</div>
                            {% if form.day.errors %}
                            {{ form.day(size=2, class="invalid-field form-control") }}
                            {% else %}
                            {{ form.day(size=2, class="form-control") }}
                            {% endif %}
                        </div>                    
                        <div class="form-row align-items-center justify-content-center"><div class="text-center">{{ form.date_plus_minus.label }}: 
                            <output for="date_plus_minus" id="date-plus-minus">{{ form.date_plus_minus.data }}</output> {{ _('year(s)') }}</div>
                            {{ form.date_plus_minus(oninput="outputUpdate(value, '#date-plus-minus')") }}
                        </div>
                    </div>
                    <div class="text-center title"><strong>{{ _('Search a Date Range') }}</strong></div>
                    <div class="text-center" title="{{ _('See search documentation for an explanation of this option.') }}">{{ form.exclusive_date_range(class="align-text-top") }} {{ form.exclusive_date_range.label()}}<a tabindex="0" type="button" class="btn btn-link pl-1" data-container="body" data-toggle="popover" data-placement="right" data-trigger="focus" data-content="{{ _('An \'Exclusive Date Range\' search is a special search that allows you to look for specific dates within the year for a range of years. For instance, by choosing and Exclusive search and then search for a date range from October 7, 700 to October 21, 800, only charters that are dated between October 7 and October 21 within the years between 700 and 800 will be returned. That means that a charter that is dated to October 22, 700 will not be returned.') }}"><i class="fas fa-question-circle" ></i></a></div>
                    <div class="text-center"><em>{{ _('From') }}</em></div>
                    <div class="form-row align-items-center justify-content-center">
                        <div class="form-group">
                            <div class="text-center">{{ form.year_start.label }}</div>
                            {% if form.year_start.errors %}
                            {{ form.year_start(size=4, class="invalid-field form-control") }}
                            {% else %}
                            {{ form.year_start(size=4, class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <div class="text-center">{{ form.month_start.label }}</div>
                            {% if form.month_start.errors %}
                            {{ form.month_start(class="invalid-field form-control") }}
                            {% else %}
                            {{ form.month_start(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <div class="text-center">{{ form.day_start.label }}</div>
                            {% if form.day_start.errors %}
                            {{ form.day(size=2, class="invalid-field form-control") }}
                            {% else %}
                            {{ form.day_start(size=2, class="form-control") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="text-center"><em>{{ _('To') }}</em></div>
                    <div class="form-row align-items-center justify-content-center">
                        <div class="form-group">
                            <div class="text-center">{{ form.year_end.label }}</div>
                            {% if form.year_end.errors %}
                            {{ form.year_end(size=4, class="invalid-field form-control") }}
                            {% else %}
                            {{ form.year_end(size=4, class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <div class="text-center">{{ form.month_end.label }}</div>
                            {% if form.month_end.errors %}
                            {{ form.month_end(class="invalid-field form-control") }}
                            {% else %}
                            {{ form.month_end(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <div class="text-center">{{ form.day_end.label }}</div>
                            {% if form.day_end.errors %}
                            {{ form.day_end(size=2, class="invalid-field form-control") }}
                            {% else %}
                            {{ form.day_end(size=2, class="form-control") }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center pt-2">{{ form.submit(size=32, class="btn btn-lg btn-secondary") }}</div>
            <br>
            <div class="row justify-content-center py-0"><a class="btn btn-sm btn-secondary" href="{{ url_for('search.r_advanced_search') }}" role=button>{{ _('Reset Form') }}</a></div>
        </form>
{% endblock %}
