{% extends "main::container.html" %}
{% block title %}Formulae - Litterae - Chartae: {{ _('Erweiterte Suche') }}{% endblock %}

{% import "search::help_messages.html" as messages %}

{% block article %}
        <!-- BODY OF THE SEARCH PAGE - 1st row = title. -->
        <form action="" method="get" id="advanced-form">
            {{ form.hidden_tag() }}
            <div class="text-center"><h3><strong>{{ _('Erweiterte Suche') }}</strong> <a class="search-help" id="general-search-help-link" data-toggle="tooltip" data-container="#general-search-help-link" href="{{ url_for('search.r_search_docs') }}" title="{{ _('Zur ausführlichen Dokumentation der erweiterten Suche') }}"><i class="fas fa-question-circle"></i></a></h3></div>
            <div class="row justify-content-center pt-2">{{ form.submit(size=32, class="btn btn-lg btn-secondary", downloadId=1|random_int(10000)|string) }}</div>
            <br>
        <!-- 2d row = search entries. -->
            <div class="row justify-content-center">
                <div class="col-xl-3 col-4">
                    <div class="text-center search-section-label"><strong>{{ form.corpus.label }}</strong></div>
                    <ul class="corpus-ul">
                        <li><input id="all" name="" type="checkbox" value="all" onclick="checkSubCorpora(this, 'under-all')"> <label for="all">{{ _('Alle') }}</label></li>
                        <ul class="corpus-ul">
                            <li><input class="under-all" id="formulae" name="" type="checkbox" value="formulae" onclick="checkSubCorpora(this, 'under-formulae')"> <label for="formulae">Formulae</label> <button class="btn btn-link p-0" data-toggle="collapse" data-target="#formulaeCorporaCollapse" type="button" aria-expanded="false" aria-controls="formulaeCorporaCollapse"><span  id="show-all-formulae-corpora" data-toggle="tooltip" data-container="#show-all-formulae-corpora" title="{{ _('Alle Formulaecorpora zeigen') }}"><i class="fas fa-caret-down"></i></span></button></li>
                                    <ul class="corpus-ul collapse" id="formulaeCorporaCollapse">
                                    {% for choice in categories['formulae_collection']|sort %}
                                        <li><input class="under-formulae under-all" id="{{ choice[0] }}" name="corpus" type="checkbox" value="{{ choice[0] }}"{% if choice[0] in form.data.corpus %} checked=""{% endif %}> <label for="{{ choice[0] }}">{{ choice[1] }}</label></li>
                                    {% endfor %}
                                    </ul>
                            <li><input class="under-all" id="chartae" name="" type="checkbox" value="chartae" onclick="checkSubCorpora(this, 'under-chartae')"> <label for="chartae">Chartae</label> <button class="btn btn-link p-0" data-toggle="collapse" data-target="#chartaeCorporaCollapse" type="button" aria-expanded="false" aria-controls="chartaeCorporaCollapse"><span id="show-all-charter-corpora" data-toggle="tooltip" data-container="#show-all-charter-corpora" data-placement="bottom" title="{{ _('Alle Urkundencorpora zeigen') }}"><i class="fas fa-caret-down"></i></span></button></li>
                                    <ul class="corpus-ul collapse" id="chartaeCorporaCollapse">
                                    {% for choice in categories['other_collection']|sort %}
                                        <li><input class="under-chartae under-all" id="{{ choice[0] }}" name="corpus" type="checkbox" value="{{ choice[0] }}"{% if choice[0] in form.data.corpus %} checked=""{% endif %}> <label for="{{ choice[0] }}">{{ choice[1] }}</label></li>
                                    {% endfor %}
                                    </ul>
                        </ul>
                    </ul>
                </div>
                <div class="col-xl-2 col-4">
                    <div class="form-group mb-2">
                        <div class="text-center search-section-label"><strong><label for="word-search-box">{{ _('Wortsuche') }}</label></strong><button type="button" class="btn btn-link px-1 py-0 search-help" data-container="body" data-toggle="popover" data-html="true" data-placement="right" data-trigger="focus" data-content="{{ messages.wordSearchMessage }}" aria-label="{{ _('Hilfe für Wortsuche') }}"><i class="fas fa-question-circle"></i></button></div>
                        <div>
                            {{ form.q(class="form-control my-0", placeholder=form.q.label.text, id="word-search-box", list="word-search-datalist", default=form.q.label.text, autocomplete="off") }}
                            <datalist id="word-search-datalist">
                            </datalist>
                        </div>
                        <p class="mb-0 smallfont"><span id="lemma-search-tooltip" data-toggle="tooltip" data-container="#lemma-search-tooltip" title="{{ _('Die Lemmatasuche ist nur bei lateinischen Formeltexten möglich') }}">{{ form.lemma_search() }} <span class="align-top">{{ form.lemma_search.label(class="mb-0") }}</span></span></p>
                        <p class="mb-0 smallfont"><span id="word-order-tooltip" data-toggle="tooltip" data-container="#word-order-tooltip" title="{{ _('Die Reihenfolge der Wörter beibehalten') }}">{{ form.in_order() }} <span class="align-top">{{ form.in_order.label(class="mb-0") }}</span></span></p>
                    </div>
                    <div class="form-row mb-2">
                        <div class="col text-center"><strong>{{ form.formulaic_parts.label(for="partsButton", id="partsLabel") }}</strong> <button id="partsButton" class="btn btn-link p-0 mb-2" data-toggle="collapse" data-target="#partSearchCollapse" type="button" aria-expanded="false" aria-controls="partSearchCollapse"><span class="position-relative" id="partsLabel-tooltip" data-toggle="tooltip" data-container="#partsLabel-tooltip" title="{{ _('Die Liste der Teile zeigen') }}"><i class="fas fa-caret-down"></i></span></button>
                            <div class="collapse" id="partSearchCollapse">
                                <p class="small mb-0">{{ _('&lt;Strg&gt; halten, um mehrere Teile zu wählen.') }}</p>
                                {{ form.formulaic_parts(class="w-100 mb-2", size="6", **{"aria-labelledby": "partsLabel"}) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-row mb-2">
                        <div class="col text-center"><strong>{{ form.slop.label(for="slopButton", id="slopLabel") }}</strong> <button id="slopButton" class="btn btn-link p-0 mb-2" data-toggle="collapse" data-target="#slopCollapse" type="button" aria-expanded="false" aria-controls="slopCollapse"><span class="position-relative" id="slopCollapse-tooltip" data-toggle="tooltip" data-container="#slopCollapse-tooltip" title="{{ _('Suchradiuseingabe zeigen') }}"><i class="fas fa-caret-down"></i></span></button> <button type="button" class="btn btn-link p-0 search-help" data-container="body" data-toggle="popover" data-html="true" data-placement="right" data-trigger="focus" data-content="{{ messages.searchRadiusMessage }}" aria-label="{{ _('Hilfe für Suchradius') }}"><i class="fas fa-question-circle"></i></button>
                        <div class="collapse" id="slopCollapse">{{ form.slop(min="0", **{'aria-labelledby': 'slopLabel'}) }} {{ _('Wörter') }}</div>
                        </div>
                    </div>
                    <div class="form-row mb-2">
                        <div class="col text-center"><strong>{{ form.fuzziness.label(for="fuzzinessButton", id="fuzzinessLabel") }}</strong> <button class="btn btn-link p-0 mb-2" data-toggle="collapse" data-target="#fuzzinessCollapse" type="button" aria-expanded="false" aria-controls="fuzzinessCollapse"><span class="position-relative" id="fuzzinessCollapse-tooltip" data-toggle="tooltip" data-container="#fuzzinessCollapse-tooltip" title="{{ _('Unschärfegradeingabe zeigen') }}"><i class="fas fa-caret-down"></i></span></button> <button type="button" class="btn btn-link p-0 search-help" data-container="body" data-toggle="popover" data-html="true" data-placement="right" data-trigger="focus" data-content="{{ messages.fuzzinessMessage }}" aria-label="{{ _('Hilfe für Unschärfegrad') }}"><i class="fas fa-question-circle"></i></button>
                        <div class="collapse" id="fuzzinessCollapse">{{ form.fuzziness(**{'aria-labelledby': 'fuzzinessLabel'}) }}</div>
                        </div>
                    </div>
                    <div class="form-row mb-2">
                        <div class="col text-center"><strong>{{ form.regest_q.label(for="regestButton", id="regestLabel") }}</strong> <button class="btn btn-link p-0 mb-2" data-toggle="collapse" data-target="#regestSearchCollapse" type="button" aria-expanded="false" aria-controls="regestSearchCollapse"><span class="position-relative" id="regestSearchCollapse-tooltip" data-toggle="tooltip" data-container="#regestSearchCollapse-tooltip" title="{{ _('Regestensucheingabe zeigen') }}"><i class="fas fa-caret-down"></i></span></button> <button type="button" class="btn btn-link p-0 search-help" data-container="body" data-toggle="popover" data-html="true" data-placement="right" data-trigger="focus" data-content="{{ messages.regestSearchMessage }}" aria-label="{{ _('Hilfe für Regestensuche') }}"><i class="fas fa-question-circle"></i></button>
                            <div class="collapse" id="regestSearchCollapse">
                                {{ form.regest_q(class="form-control my-0", placeholder=form.regest_q.label.text, id="regest-word-search-box", list="regest-word-search-datalist", default=form.regest_q.label.text, autocomplete="off", **{'aria-labelledby': 'regestLabel'}) }}
                                <datalist id="regest-word-search-datalist">
                                </datalist>
                            </div>
                        </div>
                    </div>
                    <div class="form-row mb-2">
                        <div class="col">
                            <div class="text-center"><strong><label for="compositionButton" id="compositionLabel">{{ _('Ausstellungsortsuche') }}</label></strong> <button id="compositionButton" class="btn btn-link p-0" data-toggle="collapse" data-target="#compositionSearchCollapse" type="button" aria-expanded="false" aria-controls="compositionSearchCollapse"><span class="position-relative" id="compositionSearchCollapse-tooltip" data-toggle="tooltip" data-container="#compositionSearchCollapse-tooltip" title="{{ _('Ausstellungsortsucheingabe zeigen') }}"><i class="fas fa-caret-down"></i></span></button></div>
                            <div class="collapse" id="compositionSearchCollapse">
                                {{ form.composition_place(class="form-control my-0", id="place-search",  placeholder=form.composition_place.label.text, default=form.composition_place.label.text, **{'aria-labelledby': 'compositionLabel'}) }}
                                <div><input id="firstLetter" name="placeSearch" type="checkbox" checked> <label class="py-0 smallfont align-top" for="firstLetter">{{ _("Anfangsbuchstaben") }}</label><button type="button" class="btn btn-link px-1 py-0 smallfont align-top search-help" data-container="body" data-toggle="popover" data-html="true" data-placement="right" data-trigger="focus" data-content="{{ messages.firstLetterPlaceSearchMessage }}" aria-label="{{ _('Hilfe für Anfangsbuchstabeneingabe') }}"><i class="fas fa-question-circle"></i></button></input></div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center pt-1"><button class="btn btn-sm btn-secondary" type="reset" id="advancedResetButton">{{ _(' Formular Zurücksetzen') }}</button></div>
                </div>
                <div class="col-xl-3 col-4 date-search">
                    <div class="text-center search-section-label"><strong>{{ _('Datumssuche') }}</strong><button type="button" class="btn btn-link px-1 py-0 search-help" data-container="body" data-toggle="popover" data-html="true" data-placement="right" data-trigger="focus" data-content="{{ messages.dateSearchMessage }}" aria-label="{{ _('Hilfe für Datumssuche') }}"><i class="fas fa-question-circle"></i></button></div>
                    <div class="title text-center"><strong><label for="simpleDateButton">{{ _('Nach einem bestimmten Datum suchen') }}</label></strong> <button id="simpleDateButton" class="btn btn-link p-0" data-toggle="collapse" data-target="#simpleDateSearchCollapse" type="button" aria-expanded="false" aria-controls="simpleDateSearchCollapse"><span class="position-relative" id="simpleDateSearchCollapse-tooltip" data-toggle="tooltip" data-container="#simpleDateSearchCollapse-tooltip" title="{{ _('Eingabe für die bestimmte Datumssuchen zeigen') }}"><i class="fas fa-caret-down"></i></span></button></div>
                    <div class="collapse" id="simpleDateSearchCollapse">
                        <div class="form-row align-items-center justify-content-center">
                            <div class="form-group">
                                <div class="text-center">{{ form.year.label }}</div>
                                {% if form.year.errors %}
                                {{ form.year(size=4, class="invalid-field form-control") }}
                                {% else %}
                                {{ form.year(size=4, class="form-control") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <div class="text-center">{{ form.month.label }}</div>
                                {% if form.month.errors %}
                                {{ form.month(class="invalid-field form-control") }}
                                {% else %}
                                {{ form.month(class="form-control") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <div class="text-center">{{ form.day.label }}</div>
                                {% if form.day.errors %}
                                {{ form.day(size=2, class="invalid-field form-control") }}
                                {% else %}
                                {{ form.day(size=2, class="form-control") }}
                                {% endif %}
                            </div>  
                        </div>
                        <div class="form-row align-items-center justify-content-center"><div class="text-center">{{ form.date_plus_minus.label }}: 
                            {{ form.date_plus_minus(min="0", max="100") }} {{ _('Jahr(e)') }}</div>
                        </div>
                    </div>
                    <div class="title mt-3 text-center"><strong><label for="dateRangeButton">{{ _('Nach einer Datumsspanne suchen') }}</label></strong> <button id="dateRangeButton" class="btn btn-link p-0" data-toggle="collapse" data-target="#dateRangeSearchCollapse" type="button" aria-expanded="false" aria-controls="dateRangeSearchCollapse"><span class="position-relative" id="dateRangeSearchCollapse-tooltip" data-toggle="tooltip" data-container="#dateRangeSearchCollapse-tooltip" title="{{ _('Eingabe für die Datumsspannesuche zeigen') }}"><i class="fas fa-caret-down"></i></span></button></div>
                    <div class="collapse" id="dateRangeSearchCollapse">
                        <div class="text-center">{{ form.exclusive_date_range(class="align-text-top") }} <label for="exclusive_date_range">{{ _('Exklusiv') }}</label><button type="button" class="btn btn-link px-1 search-help" data-container="body" data-toggle="popover" data-html="true" data-placement="right" data-trigger="focus" data-content="{{ messages.exclusiveDateSearchMessage }}" aria-label="{{ _('Hilfe für exklusive Datumsspannesuche') }}"><i class="fas fa-question-circle"></i></button></div>
                        
                        <div class="form-row align-items-center justify-content-center">
                            <div class="date-range-label">{{ _('Von') }}</div>
                            <div class="form-group ml-2">
                                <div class="text-center">{{ form.year_start.label }}</div>
                                {% if form.year_start.errors %}
                                {{ form.year_start(size=4, class="invalid-field form-control") }}
                                {% else %}
                                {{ form.year_start(size=4, class="form-control") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <div class="text-center">{{ form.month_start.label }}</div>
                                {% if form.month_start.errors %}
                                {{ form.month_start(class="invalid-field form-control") }}
                                {% else %}
                                {{ form.month_start(class="form-control") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <div class="text-center">{{ form.day_start.label }}</div>
                                {% if form.day_start.errors %}
                                {{ form.day(size=2, class="invalid-field form-control") }}
                                {% else %}
                                {{ form.day_start(size=2, class="form-control") }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-row align-items-center justify-content-center">
                            <div class="date-range-label">{{ _('Bis') }}</div>
                            <div class="form-group ml-2">
                                <div class="text-center">{{ form.year_end.label }}</div>
                                {% if form.year_end.errors %}
                                {{ form.year_end(size=4, class="invalid-field form-control") }}
                                {% else %}
                                {{ form.year_end(size=4, class="form-control") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <div class="text-center">{{ form.month_end.label }}</div>
                                {% if form.month_end.errors %}
                                {{ form.month_end(class="invalid-field form-control") }}
                                {% else %}
                                {{ form.month_end(class="form-control") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <div class="text-center">{{ form.day_end.label }}</div>
                                {% if form.day_end.errors %}
                                {{ form.day_end(size=2, class="invalid-field form-control") }}
                                {% else %}
                                {{ form.day_end(size=2, class="form-control") }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="mt-3 text-center"><strong>{{ form.special_days.label(for="specialDayButton") }}</strong> <button id="specialDayButton" class="btn btn-link p-0" data-toggle="collapse" data-target="#specialDaySearchCollapse" type="button" aria-expanded="false" aria-controls="specialDaySearchCollapse"><span class="position-relative" id="specialDaySearchCollapse-tooltip" data-toggle="tooltip" data-container="#specialDaySearchCollapse-tooltip" title="{{ _('Eingabe für die bestimmte Tagessuche zeigen') }}"><i class="fas fa-caret-down"></i></span></button></div>
                    <div class="collapse" id="specialDaySearchCollapse">
                        <div class="text-center"><em>{{ _('Bewegliche Kirchenfeste') }}</em></div>
                        <div class="form-row align-items-center justify-content-center" id="holiday-row">
                            <div class="form-check form-check-inline form-group">
                                <label class="form-check-label" for="Easter">{{ _('Ostern') }}</label>
                                <input class="form-check-input" id="Easter" name="special_days" type="checkbox" value="Easter"{% if "Easter" in form.data.special_days %} checked=""{% endif %}>
                            </div>
                            <div class="form-check form-check-inline form-group">
                                <label class="form-check-label" for="Pentecost">{{ _('Pfingsten') }}</label>
                                <input class="form-check-input" id="Pentecost" name="special_days" type="checkbox" value="Pentecost"{% if "Pentecost" in form.data.special_days %} checked=""{% endif %}>
                            </div>
                            <div class="form-check form-check-inline form-group">
                                <label class="form-check-label" for="Lent">{{ _('Fastenzeit') }}</label>
                                <input class="form-check-input" id="Lent" name="special_days" type="checkbox" value="Lent"{% if "Lent" in form.data.special_days %} checked=""{% endif %}>
                            </div>
                        </div>
                        <div class="text-center"><em>{{ _('Wochentage') }}</em></div>
                        <div class="form-row align-items-center justify-content-center" id="weekday-row">
                            <div class="form-check form-check-inline form-group">
                                <label class="form-check-label" for="Monday">{{ _('Mo') }}</label>
                                <input class="form-check-input" id="Monday" name="special_days" type="checkbox" value="Monday"{% if "Monday" in form.data.special_days %} checked=""{% endif %}> 
                            </div>
                            <div class="form-check form-check-inline form-group">
                                <label class="form-check-label" for="Tuesday">{{ _('Di') }}</label>
                                <input class="form-check-input" id="Tuesday" name="special_days" type="checkbox" value="Tuesday"{% if "Tuesday" in form.data.special_days %} checked=""{% endif %}>
                            </div>
                            <div class="form-check form-check-inline form-group">
                                <label class="form-check-label" for="Wednesday">{{ _('Mi') }}</label>
                                <input class="form-check-input" id="Wednesday" name="special_days" type="checkbox" value="Wednesday"{% if "Wednesday" in form.data.special_days %} checked=""{% endif %}>
                            </div>
                            <div class="form-check form-check-inline form-group">
                                <label class="form-check-label" for="Thursday">{{ _('Do') }}</label>
                                <input class="form-check-input" id="Thursday" name="special_days" type="checkbox" value="Thursday"{% if "Thursday" in form.data.special_days %} checked=""{% endif %}>
                            </div>
                            <div class="form-check form-check-inline form-group">
                                <label class="form-check-label" for="Friday">{{ _('Fr') }}</label>
                                <input class="form-check-input" id="Friday" name="special_days" type="checkbox" value="Friday"{% if "Friday" in form.data.special_days %} checked=""{% endif %}>
                            </div>
                            <div class="form-check form-check-inline form-group">
                                <label class="form-check-label" for="Saturday">{{ _('Sa') }}</label>
                                <input class="form-check-input" id="Saturday" name="special_days" type="checkbox" value="Saturday"{% if "Saturday" in form.data.special_days %} checked=""{% endif %}>
                            </div>
                            <div class="form-check form-check-inline form-group">
                                <label class="form-check-label" for="Sunday">{{ _('So') }}</label>
                                <input class="form-check-input" id="Sunday" name="special_days" type="checkbox" value="Sunday"{% if "Sunday" in form.data.special_days %} checked=""{% endif %}>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
{% endblock %}

{% block additionalscript %}
<script>
    var tags = {{ composition_places|tojson }};
    var datePlusMinusInvalidMessage = "{{ _('Plus-Minus muss zwischen 0 und 100 Jahren liegen') }}";
    var slopInvalidMessage = "{{ _('Der Suchradius muss eine positive ganze Zahl sein') }}";
</script>
<script src="{{url_for('InstanceNemo.static', filename='js/advanced_search.js')}}"></script>
{% endblock %}
