{% extends "main::container.html" %}
{% block title %}Formulae - Litterae - Chartae: {{ _('Dokumentation der erweiterten Suche') }}{% endblock %}

{% import "search::help_messages.html" as messages %}

{%block article%}
<div class="container">
    <header>
        <h3 class="text-center">{{ _('Dokumentation der erweiterten Suche') }}</h3>
    </header>
    <section id="search-documentation-text">
        <h4>{{ _('Corpora') }}</h4>
        {{ messages.corporaMessage }}
        <h4>{{ _('Wortsuche') }}</h4>
        {{ messages.wordSearchMessage }}
        <h5>{{ _('Vorschlagssuche') }}</h5>
        {{ messages.vorschlagsMessage }}
        <h5>{{ _('Lemma') }}</h5>
        {{ messages.lemmaSearchMessage }}
        <h5>{{ _('Wortreihenfolge') }}</h5>
        {{ messages.wordOrderMessage }}
        <h5>{{ _('Unschärfegrad') }}</h5>
        {{ messages.fuzzinessMessage }}
        <h5>{{ _('Suchradius') }}</h5>
        {{ messages.searchRadiusMessage }}
        <h4>{{ _('Ausstellungsortsuche') }}</h4>
        {{ messages.placeOfCompositionMessage }}
        <h4 id="date-search">{{ _('Datumssuche') }}</h4>
        {{ messages.dateSearchMessage }}
        <h5>{{ _('Nach einem bestimmten Datum suchen') }}</h5>
        {{ messages.specificDateMessage }}
        <h6><u>{{ _('Datum Plus-Minus') }}</u></h6>
        {{ messages.datePlusMinusMessage }}
        <h5>{{ _('Nach einer Datumsspanne suchen') }}</h5>
        {{ messages.dateSpanSearchMessage }}
        <h6><u>{{ _('Exklusiv') }}</u></h6>
        {{ messages.exclusiveDateSearchMessage }}
    </section>
    <footer>

    </footer>
</div>
{%endblock%}
