
{% set corporaMessage %}
<p>{{ _("Die Liste enthält alle durchsuchbaren Corpora des Projektes. Einige Corpora sind jedoch urheberrechtlich geschützt und können nicht im Volltext angezeigt werden. Sämtliche Corpora sind durchsuchbar und auch Treffer im urheberrechtlich geschützten Material werden angezeigt. Sie können diese Stellen in der angegebenen Printedition nachschlagen.") }}</p>
<p>{{ _("Die verschiedenen Kategorien ('Formulae' oder 'Chartae') sind unterschiedlich indiziert. In allen Fällen ist jedoch die Suche nach flektierten Wortformen möglich. Wildcard-Zeichen, 'Wortreihenfolge', 'Unschärfegrad', und 'Suchradius' funktionieren für alle Dokumente. 'Lemmasuche' funktioniert nur für Formeln. Datumssuchmöglichkeiten und Ausstellungsortsuche funktionieren nur für Urkunden. Siehe <a href='#date-search'>unten</a> für weitere Information.") }}</p>
{% endset %}
        
{% set wordSearchMessage %}
<p>{{ _("Die Wortsuche durchsucht nur die lateinischen Texte. Wildcard-Zeichen sind erlaubt. Ein Fragezeichen ('?') ersetzt ein einzelnes Zeichen, ein Stern ('*') ein oder mehr Zeichen. Beide funktionieren nur innnerhalb eines Wortes. Bei der Suchanfrage <em><b>hab* ten* poss*</b></em> wird jede Reihe von drei aufeinander folgenden Worten gefunden, bei der das erste Wort mit <em><b>hab</b></em>, das zweite mit <em><b>ten</b></em> und das dritte mit <em><b>poss</b></em> beginnt. Möchten sie im Suchergebnis Worte zwischen den Suchbegriffen zulassen, stellen Sie bitte einen entsprechenden 'Suchradius' größer als 0 ein.") }}</p>
{% endset %}
        
{% set vorschlagsMessage %}
<p>{{ _("Die Vorschläge, die in der Wortsuche gezeigt werden, werden von alle anderen Parametern in der Suchmaske bestimmt. Wird etwa <em><b>Andecavensis</b></em> als zu durchsuchendes Corpus ausgewählt, werden nur Vorschläge aus den Formeln von Angers gezeigt. Die oben erwähnten Suchbeschränkungen gelten auch hier. Die Lemmasuche liefert keine Vorschläge aus den Urkunden. Der einzige Parameter, der keinen Einfluss auf die angezeigten Vorschlägen hat, ist 'Wortreihenfolge'. Nur Vorschläge, welche die selbe Wortreihenfolge haben, werden angezeigt.") }}</p>
<p>{{ _('Wird eine vorgeschlagene Phrase ausgewählt noch bevor andere Suchparameter eingestellt wurden, so haben diese Parameter keinen Einfluss mehr auf die Vorschläge. Das kann dazu führen, dass keine Treffer gefunden werden, weil die gesuchte Phrase in keinem Dokument erscheint, das mit den anderen Suchparametern übereinstimmt. Suchparameter sollten daher definiert werden bevor ein Vorschlag ausgewählt wird.') }}</p>
{% endset %}
        
{% set lemmaSearchMessage %}
<p>{{ _("Die Lemmasuche sucht nach Wörterbuchformen statt nach flektierten Formen. Eine Lemmasuche etwa nach <em><b>dominus</b></em> zeigt alle flektierten Formen dieses Wortes wie <em><b>domini</b></em> oder <em><b>Domino</b></em> an. Auch orthographische Varianten wie <em><b>domni</b></em> oder <em><b>Domeno</b></em> werden durchsucht. Die Lemmasuche funktioniert nur für die Formeln.") }}</p>
{% endset %}

{% set wordOrderMessage %}
<p>{{ _("Bei der Suche nach mehreren Suchbegriffen wird die Reihenfolge dieser Begriffe in den durchsuchten Dokumenten nicht berücksichtigt. Soll die in das Suchfeld eingegebene Reihenfolge der Suchbegriffe beibehalten werden, muss 'Wortreihenfolge beachten?' aktiviert werden. Eine Suche nach <em><b>uenerabile uir</b></em> schließt dann Treffen mit <em><b>uir uenerabile</b></em> aus. Die Wortreihenfolge wird auch bei einem Suchradius über 0 beachtet. Eine Suche etwa nach <em><b>magnificis uiris</b></em> mit einem Suchradius von 10 Worten zeigt <em><b>magnificis rei puplici uiris</b></em> an, <em><b>uiris uenerabilibus adque magnificis</b></em> jedoch nicht.") }}</p>
{% endset %}

{% set fuzzinessMessage %}
<p>{{ _("Der 'Unschärfegrad' legt fest, wie stark ein Ergebnis von der Sucheingabe abweichen darf und trotzdem als gültiges Ergebnis gilt. Die Zahlen quantifizieren, wie viele Abweichungen im Suchergebnis toleriert werden. Unschärfegrad 2 bedeutet, dass zwei Buchstaben im Wort ersetzt, gelöscht, hinzugefügt oder umgesetzt sein dürfen. Wird etwa nach <em><b>regnum</b></em> mit einem Unschärfegrad von 2 gesucht, werden die Wörter <em><b>regno</b></em> und <em><b>regni</b></em> aber auch <em><b>magnum</b></em> ('m' ersetzt 'r' und 'a' ersetzt 'e') und <em><b>legum</b></em> ('l' ersetzt 'r' und 'n' wird gelöscht) gefunden.") }}</p>
<p>{{ _("Mit der Einstellung 'AUTO' wird die erlaubte Zahl solcher Änderungen von der Wortlänge abhängig: bei einem Wort mit 1 oder 2 Buchstaben sind keine Änderungen erlaubt, bei 3-5 Buchstaben ist eine Änderung erlaubt und bei längeren Wörtern sind 2 Änderungen erlaubt. 'AUTO' ist für die meisten Suchanfragen geeignet.") }}</p>
{% endset %}

{% set searchRadiusMessage %}
<p>{{ _("Mit 'Suchradius' Die lässt sich der Abstand (in Wörtern) zwischen zwei zu suchenden Wörtern definieren. Wird etwa mit einem Suchradius von 4 nach <em><b>uenerabilibus uiris</b></em> gesucht, so wird auch <em><b>uenerabilibus atquae magnificis rei puplici uiris</b></em> als treffer angezeigt.") }}</p>
{% endset %}

{% set placeOfCompositionMessage %}
<p>{{ _('Die Ausstellungsortsuche funktioniert nur für Urkunden.') }}</p>
{% endset %}

{% set dateSearchMessage %}
<p>{{ _("Da Formeln keine exakte Datumsangabe besitzen, werden bei einer 'Datumssuche' keine Formeln angezeigt.") }}</p>
{% endset %}

{% set specificDateMessage %}
<p>{{ _("Liefert alle Suchergebnisse, die der Datumsangabe entsprechen. Wird das Jahr 800 gesucht, werden Dokumente mit Datierungen im Jahr 800 (z.B. '17. Juni 800') aber auch mit Datumsspannen, die mit dem Jahr 800 überlappen (z.B. '769-813'), als Treffer angezeigt.") }}</p>
{% endset %}

{% set datePlusMinusMessage %}
<p>{{ _("Hier kann die erlaubte Abweichung von der eingegebenen Jahresangabe bei der Suche nach einem bestimmten Datum definiert werden. Eine Suche nach '800 Juni 17' mit einem Datum Plus-Minus von 49 Jahren findet alle Dokumente, die am 17. Juni zwischen den Jahren 751 und 849 ausgestellt wurden.") }}</p>
{% endset %}

{% set dateSpanSearchMessage %}
<p>{{ _("Bei der Suche nach einer Datumsspanne werden alle Dokumente, die zwischen den Anfangs- und Enddaten liegen als Treffer angezeigt. Eine Suche innerhalb der Daten '750 Juni 17' und '850 Juni 17' findet etwa am 31. Dezember 777 oder 12. Februar 813 ausgestellte Dokumente.") }}</p>
{% endset %}

{% set exclusiveDateSearchMessage %}
<p>{{ _("Die 'exklusive' Datumsspannensuche ermöglicht die Suche nach Dokumenten, die zu bestimmten Zeiten innerhalb einer Spanne von Jahren ausgestellt wurden. Eine 'exklusive' Datumsspannensuche mit den Suchparametern '17. Juni 800' und '22. November 813' findet alle Dokumente, die im Zeitraum vom 17. Juni bis zum 22. November in den Jahren 800 bis 813 (etwa am 8. August 807) ausgestellt wurden, nicht jedoch jene, die in diesen Jahren vor dem 17. Juni oder nach dem 22. November (etwa am 5. März 806 oder am 24. Dezember 812) ausgestellt wurden.") }}</p>
{% endset %}

{% set regestSearchMessage %}
<p>{{ _('Die Regestensuche sucht nur in den Regesten der Formeln und Urkunden. Die Regesten sind hauptsächlich auf Deutsch geschrieben. Die Einstellungen für Unschärfegrad und Suchradius werden bei dieser Suche auch verwendet.') }}</p>
{% endset %}

{% set firstLetterPlaceSearchMessage %}
<p>{{ _('Ob die Buchstaben im Suchfeld am Anfang der Ortsnamensvorschläge vorkommen müssen.') }}</p>
{% endset %}
