{% extends "main::container.html" %}

{% block article %}
    <article>
    <header>
    <h1>{{ _('Search Results') }}</h1>
    </header>
    {% if posts|length == 0 %}
    <h4>{{ _("No results found for") }} <span class="font-italic">{{ search_string }}</span>.</h4>
    {% endif %}
    {% for post in posts %}
        <div class="card">
            {% if current_user.project_team or post['id'] in open_texts %}
            <a class="card-header py-0 text-center" href="{{ url_for('InstanceNemo.r_multipassage', objectIds=post['id'], subreferences='1') }}">
                {{ post['info']['title'] }}
            </a>
            <div class="card-body py-0">
                {% for sent in post['sents'] %}
                <p class="card-text m-0"><small>- {{ sent }}</small></p>
                {% endfor %}
            </div>
            {% else %}
            <a class="card-header py-0 text-center disabled" title="{{ _('This text is not available. Consult the printed edition for the text.') }}">
                {{ post['info']['title'] }}
            </a>
            {% endif %}
        </div>
    {% endfor %}
    {% if last_url or first_url %}
    <nav aria-label="Search results pages">
        <ul class="pagination pagination-sm justify-content-center">
            <li class="page-item{{ ' disabled' if not first_url }}">
                <a class="page-link" href="{{ first_url or '#' }}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item{{ ' disabled' if not prev_url }}">
                <a class="page-link" href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>
            {% for p_url in page_urls %}
            {{ '...' if loop.index == 2 and p_url|first != 2 }}
            {{ '...' if loop.last and loop.previtem|first != p_url|first - 1 }}
            <li class="page-item{{ ' active' if loop.index == current_page }}">
                <a class="page-link" href="{{ p_url|last }}">
                    {{ p_url|first }}
                </a>
            </li>
            {% endfor %}
            <li class="page-item{{ ' disabled' if not next_url }}">
                <a class="page-link" href="{{ next_url or '#' }}">
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>
            <li class="page-item{{ ' disabled' if not last_url }}">
                <a class="page-link" href="{{ last_url or '#' }}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    {% endif %}
    </article>
{% endblock %}
