{% if g.search_form and 'advanced_search' not in request.url %}
<a type="button" role="button" class="btn btn-link" data-toggle="modal" data-target="#videoModal" data-modallabel="{{ _('Die einfache Suche') }}" data-videosource="{{ url_for('InstanceNemo.static', filename='videos/einfache_suche_de.mp4') }}" data-transcriptde="{{ video_transcripts.einfache_suche_de }}" data-transcripten="{{ video_transcripts.einfache_suche_en }}" data-videolanguage="de">
                <i class="fas fa-question-circle text-white"></i>
            </a>
<form id="simple-search-form" class="form mb-0" method="get" action="{{ url_for('search.r_simple_search') }}">
    {{ g.search_form.simple_search_id }}
    <div class="form-row">
        <div class="col-auto ml-auto mb-0 mt-1">
            {% for corp in g.search_form.corpus %}
            <div class="form-check form-check-inline corpus-check">
                {% if 'elexicon' not in g.search_form.data.corpus %}
                {% if not loop.last %}{{corp(checked="", class="simpleTextCorpus", id=g.search_form.corpus.choices[loop.index0][0] + 'SimpleCheck')}}{% else %}{{corp(class="simpleLexiconCorpus", id="elexiconSimpleCheck")}}{% endif %} {{ corp.label(class="mb-0 align-top") }}
                {% else %}
                {% if not loop.last %}{{corp(class="simpleTextCorpus", id=g.search_form.corpus.choices[loop.index0][0] + 'SimpleCheck')}}{% else %}{{corp(checked="", class="simpleLexiconCorpus", id="elexiconSimpleCheck")}}{% endif %} {{ corp.label(class="mb-0 align-top") }}
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="form-row">
        {{ g.search_form.q_1(class="form-control my-0", placeholder=g.search_form.q_1.label.text, id="simple-search-q", list="simple-search-datalist", autocomplete="off") }}
        <datalist id="simple-search-datalist">
        </datalist>
    </div>
    <div class="form-row justify-content-between">
        <span id="simple-lemma-tooltip" data-toggle="tooltip" data-container="#simple-lemma-tooltip" title="{{ _('Die Lemmatasuche ist nur bei lateinischen Formeltexten möglich') }}" style="font-size: small;">{{ g.search_form.lemma_search(id="simple-lemma-checkbox") }} <span class="text-white p-0 align-top">{{ g.search_form.lemma_search.label(class="m-0") }}</span></span>
        <a id="advanced-search-link-tooltip" data-toggle="tooltip" data-container="#advanced-search-link-tooltip" class="nav-link text-white p-0 text-right relative-position" href="{{ url_for('search.r_advanced_search') }}" title="{{ _('Zur Seite der erweiterten Suche') }}">{{ _('Erweiterte Suche') }}</a>
    </div>
</form>
{% endif %}
