{% extends "main::container.html" %}
{% set previous_search_args = g.previous_search_args|default(session['previous_search_args']) %}
{% set previous_aggregations = g.previous_aggregations|default(session['previous_aggregations']) %}

{% block article %}
    <article>
    <header>
    {% if total_results > 0 %}
            <h1>{{ _('Suchergebnisse') }}: {{ total_results|string }} {{ _(' Treffer aus') }} <span id="aggs-all-docs" title="{{ _('Die Gesamtzahl der Dokumente in den gewählten Corpora.') }}">{{ aggs['all_docs']['doc_count']|string }}</span> {{ _('Dokumenten') }}<div class="btn-group dropright">
         <a type="button" id="searchStats" class="btn btn-link pl-1" data-container="body" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span id="searchTotal" title="{{ _('Mehr Statistiken') }}">Σ</span></a>
        <div class="dropdown-menu" aria-labelledby="searchStats">
            <div id="search-stat-table">
            <div class="table-header">
                <div class="table-cell">{{ _('Corpus') }}</div>
                <div class="table-cell">{{ _('Datierung') }}</div>
            </div>
            <div class="table-row">
                <div class="table-cell">
                    <div class="stat-sub-table">
                    {% for search_corp, corp_hits in aggs['corpus']['buckets']|dictsort %}
                    {% if aggs['all_docs']['corpus']['buckets'][search_corp]['doc_count'] != 0 %}
                    <div class="stat-sub-row"><div class="stat-sub-cell">{{ search_corp|replace(' ', '&nbsp;')|safe }}</div><div class="stat-sub-cell px-2 text-right" title="{{ _('Treffer')}}">{{ corp_hits['doc_count'] }}</div><div class="stat-sub-cell pr-2 text-right" title="{{ _('Gesamtzahl der Dokumente in diesem Corpus')}}">({{ aggs['all_docs']['corpus']['buckets'][search_corp]['doc_count'] }})</div></div>
                    {% endif %}
                    {% endfor %}
                    </div>
                </div>
                <div class="table-cell">
                    <div class="stat-sub-table">
                    {% if aggs['no_date']['doc_count'] != 0 %}<div class="stat-sub-row"><div class="stat-sub-cell">{{ _('k.A.') }}</div><div class="stat-sub-cell px-2 text-right" title="{{ _('Treffer')}}">{{ aggs['no_date']['doc_count'] }}</div><div class="stat-sub-cell pr-2 text-right" title="{{ _('Gesamtzahl der Dokumente ohne Datum')}}">({{ aggs['all_docs']['no_date']['doc_count'] }})</div></div>{% endif %}
                    {% for cent in aggs['range']['buckets'] %}
                    <div class="stat-sub-row"><div class="stat-sub-cell">{{ cent['key'] }}</div><div class="stat-sub-cell px-2 text-right" title="{{ _('Treffer')}}">{{ cent['doc_count'] }}</div><div class="stat-sub-cell pr-2 text-right" title="{{ _('Gesamtzahl der Dokumente in dieser Datumsspanne')}}">({{ aggs['all_docs']['range']['buckets'][loop.index0]['doc_count'] }})</div></div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    </h1>
        
    
    {% else %}
    <h1>{{ _('Suchergebnisse') }} ({{ total_results|string }} {{ _(' Treffer') }})</h1>
    {% endif %}
    </header>
    {% if posts|length == 0 %}
    <h4>{{ _("Keine Ergebnisse gefunden für") }} <span class="font-italic">{{ search_string }}</span>.</h4>
    {% endif %}
    {% if previous_search_args %}
    <div class="row search-subtitle-row">
        <div class="col-auto mr-auto search-subtitle"><a href="{{ url_for('search.r_advanced_search') }}{% if previous_search_args %}?{% for arg, val in previous_search_args.items() %}{% if arg != 'submit' %}{{arg}}={% if val=='False' %}{% elif arg=='corpus' %}{{val}}{% else %}{{ val }}{% endif %}{% if not loop.last %}&{% endif %}{% endif %}{% endfor %}{% endif %}">{{ _('Diese Suche ändern') }}</a></h5></div>
        <div class="col-auto mr-auto search-subtitle"><a href="#" id="searchDownload">{{ _('Suchergebnisse herunterladen') }}</a>
            <div class="spinner-border spinner-border-sm" id="searchDownloadSpinner" role="status"><span class="sr-only">Loading...</span></div>
        </div>
        <div class="col-auto">
            <div class="dropdown">
                <button class="btn btn-link dropdown-toggle search-subtitle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ _('Zeig nur Resultate aus:') }}
                </button>
                <div class="dropdown-menu corpora-search-results-dropdown">
                    <a class="dropdown-item" href="{{ url_for('search.r_results') }}?{% for arg, val in previous_search_args.items() %}{{arg}}={% if val==['False'] %}{% elif arg=='corpus' %}{{ previous_search_args['corpus']|replace('+', '%2B') }}{% else %}{{ val }}{% endif %}{% if not loop.last %}&{% endif %}{% endfor %}&old_search=True">{{ _('Zeig Alle Resultate') }}</a>
                    <div class="dropdown-divider"></div>
                    {% for corp in g.corpora %}
                        {% if 'corpus' in previous_aggregations and previous_aggregations['corpus']['buckets'][corp[1]]['doc_count'] != 0 %}
                        <span class="dropdown-item"><input class="corp-restrict-to" name="corpus" type="checkbox" value="{{ corp[0] }}"> {{ corp[1] }}</input></span>
                        {% endif %}
                    {% endfor %}
                    <span class="dropdown-item"><a href="{{ request.url }}" onclick="restrictSearch()" type="button" class="btn btn-sm btn-primary" id="restrictSearchButton" newUrl="#">{{ _('Los!') }}</a></span>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    
    {% if searched_lems|length > 0 %}
    <div class="row py-1 justify-content-center" id="lemma-search-row">
        <div class="col-auto ml-auto pr-1">
            <table id="lemma-search-table" class="table table-sm w-auto align-middle table-bordered">
                <thead>
                    <tr class="table-secondary">
                        <th colspan="{{ searched_lems|length }}">{{ _('Nach folgenden Lemmata Suchen') }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-secondary">
                        {% for lem in searched_lems %}
                            {% set outer_loop = loop %}
                            {% if lem|length == 1 %}
                                <td class="align-middle lem-to-search" value="{{ lem|list|first }}" checked="True">
                                {{ lem|list|first }}
                            {% else %}
                                <td class="align-middle">
                                {% for l in lem|sort %}
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="choice{{ outer_loop.index }}-{{ loop.index }}" name="customRadio{{ outer_loop.index }}" class="custom-control-input lem-to-search" value="{{ l }}">
                                    <label class="custom-control-label" for="choice{{ outer_loop.index }}-{{ loop.index }}">{{ l }}</label>
                                </div>
                                {% endfor %}
                            {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-auto mr-auto my-auto pl-1">
            <a onclick="makeLemmaSearch()" type="button" class="btn btn-sm btn-primary" id="lemmaSearchButton" newUrl="#" data-content="{{ _('Mindestens ein Lemma auswählen.') }}">{{ _('Suchen') }}</a>
        </div>
    </div>
    {% endif %}
    
    
    {% if total_results > 0 %}
    <div class="row py-1" id="results-sort-row">
        <table id="results-sort-table" class="table table-sm table-bordered">
            <thead>
                <tr>
                    <th colspan="5">{{ _('Sortieren nach') }}</th>
                </tr>
                <tr>
                    <th colspan="1">{{ _('Korpus') }}</th>
                    <th colspan="2">{{ _('Terminus post quem') }}</th>
                    <th colspan="2">{{ _('Terminus ante quem') }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="{{ sort_urls['urn'] }}">{{ _('Alphabetisch') }}</a></td>
                    <td><a href="{{ sort_urls['min_date_asc'] }}">{{ _('Aufsteigend') }}</a></td>
                    <td><a href="{{ sort_urls['min_date_desc'] }}">{{ _('Absteigend') }}</a></td>
                    <td><a href="{{ sort_urls['max_date_asc'] }}">{{ _('Aufsteigend') }}</a></td>
                    <td><a href="{{ sort_urls['max_date_desc'] }}">{{ _('Absteigend') }}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endif %}
    {% for post in posts %}
        <div class="card">
            {% if current_user.project_team or post['id'] in open_texts %}
            <div class="card-header py-0 text-center"><a href="{{ url_for('InstanceNemo.r_multipassage', objectIds=post['id'], subreferences='all') }}">
                {{ post['info']['title'] }}
            </a>{% if post['info']['date_string'] != ' ' %} ({{ post['info']['date_string'] }}){% endif %}{% if post['info']['orig_comp_ort']  != ' ' %} ({{ post['info']['orig_comp_ort'] }}){% endif %}</div>
            <div class="card-body py-0">
                {% for sent in post['sents'] %}
                <p class="card-text m-0"><small>- {{ sent }}</small></p>
                {% endfor %}
                {% if post['regest_sents'] %}
                <span class="regest-sents-heading">{{ _('Aus dem Regest:') }}</span>
                {% endif %}
                {% for sent in post['regest_sents'] %}
                <p class="card-text m-0"><small>- {{ sent }}</small></p>
                {% endfor %}
            </div>
            {% else %}
            <div class="card-header py-0 text-center"><a class="disabled" title="{{ _('Dieser Text unterliegt dem Urheberrecht und ist online nicht verfügbar. Bitte konsultieren Sie den Text in der gedruckten Ausgabe.') }}">
                {{ post['info']['title'] }}
            </a>{% if post['info']['date_string'] != ' ' %} ({{ post['info']['date_string'] }}){% endif %}{% if post['info']['orig_comp_ort']  != ' ' %} ({{ post['info']['orig_comp_ort'] }}){% endif %}</div>
            {% endif %}
        </div>
    {% endfor %}
    {% if last_url or first_url %}
    <nav aria-label="Search results pages">
        <ul class="pagination pagination-sm justify-content-center">
            <li class="page-item{{ ' disabled' if not first_url }}">
                <a class="page-link" href="{{ first_url or '#' }}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item{{ ' disabled' if not prev_url }}">
                <a class="page-link" href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>
            {% for p_url in page_urls %}
            {{ '...' if loop.index == 2 and p_url|first != 2 }}
            {{ '...' if loop.last and loop.previtem|first != p_url|first - 1 }}
            <li class="page-item{{ ' active' if p_url|first == current_page }}">
                <a class="page-link" href="{{ p_url|last }}">
                    {{ p_url|first }}
                </a>
            </li>
            {% endfor %}
            <li class="page-item{{ ' disabled' if not next_url }}">
                <a class="page-link" href="{{ next_url or '#' }}">
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>
            <li class="page-item{{ ' disabled' if not last_url }}">
                <a class="page-link" href="{{ last_url or '#' }}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    {% endif %}
    </article>
{% endblock %}

{% block additionalscript %}
<script>
    var downloadId = {{ 1|random_int(10000)|string }};
</script>
{% endblock %}
