{% extends "main::container.html" %}
{% block title %}Formulae - Litterae - Chartae: {{ _('Anmelden') }}{% endblock %}

{% block article %}
<article class="container-fluid" id="registration-article">
    <h1>{{ _('Anmelden') }}</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=64) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="mb-1">
            {{ form.default_locale.label(style="text-decoration: underline") }}<br>
        </p>
            {{ form.default_locale(class="list-unstyled mb-1") }}
            {% for error in form.default_locale.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        {{ form.submit(class="btn btn-outline-secondary") }}
    </form>
</article>
{% endblock %}
