{% extends "main::container.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}Formulae - Litterae - Chartae: {{ title }}{% endblock %}

{% block article %}
<article class="container-fluid" id="login-article">
    <header><h1>{{ title }}</h1></header>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=64) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</article>
{% endblock %}
