<p>{{ _('Sehr geehrte(r)') }} {{ user.username }},</p>
<p>
    {{ _('Um Ihr Passwort zurückzusetzen,') }}
    <a href="{{ url_for('.r_reset_password', token=token, _external=True) }}">
        {{ _('klicken Sie bitte hier') }}
    </a>.
</p>
<p>{{ _('Alternativ können Sie den folgenden Link in die Adressleiste Ihres Browsers einfügen:') }}</p>
<p>{{ url_for('.r_reset_password', token=token, _external=True) }}</p>
<p>{{ _('Wenn Sie das Zurücksetzen Ihres Passworts nicht angefordert haben, ignorieren Sie diese Nachricht einfach.') }}</p>
<p>{{ _('Mit freundlichen Grüßen,') }}</p>
<p>{{ _('Ihr Formulae - Litterae - Chartae Team') }}</p>
